$bg-bloc-avis: #f2f2f2;
.ym-bloc--add-image {
    margin-top: 0 !important;
}

.ym-bloc--add-avis,
.ym-bloc--add-image {
    border: 1px solid $light-color;
    background-color: $bg-bloc-avis;
    padding: 1em 2em;
    width: 100%;
    text-align: center;
    margin-top: 2.4em;


    button {
            display: inline-block;
            border: none;
            background: #e5c03e;
            padding: .2em 1em;
            text-transform: uppercase;
            font-size: 1.250em;
            font-family: $sans-font-bold;
            cursor: pointer;

            &:hover {
                background-color: $btn-hover;
            }
        }

    .add-avis__icon {
        display: inline-block;
        background: transparent url("../images/ywm-sprite.png") -200px -111px no-repeat;
        height: 29px;
        width: 28px;
    }

    .add-avis__title {
        font-size: 1.5em;
        text-transform: none;
        margin-bottom: 1em;
    }

    .add-avis__input {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        padding: .5em;
        border: none;
        font-size: .813em;
        font-family: $serif-font-2;
        font-style: italic;
    }

    textarea.add-avis__input {
        height: 95px;
        resize: none;
    }

    .add-avis__global-rating {
        @include clearfix();
        margin: 1.5em 0;

        .global-rating__title {
           display: inline-block;
            font-size: 1.125em;
            margin: 0 1.5em 0 -1em;
        }
        .rating__input {

            @include clearfix();
            display: inline-block;
            position: relative;
            vertical-align: middle;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 13px;
                height: 24px;
                top: 0;
                @include sprite(-72px, -297px);
            }
            &::before {
                left: -15px;
            }
            &::after {
                background-position: -84px -297px;
                right: -15px;
            }
        }
    }

    .adresse-feature__row {
        @include clearfix();
        margin-bottom: .5em;

        .adresse-feature__info {
            width: 86%;
        }

        .adresse-feature__icons {
            vertical-align: middle;
        }

        .feature-info__title {
            float: left;
            width: 50%;
            color: $dark-color;
            font-family: $serif-font-2;
        }

        .feature-info__rating {
            float: right;
            width: 50%;
        }
    }
}

// MODULE RATING
.rating__input {
    display: inline-block;

    .radio-rating {
        display: none;
        width: 20px;
        height: 23px;
        padding: 0;
        margin: 0 0 0 -20px;
        opacity: 0;
    }
    .rating-star {
        position: relative;
        float: right;
        display: block;
        margin-left: .15em;
        width: 20px;
        height: 23px;
        background:transparent url('../images/ywm-rate-stars.png') no-repeat;
        background-position: 0 0;
        cursor: pointer;
        transition: 300ms ease-in-out;
    }
}

.add-avis__points {

    .points__title {
        background: transparent url('../../images/ywm-filet.png') center center repeat-x;
        text-align: center;
        margin-bottom: .5em;
        span {
            background: $bg-bloc-avis;
            padding: 0 .5em;
            font-family: $hand-font;
            display: inline-block;
            font-size: 1.250em;
        }
    }

    .sentence-input {
        text-align: left;
        font-family: $serif-font-2;
        display: block;
        margin-bottom: .5em;

        input[type="checkbox"] {
            display: none;
            opacity: 0;
        }

        input[type="checkbox"]:checked ~ label {
            font-weight: bold;
            text-decoration: underline;
        }
        label {
            display: block;
            margin-bottom: 0;
            cursor: pointer;
            transition: 300ms;
            font-size: .875em;
        }
    }
}



.rating-star:hover,
.rating-star:hover ~ .rating-star,
.radio-rating:checked ~ .rating-star {
      background-position: 0 -23px;
  }


.add-avis__blog {
    margin-top: 2em;
    label {
        color: #474747;
        font-family: $serif-font-2;
        font-style: italic;
        margin-bottom: 1em;
        font-size: .875em;
        display: block;
    }
}

.add-avis__captcha {
    margin-bottom: 1.5em;
    p {
        color: #474747;
        font-family: $serif-font-2;
        font-style: italic;
        margin-bottom: 1em;
        font-size: .875em;
        display: block;
    }

    input {
        border: none;
        display: inline-block;
        vertical-align: middle;
        height: 28px;
        padding: .5em;
        font-family: $serif-font-2;
        font-style: italic;
    }

    img {
        display: inline-block;
        vertical-align: middle;
    }
}
