// ARTICLE FULL SIZE - .article-highlight
// Affiche un aperçu complet de l'article (categorie, author, titre, image, excerpt, et meta)
.article-highlight {
  height: 560px;
  position: relative;
  background-color: transparent;
  background: center top;
  background-size: cover;

  .article-highlight__content {
	background-color: #FFF;
	min-width: 80%;
	padding: .5em 2em 1em;
	position: absolute;
	left: 50%;
	bottom: 1em;
	transform: translateX(-50%);

	.article-highlight__header {
	  @include clearfix();
	  margin-bottom: 1em;

	  .article-highlight__user-pic {
		width: 60px;
		height: 60px;
		border-radius: 100%;
		float: left;
	  }

	  .article-highlight__name {
		float: left;
		margin-left: 1em;
		max-width: 430px;

		.article-highlight__title {
		  a {
			font-family: $sans-font-bold;
			text-transform: uppercase;
			font-size: 1.875em;
			color: $dark-color;

			&:hover {
			  text-decoration: underline;
			}
		  }
		}

		.article-highlight__publisher {
		  font-family: $serif-font;
		  font-size: .875em;

		  a { text-decoration: underline;}
		}
	  }
	}

	.article-highlight__excerpt {
	  p {
		font-family: $serif-font;
		font-size: .875em;
	  }
	}

	.article-highlight__info {
	  margin-top: 1em;
	  span:first-child {
		&::after {
		  content: "";
		  display: inline-block;
		  height: 1.3em;
		  vertical-align: bottom;
		  width: 1px;
		  background: $dark-color;
		  margin: 0 .5em;
		}
	  }
	}
  }
}

// ARTICLE SUMMARY INLINE - .article-summary--inline
// Affiche uniquement la catégorie, le titre du post et l'auteur

.article-summary {

	.article-summary__title {
		margin-bottom: .5em;
		padding-right: 10px;
		a {
			font-family: $sans-font-bold;
			text-transform: uppercase;
			font-size: 1.875em;
			color: $dark-color;
			&:hover {
			text-decoration: underline;
		}
		}
	}

	.article-summary__publisher {
		@include clearfix();
		margin-bottom: 2em;
		img {
			width: 30px;
			height: 30px;
			border-radius: 100%;
			display: inline-block;
			vertical-align: bottom;
			margin-right: .5em;
		}
		p {
			display: inline-block;
			font-family: $serif-font;
			font-size: .875em;

			a {
				text-decoration: underline;
			}
		}
	}

	&::after {
		content: "";
		display: block;
		height: 5px;
		width: 100%;
		background:transparent url('../images/ywm-filet.png') left top no-repeat;
	}
}


// ARTICLE SUMMARY BLOC - .article-summary--bloc
.article-row {
	@include clearfix();

	.article-summary--bloc {
		margin: 1em 0;
		float: left;
		width: 50%;
		padding: 0 1em 0 0;
		&::after { display: none;}
		&:last-child { padding-right: 0;}
	}

	.article-summary__thumbnail {
		max-width: 397px;
		height: 373px;
		background-size: cover;
	}

}

