.bloc-actu {
	width: 30%;
	float: right;
}


.bloc-actu__title {
	padding-bottom: .5em;
	margin: 1em 0;
	font-size: 1.5em;
	color: $orange-color;
	text-align: center;
	font-family: $sans-font-bold;
	text-transform: uppercase;
	border-bottom: 4px solid $orange-color;
}

.bloc-actu__item {
	@include clearfix();
	margin-bottom: .5em;
	.bloc-actu__preview {
		height: 24px;
		line-height: 24px;
		width: 24px;
		border-radius: 24px;
		overflow: hidden;
		float: left;
		text-align: center;
		border: 1px solid #EEE;

		.icon-avis {
			@include sprite(-51px, -74px);
			display: inline-block;
			width: 13px;
			height: 12px;
		}

		.icon-add-pic {
			@include sprite(0, -364px);
			display: inline-block;
			width: 13px;
			height: 15px;
		}
	}

	.bloc-actu__info {
		float: left;
		padding: .2em .5em;
	}

	.bloc-actu__item__link {
		color: $orange-color;
		&:hover {
			color: darken($orange-color, 10%);
			text-decoration: underline;
		}
	}
}
