.ym-bloc__image {
    display: inline-block;
    width: 255px;
    height: 260px;
    overflow: hidden;
    border: 1px solid $grey-color;
    margin-bottom: 1em;

    img {
        width: 100%;
        height: 100%;
    }
}

