.ym-bloc {
	float: left;
	width: 352px;
	text-align: center;
	margin: 40px 0 40px;
	position: relative;

	.ym-bloc__content {
		border: 1px solid $light-color;
		padding-bottom: 1em;

		.ym-bloc__pic {
			width: 100px;
			height: 100px;
			border-radius: 100%;
			margin-top: -3em;
			display: inline-block;
			overflow-y: hidden;

			> img {
				width: 100% !important;
				height: 100%;
			}
		}

		.add-friend {
			position: absolute;
			top: -45px;
			left: 58%;
		}

		.ym-bloc__username {
			font-family: $hand-font;
			font-size: 1.375em;
			margin: 0.2em 0 0.5em;
		}

		.ym-bloc__do {
			font-family: $sans-font-bold;
			font-size: 1.5em;
			line-height: 1;

			& +.ym-bloc__time {
				margin-top: 0;
			}
		}

		.ym-bloc__time {
			font-size: .875em;
			font-style: italic;
			color: $grey-color;
			margin: 1em auto 0.5em;
		}

		.ym-bloc__text {
			background:transparent url('../images/ywm-avis-bg.png') left top repeat;
			margin: 1em 2.250em;
			min-height: 104px;
			padding: 0 .5em;

			h4 {
				font-size: 1.125em;
				font-family: $serif-font-2;
				line-height: 1.25;
				font-weight: bold;
				font-style: italic;
				color: $dark-blue-color;

				&::before{
					content: "“";
					display: inline-block;
					margin-right: .2em;
				}

				 &:after {
					content: "”";
					display: inline-block;
					margin-left: .2em;
				 }
			}

			p {
				font-size: .875em;
				line-height: 22px;
			}
		}

		.ym-bloc__note {
			@include clearfix();

			.note-feature {
				@include clearfix();
				float: left;
				width: 50%;

				.adresse-feature__row {
					@include clearfix();
					margin-bottom: 5px;
				}
			}

			.note-count {
				float: left;
				width: 50%;
				&--large {
					float: none;
					width: 100%;
				}
			}

			.note-button {
				clear: both;
				text-align: center;
				a {
					display: inline-block;
					margin-top: 1em;
					border: none;
					background: #e5c03e;
					padding: .3em 1em;
					color: $dark-color;
					text-transform: uppercase;
					font-size: 1.250em;
					font-family: $sans-font-bold;
					cursor: pointer;
				 }
			}
		}
	}
}

