.bloc-activity {
	width: 254px;
	margin-right: 1.3em;
	position: relative;
	border: 1px solid $light-color;
	display: block;
	background-color: #FFF;
	&.mix {
		display: none;
	}
	&.no-margin {
		margin-right: 0;
	}
	.add-favorite {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 2;
	}
	.bloc-activity__thumb {
		height: 150px;
		width: 100%;
		background-size: cover;
	}
	.todo-activity__cover {
		width: 252px;
		height: 258px;
		display: block;
		overflow: hidden;
		img {
			transform: scale(1);
			transition: 800ms;
			transform-origin: center center;
		}
		&:hover {
			img {
				transform: scale(1.1) rotate(5deg);
			}
		}
	}
	.todo-activity__info {
		@include clearfix();
		padding: 1em 1em 0;
		text-align: center;
		.info-icon {
			width: 25%;
			float: left;
			padding: 0;
			@include icons();
		}
	}
	.todo-activiy__title {
		font-size: 1.3em;
		font-family: $sans-font-bold;
		text-align: left;
		text-transform: uppercase;
		float: left;
		width: 75%;
		a {
			color: $dark-color;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.todo-activity__summary {
		font-size: .875em;
		width: 75%;
		float: left;
		text-align: left;
		.meta-type {
			font-size: .85em;
			line-height: 1.5;
		}
	}
	.todo-activity__rating {
		padding: 1em 0;
	}
}

.meta-type {
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: $serif-font;
	font-size: .8em;
	color: #000;
	&:hover {
		text-decoration: underline;
	}
}

.meta-author {
	display: inline-block;
	vertical-align: middle;
}

.meta-author__link {
	text-transform: uppercase;
	font-family: $sans-font-bold;
	color: $dark-color;
	text-decoration: underline;
	font-size: 1.2em;
}

.ym-bloc__avis-activity {
	width: 300px;
	height: 178px;
	line-height: 150px;
	margin: 0 auto .5em;
	border: 1px solid $light-color;
	position: relative;
	@include clearfix();

	.activity__cover {
		float: left;
		width: 50%;
		height: 148px;
		min-height: 100%;
		background-repeat: no-repeat;
		background-color: $primary-color;
		background-size: cover;
	}

	.activity__info {
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}


	.activity__title {
		font-family: $sans-font-bold;
		margin: .2em 0;
		color: $dark-color;
		text-transform: uppercase;
		font-size: 1.5em;
	}

	p {
		padding: 0 1em .5em;
		line-height: 1.2;
		font-family: $serif-font;
		font-size: .9em;
	}

	.add-favorite {
		position: absolute;
		top: -50px;
		left: -20px;
	}
}

/**
 * BLOC ACTIVITE AVEC ADRESSE + PHOTO
 */
.ym-bloc__activity--photo {
	width: 85%;
	margin: 1em auto;
	display: block;

	.ym-bloc__image {
		width: 95%;
		margin: .5em auto;
	}

	.activity__title {
		margin: 0;
	}

	p {
		font-size: .875em;
	}
}
