.ym-btn {
	display: inline-block;
	padding: .3em .4em;
	font-size: 1.125em;
	text-transform: uppercase;
	color: $dark-color;
	font-family: $sans-font-bold;
	border: 1px solid $dark-color;
	cursor: pointer;
	background: none;
	transition: border-color 100ms, background 100ms, color 200ms;

	.ym-btn--icon {
		display: inline-block;
		margin-right: .5em;
		vertical-align: middle;
	}


	&:hover {
		color: $btn-hover;
		border-color: $btn-hover;

		//ICONS
		.icon--avis { @include sprite(-44px, -288px);}
	}
}


.icon--avis {
	width: 28px;
	height: 27px;
	@include sprite(-200px, -111px);
}

// BUTTON LIKE/ADRESSE ARTICLES
.button-like {
	font-size: 1.5em;
	line-height: 1;
	&::before {
		content: "";
		vertical-align: initial;
		display: inline-block;
		width: 30px;
		height: 28px;
		margin-right: .2em;
		@include sprite(-302px, -292px);
	}
}

.button-adresse {
 	font-size: 1.5em;
	line-height: 1;
	&::before {
		content: "";
		vertical-align: initial;
		display: inline-block;
		width: 21px;
		height: 32px;
		margin-right: .2em;
		@include sprite(-335px, -121px);
	}
}

// Button de retour
.ym-btn-back {
	display: inline-block;
	vertical-align: middle;
	padding-right: 1em;

	a {
		display: block;
		width: 34px;
		height: 28px;
		@include sprite(-257px, -113px);

		&:hover { animation: arrowMove 600ms ease-in 200ms;}
	}
}

// Bouton voir plus
.more-article {
	text-align: center;
	span { padding: .8em 1.2em;}
}


/**
 * Bouton connexion facebook
 * @ Page connexion/inscription
 */
.login-form__facebook {
	display: block;
	height: 55px;
	line-height: 60px;
	margin: .5em auto 0;
	cursor: pointer;

	text-transform: uppercase;
	font-size: 24px;
	color: #FFF;
	background: #3a5795;

	.icon-facebook {
		content: "";
		display: inline-block;
		vertical-align: text-bottom;
		margin-right: .5em;
		width: 39px;
		height: 37px;
		@include sprite(-325px, -343px)
	}
}

/**
 * Button container friend
 * @.Bin Page en ce moment
 */
.btn-friend__container {
	width: 80%;
	margin: 0 auto;
	clear: both;

	.ym-btn {
		width: 49.32%;
		text-align: center;
	}

	// button full reverse
	.ym-btn--full {
		width: 100%;
		margin-top: .5em;
		color: #FFF;
		border-color: $btn-hover;
		background-color: $btn-hover;
		transition: background 200ms, color 200ms;

		&:hover {
			background-color: transparent;
			color: $btn-hover;
		}
	}

}

.ym-btn--full {
	display: block;
	text-align: center;
}

.btn-avis {
	display: inline-block;
	padding: .5em 1em;
	text-transform: uppercase;
	border: 1px solid $dark-color;
	color: $dark-color;
	font-family: $sans-font-bold;
	font-size: 1.8em;
	line-height: 1;
	letter-spacing: 0.05em;
	&::before {
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 28px;
		height: 29px;
		margin-right: .5em;
		@include sprite(-200px, -111px);
	}

	&:hover {
		color: $btn-hover;
		border-color: $btn-hover;
		&::before {
			background-position: -45px -288px;
		}
	}
}
