$color-miam : #e87759;
$color-blogueuse : #414da1;
$color-truc-de-mums : #e8c660;

@mixin categorieBg($color) {
    background-color: $color;
    transition: 400ms;
    &:hover { background-color: darken($color, 15%);}
}

@mixin categorieLink($color) {
    color: $color;
    text-decoration: underline;
    transition: 200ms;
    &:hover { color: darken($color, 20%);}
}

.ym-categories {
  padding: .1em .3em;
  margin: .5em 0;
  display: inline-block;
  background-color: $light-color;

  font-family: $sans-font;
  text-transform: uppercase;
  color: #FFF;
  line-height: 1.2;
  font-size: 1.125em;
  letter-spacing: 0.05em;

  &.maman-blogeuse { @include categorieBg ($color-blogueuse);}
  &.miam { @include categorieBg ($color-miam);}
  &.truc-de-mums { @include categorieBg ($color-truc-de-mums);}
}


// CHANGEMENT DE LA COULEUR DES LIENS SUIVANT LA CATEGORIE
.categorie--miam {
  [class*='__publisher'] a {
    @include categorieLink($color-miam);
  }
}

.categorie--maman-blogeuse {
  [class*='__publisher'] a {
    @include categorieLink($color-blogueuse);
  }
}

.categorie--truc-de-mums {
  [class*='__publisher'] a {
    @include categorieLink($color-truc-de-mums);
  }
}
