// BOUTON AJOUT FAVORIS
.add-favorite {
	.add-favorite__icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-radius: 50px;
		border: 1px solid $light-color;
		background: #FFF;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		transition: 400ms;

		&:hover {
			border-color: $dark-color;
			&::after { @include sprite(0, -204px);}
		}

		&.is-added {
			border-color: $dark-color;
			&::before { opacity: .8; width: 50px; height: 50px;}
			&::after { @include sprite(0, -204px);}
		}

		&::before {
			content: '';
			position: absolute;
			top: 0; right: 0;
			bottom: 0; left: 0;
			background: $highlight-color;
			border-radius: 100%;
			z-index: 0;
			opacity: 0;
			width: 0;
			transition: all 200ms;
			animation-origin: center center;
		}

		&::after {
			content: '';
			display: inline-block;
			margin-top: 10px;
			z-index: 1;
			position: relative;
			width: 25px;
			height: 30px;
			@include sprite(0, -75px);
		}
	}
}

// Liste des users
.in-favorite {
	margin-top: .5em;
	&__title {
		display: block;
		vertical-align: middle;
		margin-bottom: .5em;
	}

	&__pic {
		display: inline-block;
		vertical-align: middle;
		height: 24px;
		width: 24px;
		background-color: $primary-color;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 24px;
		margin-right: .2em;

		&__more {
			line-height: 22px;
			text-align: center;
			font-size: 2em;
			color: rgba($dark-color, .4);
		}
	}
}
