// Reset des éléments de formulaire
input,
select {
	border-radius: 0;
}

.ym-form {
	width: 600px;
	margin: 0 auto;

}

.ym-form__heading {
	text-transform: uppercase;
	font-family: $sans-font-bold;
	font-size: 42px;
	text-align: center;
	margin: 40px auto;
}

.ym-form__subheading {
	text-transform: uppercase;
	font-family: $sans-font-bold;
	font-size: 20px;
	text-align: center;
	margin: 40px auto;
}

.ym-form__fields {
}

.field__row {
	margin: 1em;
	position: relative;
	@include clearfix();
	font-family: $serif-font;

	&--conditions {
		text-align: center;
		margin-top: 40px;
	}

	&__pic {
		text-align: center;
		width: 50%;
		float: left;
		.pic-user {
			display: inline-block;
			width: 128px;
			height: 128px;
			border-radius: 100%;
			position: relative;
			overflow: hidden;
			&:hover {
				.pic-user__change {
					opacity: 1;
					visibility: visible;

					i {
						transform: translate(-50%,-50%);
					}
				}
			}
			&__change {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: 0; left: 0;


				height: 128px;
				width: 128px;
				background: rgba(#000, .8);

				i {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,0);
				}
			}
		}
	}

	.invalidatedfield,
	.validatedfield {
		top: 10px;
	}
}

.field__label {
	width: 40%;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	float: left;
	text-align: left;
	padding: 10px 20px;

	&--bloc {
		display: block;
		width: 100%;
		float: none;
		font-size: 14px;
		padding: 10px 20px;
	}

	&--required {
		&::after {
			content: '*';
			font-family: $sans-font;
			font-size: 16px;
			color: red;
			margin-left: 2px;
		}
	}
}

.field__input {
	width: 50%;
	float: left;
	height: 35px;
	border: 1px solid $light-color;
	padding: 0 10px;

	font-family: $sans-font;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .07em;

	&:focus {
		border: 1px solid $highlight-color;
	}

	&--file {
		margin-top: 10px;
	}

	&--select{
		appearance:none;
		-moz-appearance:none; /* Firefox */
		-webkit-appearance:none; /* Safari and Chrome */
		cursor: pointer;
		background: transparent url('../images/ywm-arrow-select.jpg') 95% center no-repeat;
	}

	&--textarea {
		resize:  vertical;
		height: 100px;
		padding: 10px;
		border: 1px solid $light-color;
		text-transform: none;
	}
}

.label__checkbox {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	a {
		color: $primary-color;
		&:hover {
			color: $primary-color-dark;
			text-decoration: underline;
		}
	}
}
.field__checkbox {
	display: none;
	& + .label__checkbox {
		&::before {
			content: '';
			display: inline-block;
			position: relative;
			width: 16px;
			height: 16px;
			cursor: pointer;
			vertical-align: bottom;
			border-radius: 16px;
			margin-right: 10px;

			border: 1px solid #000;
			transition : 200ms;
		}

		&::after {
			content: '';
			position: absolute;
			height: 10px;
			width: 10px;
			left: 3px; top: 3px;
			background: $red-color;
			border-radius: 10px;
			transform: scale(0);
			transition : 200ms;
		}
	}

	&:checked + .label__checkbox {
		&::before {
			border-color: $red-color;
		}
		&::after {
			transform: scale(1);
		}
	}
}

.form-button {
	background: $red-color;
	border: none;
	padding: .5em 2em;
	display: block;
	margin: 40px auto 20px;
	cursor: pointer;

	color: #FFF;
	font-family: $sans-font-bold;
	font-size: 1.563em;
	text-transform: uppercase;

	&:hover {
		background-color: darken($red-color, 10%);
	}
}

/**
 * SEARCH BAR
 */
.search-bar {
	@include clearfix();
	position: relative;
	padding-top: .2em;
	float: right;
	.search-bar__field {
		width: 200px;
		height: 35px;
		padding: 0 .5em;

		font-size: 1.1em;
		text-transform: uppercase;
		font-family: $sans-font;

		background: #FFF;
		border: 1px solid #b5b5b5;

		transition: border-color 200ms;

		&:focus,
		&:focus ~ button {
			border-color: $highlight-color;
		}

		&:focus ~ button {
			background: $highlight-color;
		}
	}
	.search-bar__button {
		height: 35px;
		margin-left: -5px;
		padding: 0 1em;
		display: inline-block;
		vertical-align: bottom;

		color: #FFF;
		font-size: 1.1em;
		font-family: $sans-font;

		background-color: #b5b5b5;
		border: 1px solid #b5b5b5;
		cursor: pointer;

		transition: border-color 200ms, background-color 200ms;
	}
}

.lost-password {
	text-transform: uppercase;
	color: #000;
	text-align: center;
	display: inline-block;
	&:hover {
		text-decoration: underline;
	}
}

.select-input__field {
	padding: 0 2.8em .0 .5em;

	font-size: 1.3em;
	font-family: $sans-font;


	border: 1px solid #b5b5b5;

	transition: border-color 200ms;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

.submit-button {
	display: block;

	text-transform: uppercase;
	color: #FFF;
	font-family: $sans-font-bold;

	border: none;
	background: $primary-color url('../images/texture-btn.png');

	cursor: pointer;

	&--reverse {
		color: $dark-color;
		background: #e5c03e url('../images/ywm-texture-form-button-reverse.png');
	}

	&--light {
		color: #FFF;
		background: transparent url('../images/ywm-texture-form-button-light.png');
	}
}


.field--avis {
	.invalidatedfield,
	.validatedfield {
		top: 8px;
	}
}


.text_comment {
	position: relative;
	font-size: .8em;
	.invalidatedfield {
		display: inline-block;
		vertical-align: middle;
		margin: 0 .1em;
	}
}
