.ym-friends__list {
	text-align: center;
}

.ym-friend {
	float: left;
	position: relative;
	text-align: center;
	vertical-align: bottom;
	margin: 0 1em 1em 0;
	min-height: 150px;
	width: 106px;

	&::before {
		content: "";
		display: block;
		width: 25px;
		height: 14px;
		margin: 0 auto 3px;
		background: transparent url("../images/ywm-crown.png") no-repeat 0 0;
		opacity: .1;
	}
	&.mix-friend {
		display: none;
	}
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		.ym-friend__name {
			text-decoration: underline;
		}
	}
	.ym-friend__pic {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		display: inline-block;
		background: $primary-color;
		margin-bottom: .2em;
		overflow: hidden;
		position: relative;
		img {
			transition: 400ms;
		}
	}
	.ym-friend__name {
		font-weight: bold;
		font-size: .875em;
		line-height: 1;
	}
	.ym-friend__location {
		font-size: .875em;
	}
}

/**
 * Action sur la class toggle-friend
 */
.toggle-friend {
	&.is-familly {
		&::before {
			opacity: 1;
		}
		> .add-familly {
			background-color: #ef7b7b;
			&::before {
				content: "-";
			}
		}
	}
	&.is-friend {
		.add-familly {
			visibility: visible;
			transform: scale(1);
		}
		> .add-friend {
			background: #ef7b7b;
			border-color: $dark-color;
			&::after {
				content: "-";
			}
		}
	}
}

.add-friend {
	position: absolute;
	right: 0;
	top: -5px;
	overflow: hidden;
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 30px;
	font-family: $serif-font;
	font-size: 2em;
	text-align: center;
	color: $dark-color;
	border-radius: 38px;
	border: 1px solid $light-color;
	background: #FFF;
	cursor: pointer;
	transition: 400ms;
	&--small {
		width: 24px;
		height: 24px;
		line-height: 16px;
		font-size: 26px;
		right: 10px;
		top: 10px;
	}
	&::after {
		content: "+";
	}
	&:hover {
		border-color: $dark-color;
	}
}

.add-familly {
	display: block;
	background: #8ecbb0;
	text-transform: uppercase;
	color: #FFF;
	padding: 0 .2em;
	margin: 5px auto;
	height: 17px;
	line-height: 17px;
	width: 80px;
	visibility: hidden;
	transform: scale(0);
	transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1);
	cursor: pointer;
	&::before {
		content: '+';
		display: inline-block;
		margin-right: 2px;
		font-size: 1.5em;
		line-height: 1px;
	}
}

.view-profil {
	display: block;
	background: #000;
	color: #FFF;
	padding: 0 .2em;
	height: 17px;
	line-height: 17px;
}

.ym-friend__info {
	&__meta {
		display: inline-block;
		margin: 2px;
		i {
			display: inline-block;
			width: 15px;
			&::before {
				content: '';
				display: inline-block;
				height: 12px;
				width: 13px;
				margin-right: 0;
			}
		}
		.meta--address::before {
			@include sprite(-51px, -74px);
		}
		.meta--avis::before {
			@include sprite(-64px, -74px);
			width: 8px;
		}
	}
}

.request-familly {
	margin-top: 5px;
	text-align: center;
	@include clearfix();

	&__accept {
		background-color: #8ecbb0;
	}

	&__reject {
		background-color: #ef7b7b;
	}

	span {
		text-transform: uppercase;
		padding: 0 .2em;
		cursor: pointer;
		color: #FFF;
	}
}

.mix-share {
	display: none;
}
