.modal {
	.modal-open & {
		visibility: visible;
		opacity: 1;
	}

	visibility: hidden;
	opacity: 0;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#000, .3);
	z-index: 9999;

	transition: opacity 600ms;

	&__dialog {
		position: fixed;
		top: 50%;
		left: 50%;

		background: #FFF;

		transform: translate(-50%,-70%);
		transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		.modal-open & {
			transform: translate(-50%,-50%)
		}
	}

	&__header {
		padding: 30px 30px 20px;
		border-bottom: 1px solid #EEE;
		margin-bottom: 40px;

		&__close {
			cursor: pointer;
			position: absolute;
			top: 30px;
			right: 15px;
			height: 30px;
			width: 30px;
			line-height: 24px;
			font-family: sans-serif;
			font-size: 1.2em;
			text-align: center;
			color: #000;
			background: none;
			border: 1px solid #D1D1D1;
			transition: 200ms;

			&:hover {
				background: #C6E4D7;
				border-color: #C6E4D7;
				color: #FFF;
			}
		}

		&__title {
			font-size: 2em;
			font-family: $sans-font-bold;
			text-transform: uppercase;
		}
	}
}
