.comments-note {
	span {
		display: block;

		&.comments-note__count {
			width: 51px;
			height: 51px;
			line-height: 51px;
			text-align: center;
			margin: .2em auto;
			background: $highlight-color;
			color: #FFF;
			font-family: $sans-font-bold;
			font-size: 2.781em;
			border-radius: 51px;
		}

		&.comments-note__title {
			text-align: center;
			color: $highlight-color;
			font-family: $sans-font-bold;
			text-transform: uppercase;
			font-size: 1.5em;
		}
	}
}


.comment-note__stars {
	background: transparent url('../images/ywm-stars.png') 0 0 no-repeat;
	margin: .2em auto;
	width: 106px;
	height: 21px;
	display: inline-block;
	// Affichage des étoiles pour les notes
	&.note-stars--1 { background-position: 0 -21px;}
	&.note-stars--2 { background-position: 0 -42px;}
	&.note-stars--3 { background-position: 0 -63px;}
	&.note-stars--4 { background-position: 0 -84px;}
	&.note-stars--5 { background-position: 0 -105px;}
}

