// Modules de pagination
.pagination {
	padding: 1em 0;
	text-align: center;
	// Fleches
	&__prev,
	&__next {
		display: inline-block;
		width: 25px;
		height: 16px;
		vertical-align: middle;
		cursor: pointer;
		&:hover {
			animation: arrowMove 600ms ease-in 200ms;
		}
	}

	&__first-page,
	&__last-page {
		width: 21px;
		height: 16px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	&__first-page {
		@include sprite(-144px, -257px);
		margin-right: .5em;
	}

	&__prev {
		@include sprite(-119px, -257px);
		margin-right: .5em;
	}

	&__next {
		@include sprite(-119px, -242px);
		margin-left: .5em;
	}

	&__last-page {
		@include sprite(-144px, -242px);
		margin-left: .5em;
	}

	// Texte
	&__count {
		display: inline-block;
		vertical-align: middle;
	}
}
