// Module vars
$bg-schedule: #f2f2f2;

.schedule {
	padding: 1em;
	background-color: $bg-schedule;
	border: 1px solid $light-color;
	@include clearfix();
}

.form__left {
	float: left;
	text-align: center;
	width: 70%;
}

.form__right {
	float: left;
	width: 30%;
}

// Bloc "je réserve"
.schedule-booking {
	position: relative;
	float: left;
	width: 60%;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		background:transparent url('../images/ywm-filet-vertical.png') left top no-repeat;
	}

	&__title {
		text-transform: uppercase;
		font-family: $sans-font-bold;
		font-size: 1.2em;
	}

	&__date {
		margin-bottom: .3em;
		font-family: $sans-font-bold;
		font-size: 2em;
		text-align: center;
	}

	.select-input__field {
		margin-bottom: .3em;
		background: #FFF url('../images/arrow-box-select.png') no-repeat right top;
	}

	.submit-button {
		width: 155px;
		height: 61px;
		margin-top: 2em;
		font-size: 1.5em;
	}
}

// Bloc listant les autres dates dispos
.schedule-availability {
	position: relative;
	padding: 0 10px;
	float: left;
	width: 20%;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		background:transparent url('../images/ywm-filet-vertical.png') left top no-repeat;
	}

	&__title {
		text-transform: uppercase;
		font-family: $sans-font-bold;
		font-size: 1.2em;
		margin-bottom: .8em;
	}

	.schedule-availability__others {
		margin-left: 2em;
		li {
			font-size: 1.125em;
			margin-bottom: .2em;
			a {
				color: $dark-color;
			}
		}
	}
}

// Bloc de recherche d'autres dates
.schedule-search {
	float: left;
	width: 20%;
	padding: 0 15px 0 10px;

	&__title {
		text-transform: uppercase;
		font-family: $sans-font-bold;
		font-size: 1.2em;
		margin-bottom: .8em;
	}

	.select-input__field {
		width: 100%;
		height: 27px;
		margin-bottom: .5em;
		background: #FFF url('../images/schedule-box-select.png') no-repeat right top;
	}

	.submit-button {
		margin: 0 auto;
		width: 153px;
		height: 60px;
		font-size: 1.5em;
	}
}
