.ym-search {
	@include clearfix();
	padding: 0 4em;
	margin-bottom: 3em;
	position: relative;
	z-index: 3;
	form {
		position: relative;
	}
}

.ym-search__doing {
	float: left;
	width: 50%;
	text-align: center;
	position: relative;

	&::before {
		content: "";
		width: 54px;
		height: 47px;
		z-index: 101;
		position: absolute;
		top: 10px;
		left: -20px;
		@include sprite(0, 0);
	}

	&.is-expand {

		.ym-search__select {
			&::after { transform: rotate(180deg);}
		}

		.search-box__type {
			transform: translateY(0) ;
			opacity: 1;
			visibility: visible;
		}
	}

	.ym-search__select {
		width: 100%;
		border: 1px solid $light-color;
		height: 60px;
		line-height: 60px;
		padding: 0 30px 0 40px;
		text-transform: uppercase;
		background: #FFF;
		font-family: $sans-font-bold;
		font-size: 1.25em;
		letter-spacing: 0.05em;
		position: relative;
		z-index: 99;
		cursor: pointer;
		user-select: none;

		&::after {
			content:'';
			background: transparent url('../images/ywm-arrow-select.jpg') 0 0 no-repeat;
			position: absolute;
			right: 5%;
			top: 45%;
			width: 10px;
			height: 6px;
			transform: rotate(0deg);
			transition: transform 600ms;
		}
		.ym-placeholder {
			overflow: hidden;
			&__txt{ color: $light-color;}
		}
	}

	.search-box__type {
		position: absolute;
		background: #FFF;
		visibility: hidden;
		z-index: 98;
		transform: translateY(-60%) ;
		opacity: 0;
		padding-top: 2em;
		margin-top: -2em;
		border-right: 1px solid $light-color;
		border-left: 1px solid $light-color;
		border-bottom: 1px solid $light-color;

		transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

		.type--activites {
			width: 100%;
			text-align: center;
			float: none;

			&::after {
				content: "";
				display: block;
				height: 1px;
				width: 30%;
				margin: 2em auto 0;
				background: #000;
			}
		}
		.type--adresse {
			float: none;
			text-align: center;
			width: 100%;
			border: none;
		}
	}
}

.ym-search__location {
	float: left;
	width: 50%;

	::-webkit-input-placeholder { color: $light-color;}
	:-moz-placeholder { color: #000; opacity: .2;}
	::-moz-placeholder { color: #000; opacity: .2;}
	:-ms-input-placeholder { color: $light-color;}

	.input-search {
		width: 100%;
		font-size: 1.25em;
		padding-right: 190px;
		color: $blue-color;
		border-left: none;

		&:focus {
			border-color: $light-color;
		}
	}

	.location-city {
		right: 163px;
	}
}

.ym-search__submit {
	position: absolute;
	top: 0; right: 1px;
	height: 59px;
	width: 153px;
	border: none;
	outline:none;

	text-transform: uppercase;
	font-family: $sans-font-bold;
	font-size: 1.275em;
	color: #FFF;
	letter-spacing: 0.05em;

	background: transparent url('../images/ywm-texture-search-button.png') left top no-repeat;
	cursor: pointer;
}


.tag-type {
	display: inline-block;
	margin: 0.2em;

	.ym-placeholder & {
		margin: 0 0.2em;
		vertical-align: sub;
	}

	&::before {
		content: '';
		display: inline-block;
	}

	&--expos {
		&::before {
			@include sprite(0, -385px); width: 21px; height: 30px;
		}
	}

	&--spectacles {
		&::before {
			@include sprite(-21px, -385px); width: 29px; height: 30px;
		}
	}

	&--ateliers {
		&::before {
			@include sprite(-50px, -385px);
			width: 28px;
			height: 30px;
			left: 3px;
		}
	}

	&--parents {
		&::before {
			@include sprite(-78px, -385px);
			width: 23px;
			height: 30px;
			left: 5px;
		}
	}
	&--airs {
		&::before {
			@include sprite(-101px, -385px );
			width: 22px;
			height: 30px;
			left: 5px;
		}
	}
	&--loisirs {
		&::before {
			@include sprite(-123px, -385px);
			width: 26px;
			height: 30px;
		}
	}

	&--cultures {
		&::before {
			@include sprite(-149px, -385px);
			width: 27px;
			height: 30px;
		}
	}

	&--table {
		&::before {
			@include sprite(-176px, -385px);
			width: 17px;
			height: 30px;
			left: 5px;
		}
	}
	&--shopping {
		&::before {
			@include sprite(-193px, -385px);
			width: 19px;
			height: 30px;
			left: 7px;
		}
	}
	&--voyages {
		&::before {
			@include sprite(-212px, -385px);
			width: 28px;
			height: 30px;
		}
	}
	&--pratique {
		&::before {
			@include sprite(-240px, -385px);
			width: 22px;
			height: 30px;
			left: 5px;
		}
	}
}

// Résultats de recherche affiché dans la barre de recherche
.ym-search-result {
	@include clearfix();
	padding: 0 4em;
	height: 60px;
	margin-bottom: 2em;

	.bar-result__label {
		float: left;
		font-family: $sans-font-bold;
		text-transform: uppercase;
		font-size: 1.438em;
		line-height: 60px;
		margin-right: .5em;
	}

	.bar-result__container {
		float: left;
		display: table;
		width: 660px;
		height: 60px;
		padding: 0 1em;
		text-align: center;
		border: 1px solid $light-color;

		& > [class*="bar-result__"] {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}


		.bar-result__age {
			min-width: 190px;
			.tag-age {
				display: inline-block;
				height: 44px;
				width: 44px;
				margin: 0 .2em;

				&--baby { @include sprite(-81px, -154px);}
				&--1 { @include sprite(-125px, -154px);}
				&--2 { @include sprite(-169px, -154px);}
				&--3 { @include sprite(-213px, -154px);}
				&--4 { @include sprite(-213px, -242px);}
				&--5 { @include sprite(-257px, -154px);}
				&--mes-enfants { @include sprite(-169px, -242px);}
			}

			&::before {
				content: "+";
				display: inline-block;
				font-size: 1.85em;
				font-family: $sans-font-bold;
				margin-right: .5em;
				vertical-align: super;
			}
		}

		.bar-result__location {
			&::before {
				content: "+";
				display: inline-block;
				font-size: 1.85em;
				font-family: $sans-font-bold;
				margin-right: .5em;
			}
			span {
				margin-top: -5px;
				text-transform: uppercase;
				font-family: $sans-font-bold;;
				color: $link-color;
				font-size: 1.338em;
			}
		}
	}


	.bar-result__modify {
		float: right;
		width: 155px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		cursor: pointer;
		background:transparent url('../images/ywm-bg-modify.jpg') left top no-repeat;

		span {
			color: #FFF;
			font-family: $sans-font-bold;
			text-transform: uppercase;
			font-size: 1.275em;
			margin-left: 1.7em;
		}
	}
}
