.ym-search-box {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	z-index: 8;
	left: 0;
	right: 0;
	background: #FFF;
	top: 178px;
	transform: translateY(-100px);
	opacity: 0;
	transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	@include clearfix;

	&::before,
	&::after {
		content: "";
		display: block;
		height: 16px;
		width: 1100px;
		background:transparent url('../images/ywm-sep-search.png') 15px top repeat-x;
	}

	&::after  {
		height: 2px;
		background-position: 0 -16px;
	}

	&.is-open {
		visibility: visible;
		opacity: 1;
		transform: translateY(-50px);

		.search-box__content {
			opacity: 1;
			transform: translateY(0);
		}
	}

}


.search-box__advanced {
	display: block;
	transition: all .3s;
}
.search-box__free {
	display: none;
	transition: all .3s;
}

.search-box__content {
	padding: 2em 0;
	position: relative;

	transform: translateY(-100px);
	opacity: 0;
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms;

	.search-box--close {
		text-align: right;
		cursor: pointer;
		margin-right: 20px;
		span {
			display: inline-block;
			height: 33px;
			width: 33px;
			line-height: 33px;
			text-align: center;
			font-family: sans-serif;
			font-weight: bold;
			color: #000;
			border: 1px solid $light-color;

			transition: .2s;

			&:hover {
				background: $primary-color;
				border-color: $primary-color;
				color: #FFF;
			}
		}
	}
}
.search-box__age {
	margin-top: 1em;
	text-align: center;
	.checkbox-age {
		display: inline-block;

		input[type=checkbox] {
			display:none;

			+ label {
				display: block;
				height: 44px;
				width: 44px;
				padding: 0;
				margin: 0 .2em;
				cursor: pointer;
				opacity: .5;

				transition: opacity .2s;

				&:hover{ opacity: .8;}

				&.bebe 			{ @include sprite(-81px, -198px);}
				&.age-1 		{ @include sprite(-125px, -198px);}
				&.age-2 		{ @include sprite(-169px, -198px);}
				&.age-3 		{ @include sprite(-213px, -198px);}
				&.age-4 		{ @include sprite(-232px, -286px);}
				&.age-5 		{ @include sprite(-257px, -198px);}
				&.mes-enfants	{ @include sprite(-188px, -286px);}
			}

			&:checked + label {
				opacity: 1;
				&.bebe 			{ @include sprite(-81px, -154px);}
				&.age-1 		{ @include sprite(-125px, -154px);}
				&.age-2 		{ @include sprite(-169px, -154px);}
				&.age-3 		{ @include sprite(-213px, -154px);}
				&.age-4 		{ @include sprite(-213px, -242px);}
				&.age-5 		{ @include sprite(-257px, -154px);}
				&.mes-enfants 	{ @include sprite(-169px, -242px);}
			}
		}
	}
}

.search-box__city {
	margin: 2em auto;
	width: 535px;
	position: relative;

	.btn-search {
		margin-top: 0;
	}
}

.input-search {
	display: inline-block;
	height: 60px;
	width: 535px;
	border: 1px solid $light-color;
	padding: 0 60px;
	text-transform: uppercase;
	font-family: $sans-font-bold;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	text-align: center;
	background: #FFF url('../images/ywm-locator.png') 20px center no-repeat;

	&:focus {
		border-color: $highlight-color;
	}
}

input:focus ~ .location-city { @include sprite(-25px, -74px);}
.location-city {
	position: absolute;
	top: 20px;
	right: 20px;
	border: none;
	box-shadow: none;

	height: 24px;
	width: 25px;
	@include sprite(-48px, -50px);

	cursor: pointer;
}



.search-box__type {
	margin:0 auto;
	max-width: 760px;
	@include clearfix();

	&--oneline {
		width: 100%;
		padding: 1em 0;
		text-align: center;
		max-width: 100%;
	}

	h4 {
		font-family: $sans-font-bold;
		font-size: 1.125em;
		text-transform: uppercase;
		margin-bottom: .5em;
	}

	.type--activites {
		float: left;
		width: 50%;
		text-align: right;
		padding: 1em;
	}

	.type--adresse {
		float: right;
		width: 50%;
		padding: 1em;
		text-align: left;
		border-left: 1px solid $dark-color;
	}

	.checkbox-type {
		display: inline-block;
		width: 70px;
		margin: .2em;

		span {
			padding: .2em .1em;
			text-align: center;
			display: block;
			text-transform: uppercase;
			font-family: $sans-font-bold;
			color: #C7C7C7;
			letter-spacing: 0.019em;
			transition: .2s;
		}

		input:checked ~ span,
		&.active span {
			background: #000;
			color: #FFF;
		}

		input[type="checkbox"] {
			display:none;

			+ label {
				display: block;
				padding: 0;
				margin: 0 auto .3em;
				cursor: pointer;
				opacity: .6;

				transition: .2s;

				&:hover{opacity: .8;}

				&.type-ateliers { @include sprite(-183px, 0); width: 52px; height: 58px;}
				&.type-spectacles { @include sprite(-234px, 0); width: 52px; height: 51px;}
				&.type-expos { @include sprite(-193px, -58px); width: 34px; height: 53px;}
				&.type-parents { @include sprite(-228px, -58px); width: 36px; height: 46px;}

				&.type-airs { @include sprite(-285px, 0); width: 50px; height: 57px;}
				&.type-loisirs { @include sprite(-314px, -61px); width: 50px; height: 59px;}
				&.type-cultures { @include sprite(-264px, -58px); width: 49px; height: 55px;}
				&.type-table { @include sprite(-335px, 0); width: 31px; height: 57px;}
				&.type-shopping { @include sprite(-366px, 0); width: 32px; height: 46px;}
				&.type-voyages { @include sprite(-151px, -45px); width: 34px; height: 50px;}
				&.type-pratique { @include sprite(-100px, -45px); width: 37px; height: 50px;}
			}

			&:checked + label,
			.active &:checked + label{
				opacity: 1;
			}
		}

	}
}

.search-box__buttons {
	text-align: center;
	position: relative;
}

.btn-search {
	height: 61px;
	width: 154px;
	border: none;
	margin-top: 1em;

	text-transform: uppercase;
	font-family: $sans-font-bold;
	font-size: 1.375em;
	color: #FFF;
	letter-spacing: 0.05em;
	background-color: #9ed7c6;
	cursor: pointer;

	&:hover {
		background-color: darken(#9ed7c6, 10%);
	}
}

.btn-search--reset {
	display: none;
	margin: 0 auto;
	padding: 0.2em 2.5em;
}

.btn-search--free {
	position: absolute;
	right: 20px;
	bottom: 10px;
	background-color: #FFF;
	font-family: $sans-font;
	font-size: 1.125em;
	border: 1px solid $light-color;
	padding: .5em 1.5em;
	cursor: pointer;

	transition: .2s;

	&:hover {
		color: #FFF;
		border-color: $primary-color;
		background-color: $primary-color;
	}
}

// RECHERCHE LIBRE
.search-box__free {
	padding: 3em 0 5em;

	.input-search {
		padding-right: 140px;
		padding-left: 70px;
		background: #FFF url('../images/ywm-search.png') 10px center no-repeat;
		&:focus { border-color: $primary-color;}
	}
	.btn-search {
		width: 135px;
		position: absolute;
		top: 0; right: 0;
	}

	.btn-search--free {
		bottom: -70px;
	}
}


.type-ateliers--small { @include sprite(0, -385px); width: 21px; height: 30px;}
.type-spectacles--small { @include sprite(-21px, -385px); width: 29px; height: 30px;}
.type-expos--small { @include sprite(-50px, -385px); width: 28px; height: 30px;}
.type-parents--small { @include sprite(-78px, -385px); width: 23px; height: 30px;}

.type-airs--small { @include sprite(-101px, -385px ); width: 22px; height: 30px;}
.type-loisirs--small { @include sprite(-123px, -385px); width: 26px; height: 30px;}
.type-cultures--small { @include sprite(-149px, -385px); width: 27px; height: 30px;}
.type-table--small { @include sprite(-176px, -385px); width: 17px; height: 30px;}
.type-shopping--small { @include sprite(-193px, -385px); width: 19px; height: 30px;}
.type-voyages--small { @include sprite(-212px, -385px); width: 28px; height: 30px;}
.type-pratique--small { @include sprite(-240px, -385px); width: 23px; height: 30px;}
