.share-box {
	background: #FFF;
	width: 309px;
	text-align: left;
	overflow-x: hidden;
	@include clearfix();
	box-shadow: 0px 34px 26px rgba(#000, .2);
	opacity: 0;
	visibility: hidden;
	transition: opacity 200ms, top 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&.is-open {
		opacity: 1;
		top: 89px;
		visibility: visible;
	}

	&::before {
		content: '';
		display: block;
		width: 309px;
		height: 24px;
		background:transparent url('../../images/ywm-filet-arrow-top.png') left top no-repeat;
	}

	&::after {
		content: '';
		display: block;
		width: 309px;
		height: 7px;
		background-size: cover;
		background:transparent url('../../images/ywm-filet.png') left top no-repeat;
	}

	&__close {
		position: absolute;
		top: 35px;
		right: 10px;
		height: 20px;
		width: 20px;
		line-height: 20px;
		text-align: center;
		font-family: sans-serif;
		font-weight: bold;
		color: #000;
		border: 1px solid #D1D1D1;
		cursor: pointer;
		opacity: .5;
		&:hover {
			opacity: 1;
		}
	}

	&__container {
		@include clearfix();
		width: 309px + 309px;
		transition: transform 400ms;
		&.is-sliding {
			transform: translatex(-309px);
		}
	}

	&__step1,
	&__step2 {
		width: 50%;
		float: left;
	}

	&__step2 {
		padding:0 1em 1em;
		label {
			padding: 0;
			color: #000;
		}

		input {
			width: 75%;
			border-right: none;
		}

		button {
			width: 25%;
			height: 35px;
		}
	}

	.share__return {
		cursor: pointer;
		text-transform: uppercase;
	}

	&__title {
		color: $dark-color;
		font-family: $sans-font-bold;
		font-size: 1.250em;
		display: block;
		padding: 1em;
	}

	&__link {
		display: block;
		float: left;
		width: 50%;
		margin-bottom: 1em;

		color: $dark-color;
		font-family: $sans-font-bold;
		font-size: 1.250em;

		cursor: pointer;

		 &:hover {
			text-decoration: underline;
			.share-box__icon {
				background: $btn-hover;
				border-color: $btn-hover;
			}
		}
	}

	&__icon {
		height: 35px;
		width: 35px;
		display: inline-block;
		margin: 0 .5em;
		vertical-align: middle;

		text-align: center;
		line-height: 29px;

		border: 1px solid $light-color;
		border-radius: 35px;

		transition: 400ms;

		&::after {
			content: "";
			display: inline-block;
			height: 20px;
			width: 20px;
			vertical-align: middle;
		}

		&.icon--facebook::after {
			height: 19px;
			@include sprite(-302px, -320px);
		}

		&.icon--twitter::after {
			width: 19px;
			height: 17px;
			@include sprite(-322px, -320px);
		}

		&.icon--pinterest::after {
			height: 22px;
			width: 18px;
			@include sprite(-341px, -320px);
		}

		&.icon--email::after {
			height: 21px;
			width: 22px;
			@include sprite(-359px, -320px);
		}
	}
}
