// Liens sociaux
.ym-socials-box {
	position: absolute;
	top: 20px; right: 20px;
	z-index: 100;
	transition: all 200ms;

	.ym-social__link {
		display: block;
		text-indent: -9999px;
		margin-bottom: .3em;
		width: 25px;
		height: 25px;

		&:first-child { @include sprite(-301px, -154px);}
		&:nth-child(2) { @include sprite(-326px, -154px);}
		&:nth-child(3) { @include sprite(-301px, -204px);}
		&:last-child { @include sprite(-326px, -204px);}

		&:hover {
			&:first-child { @include sprite(-301px, -179px);}
			&:nth-child(2) { @include sprite(-326px, -179px);}
			&:nth-child(3) { @include sprite(-301px, -229px);}
			&:last-child { @include sprite(-326px, -229px);}
		}

	}
}

// Bandeau partage réseaux sociaux
.ym-single-article__share {
	background: #FFF;
	padding: 1.875em 1em;
	position: relative;
	width: 100%;
	@include clearfix();
	text-align: center;
	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 7px;
		background:transparent url('../images/ywm-filet.png') left top repeat-x;
	}

	.share-title {
		color: $dark-color;
		font-family: $sans-font-bold;
		font-size: 1.250em;
		display: inline-block;
		vertical-align: middle;
	}

	&::before { top: 0;}
	&::after { bottom: 0;}

	.share-link {
		color: $dark-color;
		font-family: $sans-font-bold;
		font-size: 1.250em;
		display: inline-block;
		vertical-align: middle;

		 &:hover {
			text-decoration: underline;
			.share-link__icon {
				background: $btn-hover;
				border-color: $btn-hover;
			}
		}
	}

	.share-link__icon {
		height: 35px;
		width: 35px;
		line-height: 29px;
		margin: 0 .5em;
		display: inline-block;
		border: 1px solid $light-color;
		border-radius: 35px;
		vertical-align: middle;
		transition: 400ms;

		&::after {
			content: "";
			display: inline-block;
			height: 20px; width: 20px;
			vertical-align: middle;
		}


		&.icon--facebook::after {
			height: 19px;
			@include sprite(-302px, -320px);
		}

		&.icon--twitter::after {
			width: 19px;
			height: 17px;
			@include sprite(-322px, -320px);
		}

		&.icon--pinterest::after {
			height: 22px;
			width: 18px;
			@include sprite(-341px, -320px);
		}

		&.icon--email::after {
			height: 21px;
			width: 22px;
			@include sprite(-359px, -320px);
		}
	}
}

// Lien rejoignez nous
.follow-link {
	display: inline-block;
	font-size: 0;
	text-align: center;

	&:hover {
		.follow-link__icon {
			background: $btn-hover;
			border-color: $btn-hover;
		}
	}

	.follow-link__icon {
		height: 65px;
		width: 65px;
		line-height: 59px;
		display: inline-block;
		border: 1px solid $dark-color;
		border-radius: 35px;
		vertical-align: middle;
		transition: 400ms;

		&::after {
			content: "";
			display: inline-block;
			height: 32px; width: 37px;
			vertical-align: middle;
		}


		&.icon--facebook::after {
			width: 39px;
			height: 36px;
			@include sprite(-325px, -342px);
		}

		&.icon--twitter::after {
			@include sprite(-288px, -342px);
		}

		&.icon--pinterest::after {
			height: 44px;
			width: 36px;
			@include sprite(-365px, -342px);
		}
	}
}
