.ym-tabs,
.ym-tabs-page {
	height: 68px;
	width: 100%;
	padding-left: 6em;
	background:transparent url('../images/ywm-filet.png') left bottom repeat-x;
	overflow: hidden;
	li {
		display: inline-block;
		cursor: pointer;

		.ym-tabs__links {
			display: block;
			width: 175px;
			height: 67px;
			line-height: 67px;
			text-align: center;
			background: transparent url('../images/ywm-tab.png') left top no-repeat;
			position: relative;
			font-family: $sans-font-bold;
			font-size: 1.875em;
			color: $grey-color;
			text-transform: uppercase;

			&::before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-right: .5em;
				opacity: .5;
				width: 32px; height: 37px;
			}

			&::after {
				content: '';
				height: 15px;
				position: absolute;
				bottom: 0;
				left: 3px;
				right: 2px;
				background: #FFF;
				display: none;
			}

			&.is-active {
				color: $dark-color;
				&::after {
					display: block;
				}
				&::before {
					opacity: 1;
				}
			}

			&.tab-activity {
				&::before {@include sprite(-298px, -254px);}
			}
			&.tab-avis {
				&::before {
					@include sprite(-200px, -111px);
					width: 28px;
					height: 29px;
				}
			}
			&.tab-pictures {
				&::before {@include sprite(-330px, -254px);}
			}
			&.tab-adresses {
				&::before {
					@include sprite(-335px, -120px);
					height: 34px;
					width: 23px;
					margin-right: 0;
				}
			}
		}
	}
}


.ym-tab-content {
	padding: 2em 0;
	width: 100%;
	transform-origin: 50% 50%;
	opacity: 0;

	&.is-animate {
		animation: showInnerTab 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
	}
}

.ym-tab__pictures {
	@include clearfix();
}


// ACTIVITE
.ym-tab__activity {
	padding: 2em;
	border: 1px solid $light-color;
}

/**
 * TABS
 * @ A PARTAGER
 */
.ym-share__tabs__content {
	@include clearfix();
}

.ym-share__tabs__content--friend {
	width: 30%;
	float: left;
	.ym-friend {
		width: 93px;
		min-width: 93px;
	}
}

.ym-share__tabs__content--avis {
}


@keyframes showInnerTab {
	0% { transform: translateY(5%); opacity: 0;}
	100% { transform: translateY(0); opacity: 1;}
}
