// Local var
$colorAnimaux: #e5bb56 ;
$colorSciences: #e25e50;
$colorExpo: #382c5b;

@mixin colorTag($color) {
    background-color: $color;
    transition: 200ms;
    &:hover { background-color: darken($color, 10%);}
}


.ym-tag-container {
    margin: 1em 0;
    .ym-tag {
        display: inline-block;
        padding: .5em 1em;
        border-radius: 20px;
        background: $light-color;
        margin-right: .5em;
        color: #FFF;
        font-family: $serif-font;
        font-size: 1.125em;

        &.tag--animaux { @include colorTag($colorAnimaux);}
        &.tag--sciences { @include colorTag($colorSciences);}
        &.tag--exposition { @include colorTag($colorExpo);}

    }
}
