@mixin widgetTitle($color) {
	padding-bottom: .5em;
	margin: .5em 0 .5em;
	font-size: 1.875em;
	color: $color;
	text-align: center;
	font-family: $sans-font-bold;
	text-transform: uppercase;
	border-bottom: 6px solid $color;
}

.ym-widget {
	margin-top: 2em;
	.ym-widget__title {
		@include widgetTitle($btn-hover);
	}
	.ym-widget__content {
		@include clearfix;
	}
	// Override des modules
	.bloc-activity {
		margin: 0 auto 10px;
		.todo-activity__rating {
			padding: .5em 0;
		}
	}
	.article-summary {
		margin: .5em 0;
	}
	.article-summary__content {
		padding: 0 1.5em;
	}
}

.widget--address {
	.todo-activiy__title {
		color: $btn-hover;
	}
}

// Modification de la couleur du th├¿me des widget
.widget--readmore {
	.ym-widget__title {
		@include widgetTitle(#414da1);
	}
}

// Definition des widget
.widget--contact-author {
	text-align: center;
	.contact-author__icon {
		height: 184px;
		width: 184px;
		display: block;
		border-radius: 100%;
		line-height: 175px;
		margin: 0 auto 1em;
		border: 2px solid $dark-color;
		i {
			display: inline-block;
			width: 70px;
			height: 99px;
			vertical-align: middle;
			@include sprite(-117px, -285px);
		}
	}
	.contact-author__title {
		font-family: $sans-font-bold;
		font-size: 1.5em;
	}
	.contact-author__link {
		color: #14cc96;
		font-family: $sans-font-bold;
		text-decoration: underline;
		font-size: 1.5em;
		&:hover {
			color: darken($btn-hover, 20%);
		}
	}
}

// WIDGET DE FOLLOW SOCIAL

.widget--social {
	text-align: center;
	margin-bottom: 1.5em;
	.ym-widget__title {
		font-family: $hand-font;
		text-transform: none;
		font-size: 1.5em;
		color: $dark-color;
		border-bottom: none;
	}
}

// WIDGET : List de lien
@mixin widgetList($color) {
	.widget-list {
		padding: 0 2em;
		margin-top: 2em;
		.widget-list__item {
			@include clearfix;
			&::before {
				content: '\2022';
				float: left;
				display: block;
				font-size: 1.8em;
				border-radius: 5px;
				vertical-align: top;
				color: $color;
				width: 10%;
			}
			&::after {
				content: '';
				display: table;
				clear: both;
				background: transparent url("../images/ywm-filet.png") left top repeat-x;
				height: 4px;
				width: 100%;
				margin: 1em auto;
				opacity: .2;
			}
			a {
				display: block;
				margin-left: 10%;
				text-transform: uppercase;
				color: $dark-color;
				font-family: $sans-font-bold;
				font-size: 1.5em;
				&:hover {
					&::after {
						margin-left: .4em;
						text-decoration: none !important;
					}
				}
				&::after {
					content: '>';
					display: inline-block;
					color: $color;
					font-family: $sans-font-bold;
					font-weight: 800;
					margin-left: .2em;
					transition: 200ms ease-in-out;
				}
			}
			p {
				margin-left: 10%;
				clear: both;
				a {
					display: inline-block;
					float: none;
					width: auto;
					margin-left: 0;
				}
			}
		}
	}
}

.widget--readhight {
	@include widgetList($btn-hover);
}

// WIDGET ARTICLE LES PLUS LUS
.widget--mums-blog {
	@include widgetList(#414da1);
	.ym-widget__title {
		@include widgetTitle(#414da1);
	}
	.widget-list {
		.widget-list__item {
			.mums-blog__author {
				font-family: $serif-font;
				text-transform: none;
				color: $link-color;
				font-size: 1em;
				text-decoration: underline;
				&:after {
					display: none;
				}
			}
		}
	}
}
