.ym-404 {
	text-align: center;
	padding: 4em 0 4em;
	&__title {
		font-size: 6em;
		margin-bottom: .2em;
		padding: 0 0.2em;
		display: inline-block;
	}

	&__info {
		font-size: 1.5em;
	}

	&__button {
		display: inline-block;
		background: $red-color;
		padding: .5em;
		font-size: 1.5em;
		color: #FFF;
		text-transform: uppercase;
		margin: 1em 0;

		&:hover {
			background: darken($red-color, 10%);
		}
	}
}
