.ym-toread-content {
    float: left;
    width: 68%;
    padding-right: 2em;
    @include clearfix();

    .article-highlight {
        clear: both;
        float: none;
        width: 100%;
    }
}


.bloc-facebook {
    width: 50%;
    float: left;
    margin: 1em 0;
}
