.ym-intro {
	height: 740px;
	background: #d6f7e8 url('../images/landing/bg-nuage.png') center bottom no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.btn-login {
	position: absolute;
	top: 50px;
	right: 60px;
	color: #0c898e;
	text-transform: uppercase;
	font-size: 28px;
	font-family: $sans-font-bold;
	z-index: 10;
}

.scene {
	height: 740px;
}

.familly {
	background: transparent url('../images/landing/famille.png') left top no-repeat;
	width: 680px;
	height: 260px;
	position: absolute;
	top: 260px;
	left: 200px;
	animation: slideDown 1000ms;
}

.logo {
	background: url('../images/ywm-logo--big.png') center top no-repeat;
	position: absolute;
	top: 50px; left: 50%;
	width: 300px;
	margin-left: -150px;
	height: 155px;
	z-index: 2;
	opacity: 1;
	animation: flipInX 1000ms forwards;
}

.cloud {
	width: 180px;
	height: 65px;
	position: absolute;
	background:transparent url('../images/landing/nuage-1.png') left top no-repeat;

	&--top--left {
		left: -100px;
		top: 56px;
		animation: moveCloud 1000s infinite;
	}

	&--bottom--left {
		top: 180px;
		left: 100px;
		opacity: .8;
		background:transparent url('../images/landing/nuage-2.png') left top no-repeat;
		animation: moveCloud 600s infinite;
		&--2 {
			top: 100px;
			left: 250px;
			opacity: .5;
			background:transparent url('../images/landing/nuage-2.png') left top no-repeat;
			animation: moveCloud 500s infinite;
		}
	}

	&--bottom--right {
		top: 180px;
		right: 80px;
		background:transparent url('../images/landing/nuage-2.png') left top no-repeat;
		animation: moveCloud 400s infinite;
		&--2 {
			top: 120px;
			right: -300px;
			background:transparent url('../images/landing/nuage-2.png') left top no-repeat;
			animation: moveCloud 800s infinite;
			opacity: .8;
		}
	}

	&--top--right {
		width: 277px;
		height: 91px;
		right: 0;
		top: 15px;
		opacity: .8;
		background:transparent url('../images/landing/nuage-3.png') left top no-repeat;
		animation: moveCloud 500s infinite;
	}
}

.bush  {
	position: absolute;
	width: 281px;
	height: 47px;
	bottom: 110px;
	opacity: 0;
	animation: slideUp 800ms 500ms forwards;
	&--left {
		background: transparent url('../images/landing/bush-left.png') left top no-repeat;
		left: 10px;
	}

	&--right {
		background: transparent url('../images/landing/bush-right.png') left top no-repeat;
		right: 10px;
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}

	70% {
		transform: translateY(-20px);
		opacity: 1;
	}

	90% {
		transform: translateY(5px);
		opacity: 1;
	}

	90% {
		transform: translateY(-10px);
		opacity: 1;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes moveCloud {
	0 {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(-500%);
		opacity: 0;
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	60% {
		transform: translateY(20px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes cloudMove {
	0% {
		transform: scale(.9) translateX(5px);
	}

	40% {
		transform: scale(.95) translateX(5px);
	}

	60% {
		transform: scale(1) translateX(-5px);
	}

	80% {
		transform: scale(.95) translateX(-5px);
	}

	100% {
		transform: scale(.9) translateX(5px);
	}
}

@keyframes scaleUp {
	0% {
		transform: translateY(100px) scale(0);
		opacity: 0;
	}

	70% {
		transform: translateY(-20px) scale(1.1);
		opacity: 1;
	}

	90% {
		transform: translateY(5px) scale(1);
		opacity: 1;
	}

	90% {
		transform: translateY(-10px);
		opacity: 1;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.ym-subscribe {
	position: absolute;
	left: 0; right: 0;
	bottom: 0;
	text-align: center;
}

.ym-subscribe__title {
	font-size: 25px;
	strong {
		display: block;
		font-family: $sans-font-bold;
	}
}

.ym-subscribe__info	{
	background: transparent url('../../images/ywm-filet.png') center center repeat-x;
	text-align: center;
	margin: 0 auto 1em;

	span {
		display: inline-block;
		background: #FFF;
		padding: 1em;
		font-family: $sans-font-bold;
		vertical-align: top;
		font-size: 1.1em;
	}
}

.ym-subscribe__button {
	display: inline-block;
	margin: 1.5em 0 .5em;
	padding: .5em 1em;

	font-size: 24px;
	text-transform: uppercase;
	color: #FFF;
	font-family: $sans-font-bold;
	border: 2px solid $red-color;
	background: $red-color;

	&--reverse {
		background: transparent;
		color: $red-color;
		border: 2px solid $red-color;
	}
}

.ym-section__title {
	background: transparent url('../../images/ywm-filet.png') center center repeat-x;
  	text-align: center;
  	margin: 2em auto;

  	span {
	    display: inline-block;
	    background: #FFF;
	    padding: 1em;
	    font-family: $sans-font-bold;
	    vertical-align: top;
	    font-size: 1.875em;
	    text-transform: uppercase;
	}
}


/**
 * SECTION #1
 */
.ym-features {
	padding-top: 5em;
}
.feature-card {
	width: 31.33%;
	float: left;
	padding: 30px 20px;
	height: 450px;
	margin-right: 2em;
	transition: opacity 400ms;

	&:last-child {
		margin-right: 0;
	}
	text-align: center;

	border: 1px solid $light-color;

	.feature-card__thumb {}
	.feature-card__title {
		font-family: $sans-font-bold;
		text-transform: uppercase;
		font-size: 1.5em;
		margin: 20px auto;
	}
	.feature-card__info {
		font-size: 1.063em;
		margin-top: 10px;
	}
}

/**
 * SECTION 2
 */
.ym-testimonials__item {
	padding: 10px;
	text-align: center;
	.ym-testimonials__item__thumb {
		height: 100px;
		line-height: 8;
		img {
			max-width: 100%;
			width: auto !important;
			height: auto;
		}
	}
}

.ym-testimonials__slider {
	&.owl-theme .owl-controls .owl-page {
		margin-top: 1em;
		span {
			border-color: $red-color;
			&::after {
				background-color: $red-color;
			}
		}
	}
}


.community-list {
	@include clearfix();
	text-align: center;

	&::after {
		content: "";
		display: block;
		height: 4px;
		width: 100%;
		background: transparent url('../../images/ywm-filet.png') center center repeat-x;
	}

	li {
		float: left;
		padding: 2em;
		width: 31.33%;
		margin-right: 2em;
		&:last-child {
			margin-right: 0;
		}

		h5 {
			font-family: $sans-font-bold;
			text-transform: uppercase;
			font-size: 1.5em;
			margin: 20px auto;
		}
	}
}

.ym-footer {
	padding: 2em 0;
	text-align: center;
	font-size: 1.25em;
}
