.left-sidebar--expander {
	position: fixed;
	top: 62px; left: 0;
	height: 76px;
	width: 76px;
	z-index: 9999;
	border-radius: 100%;
	background-color: $primary-color;
	cursor: pointer;

	transition: left .5s ease-in-out .2s;

	span {
		z-index: 9998;
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%, -50%);
	}

	.is-open & { left: 265px;}

	&.is-open {
		.expander-close { transform: translate(-50%, -50%) scale(.8) rotate(0deg);}
		.expander-open { transform: translate(-50%, -50%) scale(0) rotate(0);}
	}

	.expander-close {
		@include sprite(-96px, -242px);
		width: 22px;
		height: 30px;
		transform: translate(-50%, -50%) scale(0) rotate(180deg) translateZ(0);
		transition: transform .2s ease-out;
	}

	.expander-open {
		display: inline-block;
		width: 55px; height: 55px;
		overflow: hidden;
		border-radius: 100%;
		transform: translate(-50%, -50%) scale(1) rotate(0);
		transition: transform .2s ease-in 100ms;
	}
}

.left-sidebar {
	position: fixed;
	left: -260px; top: 0;
	width: 300px;
	min-height: 100%;
	z-index: 9997;
	background: $primary-color;
	overflow: hidden;


	transition: left .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);

	.is-open & { left: 0;}

	.left-sidebar__content {
		position: absolute;
		padding: 30px 60px 20px 45px;
		top: 0; right: -15px;
		bottom: 0; left: -100px;
		overflow: auto;
		opacity: 0;

		transition: left .2s ease-in .4s, opacity .3s linear .5s;

		.is-open & {
			left: 0;
			opacity: 1;
		}

	}
}

.ym-user-profil {
	text-align: center;

	.ym-user__avatar {
		display: block;
		width: 70px;
		height: 70px;
		margin: 0 auto 1em;
		border-radius: 100%;
		overflow: hidden;

		text-align: center;
	}

	.ym-user__info {

		margin-bottom: 1em;

		span {
			display: block;
			color: $dark-color;

			&.user-name {
				font-family: $hand-font;
				font-size: 1.1em;
				margin-bottom: .5em;
			}

			&.user-location {
				font-size: 1.25em;
				text-decoration: underline;
				&::before {
					content: "";
					display: inline-block;
					width: 12px;
					height: 20px;
					margin-right: 5px;
					vertical-align: bottom;
					@include sprite(-54px, -30px)
				}
			}

		}
	}

	.ym-user__stats {
		margin-bottom: 1.5em;
		@include clearfix();
		.bloc-stats {
			width: 33.33%;
			float: left;
			transition: color 200ms;

			&:hover {
				span {
					color: $dark-color;
				}
			}

			span {
				display: block;
				color: $primary-color-dark;
				font-size: 1.2em;

				&.stat-number {
					font-size: 2.250em;
				}


			}
		}
	}
}

.ym-user-nav {
	text-align: center;
	margin-bottom: 1em;
	ul {
		li {
			border-top: 1px solid $primary-color-dark;
			a {
				display: block;
				color: $dark-color;
				padding: .5em 0;
				text-transform: uppercase;
				font-size: 1.875em;
				transition: color .2s;
				&:hover {
					color: $primary-color-dark;
				}
			}
		}
	}
}

.ym-ambassador {
	text-align: center;
	display: block;
	margin: 1.2em 0;
	padding: .5em;
	border-top: 2px solid $dark-color;
	border-bottom: 2px solid $dark-color;
	color: $dark-color;

	span {
		font-size: 1.5em;
		font-family: $sans-font;
	}
}

.left-sidebar-links {
	margin-top: 1em;
	a {
		font-size: 1.5em;
		display: block;
		margin-bottom: .2em;
		color: $dark-color;
		&:hover {
			text-decoration: underline;
		}
	}
}
