.login-form-content {
	width: 100%;
	height: 100vh;
	background: #d6f7e8 url('../images/landing/bg-nuage.png') center 130% no-repeat;

	@include MQ(M) {
		background: #d6f7e8;
	}

	&.login-form--sign-in {
		background-position: center 150%;
	}
}

.fb-connect {
	height: 50px;
}

.login-form__login {
	padding: .5em;
	position: absolute;
	right: 20px;
	top: 30px;

	color: #FFF;
	text-transform: uppercase;

	background: lighten($primary-color-dark, 10%);
	&:hover {
		background: $primary-color-dark;
	}
}

.login-form-header {
	position: relative;
	top: 20px;
	left: 20px;
	.ym-logo {
		display: block;
			img {
			width: auto;
			height: 60px;
		}
	}
	&:hover {
		opacity: 1;
	}
}

.login-form__sep {
	background: transparent url('../../images/ywm-filet.png') center center repeat-x;
		text-align: center;
		margin: 1em auto;
	span {
		display: inline-block;
		background: #d6f7e8;
		padding: 0 1em;
		font-family: $sans-font-bold;
		vertical-align: top;
		font-size: 1.875em;
		text-transform: uppercase;
	}
}

.login-form {
	margin: 0 auto;
	width: 760px;
	padding: 1em;

	text-align: center;

	&--connexion {
		width: 380px;
	}
}

.login-form__intro {
	max-width: 450px;
	margin: 0 auto;

	&--step {
		margin-bottom: 1em;
		.login-form__intro__title {
			font-size: 2em;
			span {
				color: $red-color;
			}
		}
	}

	.login-form__facebook {
		max-width: 370px;
	}
}

.login-form__intro__title {
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #607068;
	font-family: $sans-font-bold;
	font-size: 2.8em;
}

.login-form__intro__info {
	margin: 0;
	font-size: .95em;
	line-height: 1.4;
}

.login-form__fields {
	@include clearfix();
	text-align: center;
}

.form-section__title {
	text-transform: uppercase;
	font-family: $sans-font-bold;
	clear: both;
	margin: 2em 0 1em;
	font-size: 1.5em;
	color: #607068;
	&::before {
		content: '';
		display: block;
		clear: both;
	}
}

.field {
	text-align: left;
	margin-bottom: 1em;
	position: relative;
	@include clearfix();

	&--half {
		width: calc(50% - 1em);
		float: left;
		margin-right: 1em;
	}

	&--full {
		clear: both;
		width: 100%;
	}

	label {
		display: block;
		margin: .2em 0;

		color: #607068;
		font-family: $sans-font-bold;
		font-size: 18px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="date"],
	input[type="number"],
	select {
		width: 100%;
		height: 35px;
		padding: 0 1em;
		font-family: $serif-font;
		color: #333;
		border: 1px solid rgba($dark-color, .1);
		opacity: .8;
		&:focus {
			opacity: 1;
		}

		&.input-field__captcha {
			width: 59%;
		}
	}

	&.field--select {
		.invalidatedfield,
		.validatedfield {
			right: 20px;
		}
	}

	&.field--captcha {
		.invalidatedfield,
		.validatedfield {
			right: 155px;
		}
		.captcha {
			height: 35px;
			float: right;
			#cryptogram {
				height: 35px;
				margin-right: .5em;
			}
		}
	}

	input[type="radio"] ~ label,
	input[type="checkbox"] ~ label {
		display: inline-block;
	}

	.login-submit {
		background: $red-color;
		border: none;
		padding: .5em 2em;
		display: block;
		margin: 40px auto 20px;
		cursor: pointer;

		color: #FFF;
		font-family: $sans-font;
		font-size: 1.263em;
		text-transform: uppercase;

		&:hover {
			background-color: darken($red-color, 10%);
		}
	}

	&--check {
		input {
			display: inline-block;
			vertical-align: middle;
		}
		label {
			display: inline-block;
			vertical-align: middle;
			font-family: $serif-font;
			text-transform: none;
			font-size: .8em;
			font-style: italic;

			a {
				color: $red-color;
				text-decoration: underline;

				&:hover {
					color: darken($red-color, 10%);
					text-decoration: none;
				}
			}
		}

		.invalidatedfield,
		.validatedfield {
			display: inline-block;
			position: static;
			vertical-align: middle;
		}
	}

	&--error {
		span {
			font-family: $serif-font;
			font-style: italic;
			font-size: 11px;
			color: $red-color;
			text-transform: none;
		}
	}
}

.login-form-error {
	position: fixed;
	top: -50px;
	right: 0;
	text-align: center;

	left: 0;
	height: 50px;
	background: lighten($red-color, 25%);
	visibility: hidden;

	transition: top 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

	p {
		color: darken($red-color, 30%);
		line-height: 60px;
		font-family: $sans-font;
		text-transform: uppercase;
		font-size: 1.3em;
		margin-top: -60px;

		transition: margin-top 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 150ms;

		span {
			font-family: $sans-font-bold;
		}
	}

	&.is-visible {
		top: -10px;
		visibility: visible;
		p {
			margin-top: 0;
		}
	}
}

.friend-instruction {
	margin: 2em 0 1em;
	&__title {
		text-transform: uppercase;
		font-size: 1.3em;
		color: #607068;
		font-family: $sans-font-bold;
	}

	&__text {
		span {
			display: inline-block;
			vertical-align: middle;
			width: 24px;
			height: 24px;
			line-height: 16px;
			font-size: 26px;
			background: #FFF;
			border: 1px solid $light-color;
			border-radius: 100%
		}
	}
}

.invalidatedfield,
.validatedfield {
	position: absolute;
	right: 10px;
	top: 33px;
	height: 19px;
	width: 19px;
	background: transparent url('http://yeswemoms.com/images_old/icon_invalid_field.png') left top no-repeat;
}

.validatedfield {
	background: transparent url('http://yeswemoms.com/images_old/icon_valid_field.png') left top no-repeat;
}


// Quotes
.quotes {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 20px;
	width: 400px;
	min-height: 120px;
	background:transparent url('../images/landing/bg-quotes.png') center top no-repeat;
	&__text {
		font-family: $hand-font;
	}
	&__small {
		font-family: $hand-font;
		font-size: .9em;
		text-align: right;
		margin-top: .5em;
	}

	@include MQ(M) {
		display: none;
	}
}
