.ym-single-article__cover {
	height: 385px;
	margin-top: 2em;
	opacity: 1;
	width: 100%;
	position: relative;
	transition: all 800ms ease-in-out;

	div {
		position: absolute;
		left: 0; top: 0;
		right: 0; bottom: 0;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}
}

.ym-single-article {
	margin: -85px auto 0;
	width: 980px;
	background: #FFF;
	@include clearfix();

	.ym-single-article__header {
		padding: 1em;
		position: relative;
		text-align: center;

		.ym-btn-back {
			position: absolute;
			left: 2em;
			top: 2em;
		}

		.ym-single-article__title {
			text-transform: uppercase;
			margin: 15px 0;
			font-family: $sans-font-bold;
			font-size: 2.625em;
		}

		.ym-bloc-pic {
			height: 57px;
			display: inline-block;
			width: 57px;
			border-radius: 100%;
			overflow-y: hidden;
		}

		.ym-single-article__meta { font-size: .875em;}
	}
}

.ym-article-content {
	width: 68%;
	float: left;
	padding-right: 1em;
}

.ym-sidebar {
	width: 32%;
	float: right;
	padding-left: 1em;
}

.article-content {
	margin: 2em 0;

	p:first-child::first-letter {
		font-size: 2.625em;
		font-weight: bold;
		font-style: italic;
		line-height: 1;
	}

	p + p { margin-top: 1em;}
	em { font-style: italic;}

	img {
		max-width: 100%;
		display: block;
		margin: 1em auto;
	}

	a {
		color: #1ad5a7;
		font-weight: bold;
		text-decoration: underline;
		&:hover { color: darken($btn-hover, 20%);}
	}

}


.ym-article-info {
	border-top: 1px solid $dark-color;
	padding: 3em 0 2em;

	.ym-article-info__activity {
		h2 {
			font-family: $serif-font;
			font-weight: bold;
			font-size: 1.125em;
		}
	}

	.ym-article-info__address {
		margin-top: 2em;
		h3 {
			font-family: $serif-font;
			font-weight: bold;
			font-size: 1.125em;
		}

		a {
			color: $btn-hover;
			font-family: $serif-font;
			text-decoration: underline;
			&:hover {
				color: darken($btn-hover, 20%);
			}
		}
	}

}

