/**
 * Page décrivant une activité
 * le header est géré dans le fichier '_single-adresse.scss'
 */
.single-activity {
	margin-bottom: 2em;
}

.single-activity__section {
	@include clearfix();
	padding: 2em 0;
}

.single-activity__image {
	float: left;
	width: 30%;
}

.single-activity__content {
	width: 40%;
	float: left;
	padding: 1em;
	font-size: .875em;

	p.activity-content__list-title {
		font-weight: bold;
		margin-top: 1em;
		margin-bottom: .5em;
	}

	ul {
		margin: 0 1em;
		li {
			list-style-type: disc;
			margin-bottom: .5em;
			font-family: $serif-font;
		}
	}
}

.single-activity__meta {
	width: 30%;
	float: left;
	text-align: center;
	border-left: 1px solid $light-color;

	h3 {
		font-size: 1.438em;
		font-family: $sans-font-bold;
		text-transform: uppercase;
		margin: 1em 0;
	}

	p {
		margin-bottom: 0;
		font-family: $sans-font;
		font-size: 1.375em;
	}
}
