.nav-top {
	@include clearfix();
	margin-bottom: 2.5em;

	&__logo {
		width: 203px;
		display: block;
		float: left;
		margin: -40px 1.5em 0;
		height: 104px;
		background: transparent url('../images/ywm-logo.png') left top no-repeat;
		text-indent: -9999px;
	}

	&__action {
		float: left;
		width: 30%;

		&__item {
			list-style: none;
			display: inline-block;
			margin-right: .2em;

			&.active {
				.item {
					background: darken($primary-color, 10%);
					color: rgba(#000, 1);
					.icon-search {
						opacity: 1;
					}
				}
			}

			.item {
				display: block;
				text-transform: uppercase;
				font-size: 1.8em;
				background-color: $primary-color;
				cursor: pointer;
				color: rgba(#000, 0.5);
				padding: .1em .2em;
				font-family: $sans-font-bold;

				.icon-search {
					display: inline-block;
					vertical-align: top;
					opacity: 0.5;
					width: 35px;
					height: 28px;
					@include sprite(-189px, -331px);
					transition: transform 400ms;
				}

				&:hover {
					color: #000;
					i {
						opacity: 1;
					}
				}
			}
		}
	}

	&__link {
		float: right;
		margin-top: 8px;

		&__item {
			display: inline-block;
			margin-right: 1em;

			a {
				display: block;
				margin: 0.1em 0.3em;

				text-transform: uppercase;
				color: rgba($dark-color, .5);
				font-family: $sans-font-bold;
				font-size: 1.5em;

				background-color: transparent;
				&:hover {
					color: rgba($dark-color, 1);
				}
			}



			&.active {
				a {
					color: $dark-color;
				}

				&::after {
					content:'';
					display: block;
					height: 5px;
					margin-top: -2px;
					width: 100%;
					background: transparent url('../images/ywm-filet.png') 0 0 no-repeat;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
