.user-book {
	@include clearfix();
	margin-bottom: 1em;
}

.user-book__info {
	width: 25%;
	min-height: 280px;
	position: relative;
	text-align: center;
	float: left;
	padding: 2em;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		background:transparent url('../images/ywm-filet-vertical.png') left top no-repeat;
	}

	&__user {
		position: relative;
		width: 100px;
		height: 100px;
		overflow: hidden;
		margin: 0 auto;
		border-radius: 100%;

		&:hover {
			.user-book__info__user__link {
				opacity: 1;
			}
		}

		&__pic {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&__link {
			position: absolute;
			background: rgba(#000, .6);
			left: 0;
			top: 0;
			height: 100px;
			padding: 40px 10px;
			width: 100px;
			color: #FFF;
			opacity: 0;
			border-radius: 100%;
			transition: opacity 400ms;
		}
	}

	&__pic {
		display: block;
		width: 100px;
		height: 100px;
		margin: 0 auto 1em;
		overflow: hidden;

		background-repeat: no-repeat;
		background-size: cover;
		background-color: $primary-color;

		border-radius: 100%;

		&__link {
			position: absolute;
			left: 0;
			top: 0;
			height: 100px;
			width: 100px;
			border-radius: 100px;
			background-color: rgba(#000, .8);
		}
	}

	&__name {
		text-transform: uppercase;
		font-family: $sans-font-bold;
		font-size: 1.4em;
		margin-bottom: .5em;
	}

	&__meta {
		font-family: $serif-font;
		font-size: .8em;
		li {
			margin: .5em 0;
		}
	}

	&__report {
		display: block;
		margin-top: 1em;
		text-decoration: underline;
	}
}

.user-book__resume {
	width: 45%;
	position: relative;
	float: left;
	min-height: 280px;
	padding: 2em;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 5px;
		background:transparent url('../images/ywm-filet-vertical.png') left top no-repeat;
	}

	&__title {
		text-transform: uppercase;
		font-size: 1.8em;
		font-family: $sans-font-bold;
		margin-bottom: .8em;
	}

	&__desc {
		@include clearfix();
		font-size: 1em;
		p {
			margin-bottom: .5em;
		}
	}
}

.user-book__contact {
	width: 30%;
	padding: 2em;
	float: left;
	&__adresse {
		margin-bottom: 1em;
	}

	&__social {
		&__title {
			font-size: 1em;
			font-family: $serif-font;
			font-weight: bold;
			margin-bottom: .8em;
		}
		.social__link {
			font-family: $serif-font;
			font-size: .8em;
			display: block;
			margin-bottom: .5em;
			color: $dark-color;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}

			i {
					display: inline-block;
					width: 25px;
					height: 25px;
					vertical-align: middle;
					margin-right: .8em;
			}
			&--facebook {
				i {
					@include sprite(-301px, -154px);
				}
			}

			&--twitter {
				i {
					@include sprite(-326px, -154px);
				}
			}

			&--tel {
				i {
					@include sprite(-262px, -385px);
				}
			}

			&--mail {
				i {
					@include sprite(-287px, -385px);
				}
			}

			&--website {
				i {
					@include sprite(-312px, -385px);
				}
			}
		}
	}
}
