<header class="ym-container" id="container-header">

	<nav class="nav-top">
		<a href="/" class="nav-top__logo">Yes We Mum</a>
		<ul class="nav-top__action">
			<li class="nav-top__action__item"><span class="item item--search" id="search-box-link"><i class="icon-search"></i> Et si on sortait ?</span></li>

		</ul>
		<ul class="nav-top__link">
			<li class="nav-top__link__item active"><a href="en-ce-moment.html">En ce moment</a></li>
			<li class="nav-top__link__item"><a href="a-lire.html">À lire</a></li>
			<li class="nav-top__link__item"><a href="" class="item item--write">Écrire un avis</a></li>
		</ul>
	</nav>

	<div class="ym-search-box" id="search-box">
		<div class="search-box__content">
			<div class="search-box--close"><span>X</span></div>
			<form action="#" class="search-box__advanced" id="search-advanced">
				<div class="search-box__age">
					<div class="checkbox-age">
						<input type="checkbox" name="bebe" id="bebe">
						<label for="bebe" class="bebe"></label>
					</div>
					<div class="checkbox-age">
						<input type="checkbox" name="1an" id="1an">
						<label for="1an" class="age-1"></label>
					</div>
					<div class="checkbox-age">
						<input type="checkbox" name="2ans" id="2ans">
						<label for="2ans" class="age-2"></label>
					</div>
					<div class="checkbox-age">
						<input type="checkbox" name="3ans" id="3ans">
						<label for="3ans" class="age-3"></label>
					</div>
					<div class="checkbox-age">
						<input type="checkbox" name="4ans" id="4ans">
						<label for="4ans" class="age-4"></label>
					</div>
					<div class="checkbox-age">
						<input type="checkbox" name="5ans" id="5ans">
						<label for="5ans" class="age-5"></label>
					</div>
					<div class="checkbox-age">
						<input type="checkbox" name="mes-enfants" id="mes-enfants">
						<label for="mes-enfants" class="mes-enfants"></label>
					</div>
				</div>
				<div class="search-box__city">
					<input type="text" name="input-city" id="input-city" placeholder="Adresse, ville, Code postal.." class="input-search">
					<span class="location-city"></span>
				</div>
				<!--@include('../modules/_search-box-type.html')-->
				<div class="search-box__buttons">
					<div class="search-box__reset">
						<button class="btn-search--reset ym-btn" id="reset-activity">Tout voir</button>
					</div>
					<button type="submit" class="btn-search">Rechercher !</button>
					<span class="btn-search--free" id="search-free-btn">Recherche libre</span>
				</div>
			</form>
			<form action="#" class="search-box__free" id="search-free">
				<div class="search-box__city">
					<input type="text" name="input-free-search" placeholder="Atelier collage à monmartre ?" class="input-search">
					<button type="submit" class="btn-search">Rechercher</button>
				</div>
				<div class="search-box__buttons">
					<span class="btn-search--free" id="search-advanced-btn">Recherche avancée</span>
				</div>
			</form>
		</div>
	</div>
</header>
<span class="mask"></span>
