<div class="ym-container">
	<div class="ym-result-filter">
		<div class="ym-filter__title">
			<span>Filtrer par :</span>
		</div>
		<form action="" id="result-filter">
			<select class="ym-filter ym-filter--price" id="filter-price">
				<option value="">Prix</option>
				<option>Gratuit</option>
				<option>Moins de 10 €</option>
				<option>20 à 30 €</option>
				<option>Plus de 30 €</option>
			</select>
			<select class="ym-filter ym-filter--when" id="filter-when">
				<option value="">Quand</option>
				<option>Ce week-end</option>
				<option>En semaine</option>
			</select>
			<select class="ym-filter ym-filter--type" id="filter-type">
				<option value="">Type d'activité</option>
				<option>Enfant</option>
				<option>Parents et enfants</option>
				<option>Enfants</option>
			</select>
		</form>
	</div>
	<div class="ym-result-container">
		<div class="result-row-pin">
			<div class="pin-count pin-count--green">1</div>
		</div>
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<img src="images/temp/result-resto.png" alt="">
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name">Les ptits chefs</h3>
						<p class="info-txt__location">14 rue d'Evian 75009 Paris</p>
						<p class="info-txt__meta">
							<a href="#" class="meta-type">Restaurant</a>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Marc</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">4</span>
					<span class="comments-note__title">Baby Friendly</span>
					<span class="comment-note__stars"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>Pas mal</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Sympa</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
			<div class="result-row__coming-soon">
				<p class="coming-soon__title">12 activités à venir</p>
				<table class="coming-soon-table">
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="ym-result-container">
		<div class="result-row-pin">
			<div class="pin-count">2</div>
		</div>
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<img src="images/temp/result-resto.png" alt="">
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name">Les ptits chefs</h3>
						<p class="info-txt__location">14 rue d'Evian 75009 Paris</p>
						<p class="info-txt__meta">
							<a href="#" class="meta-type">Restaurant</a>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Marc</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">4</span>
					<span class="comments-note__title">Baby Friendly</span>
					<span class="comment-note__stars"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>Pas mal</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Sympa</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
		</div>
	</div>
	<div class="ym-result-container">
		<div class="result-row-pin">
			<div class="pin-count pin-count--green">3</div>
		</div>
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<img src="images/temp/result-resto.png" alt="">
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name">Les ptits chefs</h3>
						<p class="info-txt__location">14 rue d'Evian 75009 Paris</p>
						<p class="info-txt__meta">
							<a href="#" class="meta-type">Restaurant</a>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Marc</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">4</span>
					<span class="comments-note__title">Baby Friendly</span>
					<span class="comment-note__stars"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>Pas mal</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Sympa</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
			<div class="result-row__coming-soon">
				<p class="coming-soon__title">12 activités à venir</p>
				<table class="coming-soon-table">
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-expos"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-expos"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-expos"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-airs"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note">test</td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
