<div class="left-sidebar--expander" id="left-sidebar-btn">
	<span class="expander-close"></span>
	<span class="expander-open">
		<img src="images/ywm-profil-pic.jpg" alt="" class="avatar-pic">
	</span>
</div>

<aside class="left-sidebar" id="left-sidebar">
	<div class="left-sidebar__content">
		<a href="carnet.html" class="ym-user-profil">
			<div class="ym-user__avatar">
				<img src="images/ywm-profil-pic.jpg" alt="" class="avatar-pic">
			</div>
			<div class="ym-user__info">
				<span class="user-name">Marie Bataille</span>
				<span class="user-location">Paris</span>
			</div>
			<div class="ym-user__stats">
				<div class="bloc-stats stats--avis">
					<span class="stat-number">24</span>
					<span>avis</span>
				</div>
				<div class="bloc-stats stats--adresses">
					<span class="stat-number">10</span>
					<span>adresses</span>
				</div>
				<div class="bloc-stats stats--amis">
					<span class="stat-number">5</span>
					<span>amis</span>
				</div>
			</div>
		</a>
		<nav class="ym-user-nav">
			<ul>
				<li><a href="">Mes adresses</a></li>
				<li><a href="ma-famille.html">Gerer les activités</a></li>
				<li class="is-active"><a href="profil.html">Mon profil</a></li>
			</ul>
		</nav>
		<a class="ym-ambassador" href="#0">
			<span>Devenez ambasadeur</span>
			<span>YWM à besoin de vous !</span>
		</a>
		<nav class="left-sidebar-links">
			<ul>
				<li><a href="#">Marques et professionnels</a></li>
				<li><a href="#">Presse</a></li>
				<li><a href="a-propos.html">Qui sommes-nous</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Déconnexion</a></li>
			</ul>
		</nav>
	</div>
</aside>
