*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: $sans-font;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #000;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: $bg-color;
}

p {
	font-family: $serif-font;
	line-height: 1.5;
	letter-spacing: 0;
	color: $p-color;
}

a {
	color: $link-color;
	text-decoration: none;
	user-select: none;
}

*:focus {
	outline: 0;
}

img {
	max-width: 100%;
	height: auto;
}

strong {
	font-weight: bold;
}

.clear {
	clear: both;
}

.ym-container {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix();

	transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms, opacity 400ms, margin-top 200ms ease-out 200ms, padding-top 200ms;

	&.has-cookie-bar {
		margin-top: 52px;
		transition: margin-top 0;
	}


	&#container-header {
		z-index: 200;
		padding-top: 4em;
		background-color: $bg-color;
		&.has-notification {
			padding-top: 8em;
		}
	}

	&--full { max-width: 100%;}

	&.is-masked {
		opacity: .2;
		transition: opacity 100ms;
	}

	.is-open & {
		transform: translateX(100px);
	}

	// Fix sur la barre de recherche "En ce moment"
	&.container-search {
		z-index: 100;
	}
}

.ym-bloc-container {
	@include clearfix();
	max-width: 1200px;
	//margin-top: 20px;
}

.mask {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	opacity: 0;
	visibility: hidden;

	z-index: 10;
	background-color: rgba(255,255,255,.5);
	transition: 200ms;

	 &.is-visible {
		opacity: 1;
		visibility: visible;
	}
}

.cookie-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: .5em;
	background: #F2F2F2;

	.cookie-bar__content {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		p {
			color: #787878;
			font-style: italic;
			font-size: .75em;

			a {
				color: #000;
				text-decoration: underline;
			}
		}
	}

	.cookie-bar__close {
		opacity: .7;
		cursor: pointer;
		font-family: $sans-font;
		text-transform: uppercase;
		font-size: 1.2em;
		font-style: normal;
		i {
			position: absolute;
			top: 10px; left: -40px;
			width: 15px;
			height: 17px;
			@include sprite(-81px, -242px);
		}
		&:hover {
			opacity: 1;
		}
	}
}


// BOUTON SCROLL TO TOP
.ym-scroll-top {
	width: 85px;
	height: 85px;
	position: fixed;
	bottom: 5em;
	right: 5em;
	background-color: #fff;
	border: 1px solid $dark-color;
	border-radius: 85px;
	cursor: pointer;
	transition: 400ms;
	text-align: center;
	line-height: 85px;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	transition: 600ms;

	&.is-visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	i {
		display: inline-block;
		vertical-align: middle;
		width: 27px;
		height: 45px;
		@include sprite(-72px, -50px);
		animation: arrowMoveUp 2000ms linear 100ms infinite;
	}

	&:hover {
		background-color: #92b6e7;
		border-color: #92b6e7;
	}
}

@keyframes arrowMoveUp {
	0% { transform: translateY(-8px);}
	50% { transform: translateY(5px);}
	100% { transform: translateY(-8px);}
}

/* Salvatorre grid */
[data-columns],
.avis--left[data-columns],
.ym-share__tabs__content--avis[data-columns]{
	&::before {
		content: "2 .column.size-1of2";
	}
}

.ym-grid-3[data-columns],
.ym-share__tabs__content--last-avis[data-columns]{
	&::before {
		content: "3 .column.size-1of3";
	}
}
.column {
	float: left;
}

.size-1of2 {
	width: 50%;
}

.size-1of3 {
	width: 33.33%;
}

.grid-friend {
	float: left;
	width: 70%;
}

/**
 * Systéme de notification
 */
.notification {
	position: fixed;
	height: 50px;
	top: -50px;
	right: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;

	text-align: center;

	transition: top 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);


	&--error {
		background: lighten($red-color, 25%);
		p {
			color: darken($red-color, 30%);
		}
		.notification__close {
			color: darken($red-color, 30%);
		}
	}

	&--info {
		background: lighten($blue-color, 35%);
		p {
			color: darken($blue-color, 20%);
		}
		.notification__close {
			color: darken($blue-color, 20%);
		}
	}

	&--success {
		background: lighten($btn-hover, 25%);
		p {
			color: darken($btn-hover, 30%);
		}
		.notification__close {
			color: darken($btn-hover, 30%);
		}
	}


	&__inner {
		margin-top: -60px;

		transition: margin-top 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 150ms;

		p {

			line-height: 60px;
			font-family: $sans-font;
			text-transform: uppercase;
			font-size: 1.3em;
			letter-spacing: 0.05em;
			a {
				color: inherit;
				text-decoration: underline;
			}
		}


	}

	&__close {
		position: absolute;
		padding: 0 1em;
		height: 40px;
		width: auto;
		right: -80px;
		bottom: 0;

		font-family: sans-serif;
		font-size: 1em;
		line-height: 40px;
		text-align: center;

		background-color: rgba(#000, .05);
		cursor: pointer;

		transition: right 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

		i {
			font-family: $sans-font;
			margin: 0 1em;
			opacity: 0;
			text-transform: uppercase;
			transition: opacity 400ms 150ms;
		}

		&:hover {
			right: -10px;
			i {
				opacity: 1;
			}
		}
	}

	&.is-visible {
		top: -10px;
		visibility: visible;
		.notification__inner {
			margin-top: 0;
		}
	}
}

// Jquery calendar
#calendarDiv {
	border: 1px solid $light-color;
	background-color: #FFF;
	border-radius: 0;

	.activeDay {
		background: $highlight-color;
	}

	tr:not(.calendar_week_row) {
		td {
			&:hover {
				background: #F2F2F2;
			}
		}
	}


	.todaysDate {
		#todaysDateString {
			background: #F2F2F2;
		}
	}
}

// HELPERS
.no-result {
	p {
		text-transform: uppercase;
		color: lighten($dark-color, 50%);
		font-family: $sans-font-bold;
		font-size: 2em;
		letter-spacing: 0.02em;
		text-align: center;
		margin: 2em auto;
	}
}

