// Titre
.ym-toread__title,
.ym-todo__title,
.ym-toshare__title {
    @include titleSection();
}

.page__header {
	margin-bottom: 2em;
	&__title {
		background: transparent url('../../images/ywm-filet-title.png') center center repeat-x;
		text-align: center;

		span {
			display: inline-block;
			background: #FFF;
			padding: 1em;
			vertical-align: top;
			font-size: 1.875em;
			font-family: $hand-font;
			text-transform: lowercase;
		}
	}
}

.page__section {
	padding-bottom: 2em;
	@include clearfix();
	.page__section__intro {
		padding: 0 4em;
		margin-bottom: 4em;
		p {
			text-align: center;
			+ p { margin-top: .5em;}
		}
	}

}


// Fix color link title
h1,
h2,
h3,
h4,
h5,
h6 {
	> a {
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}

	a > & {
		color: $dark-color;
		&:hover {
			text-decoration: underline;
		}
	}
}
