.filter__nav {
	margin: 1em 0;

	li {
		display: inline-block;
		text-transform: uppercase;
		color: $primary-color-light;
		cursor: pointer;
		font-size: 1.563em;

		&::after {
			content : '';
			display: inline-block;
			height: 1em;
			vertical-align: top;
			width: 1px;
			margin: 0 .3em;
			background-color: $dark-color;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}

		&.active {
			color: $dark-color;
			text-decoration: underline;
		}
	}
}

.view-more {
	text-align: center;
	margin: 2em 0;

	a {
		font-size: 1.5em;
		text-transform: none;
	}
}

.ym-todo { @include clearfix();}
.ym-todo__title { @include titleSection();}

.ym-todo__tabs {
	.ym-todo__filters { @extend %filter;}
}

.ym-todo__activities {
	@include clearfix();
	height: auto;
	overflow: hidden;

	.bloc-activity {
		float: left;
		width: 254px;
		height: 415px;
		overflow: hidden;
		margin-bottom: 1em;
	}
}
// TO READ
.ym-toread__title {
	@extend %title;
	margin-bottom: 2em;

	span {
		&::before {
			width: 68px;
			height: 37px;
			margin-bottom: .5em;
			@include sprite(0, -166px );
		}
	}
}

.ym-toread__articles {
	@include clearfix();

	.articles--left {
		width: 75%;
		float: left;
		padding-right: 1em;
	}

	.articles-right {
		width: 25%;
		float: left;
		padding-left: 1em;
	}
}

// BLOC FACEBOOK
.ym-facebook {
	margin: 8em auto;
	text-align: center;

	.ym-facebook__title {
		font-family: $hand-font;
		font-size: 1.563em;
	}

	img { margin-top: -0.2em;}
}

// A PARTAGER
.ym-toshare {
  @include clearfix();

	.ym-toshare__title {
		@extend %title;
		span {
			&::before {
				width: 117px;
				height: 49px;
				margin-bottom: .5em;
				@include sprite(0, -320px );
			}
		}
	}

	.share-bloc__left {
		float: left;
		width: 30%;
	}

  .view-more {
	p { margin-bottom: 1em;}
  }
}

// SECTION AMIS
.ym-share__tabs {
	.ym-fiends__list {
		margin-top: 2em;
		overflow: hidden;
		min-height: 230px;
		@include clearfix();
	}
}


.share-bloc__right {
  padding-left: 1em;
  float: right;
  width: 70%;
}
