.page {
	&__content {
		@include clearfix();

		&--full,
		&--one,
		&--half,
		&--third {
			padding: 1em;
		}

		&--full {
			clear: both;
			width: 100%;
		}

		&--one {
			float: left;
			width: 25%;
		}

		&--half {
			float: left;
			width: 50%;
		}

		&--third {
			float: left;
			width: 75%;
		}
	}

	p {
		& + p {
			margin-bottom: 1em;
		}
	}
}
