// BLOC MAP
.ym-map {
	text-align: center;

	.ym-map__filter {

		.map-filter__title {
			font-size: 1.5em;
			color: $grey-color;
			text-transform: uppercase;
			position: relative;
		}

		.checkbox-filter {
			display: inline-block;

			input[type=checkbox] {
				display:none;

				+ label {
					display: block;
					color: $grey-color;
					font-family: $sans-font-bold;
					margin-left: .2em;
					font-size: 1.5em;
					cursor: pointer;
					transition: color 400ms;
					&:hover { color: $dark-color;}
				}

				&:checked + label { color: $highlight-color;}
			}
		}
	}

	.ym-map__container {
		height: 462px;
		width: 100%;

		border-top: 1px solid $light-color;
		border-bottom: 1px solid $light-color;
		margin: 1.250em auto;

		#map {
			width: 100%;
			height: 460px;
			margin-left: 40px;
		}
	}
}

// BLOC AFFICHAGE DES RESULTATS
.ym-result-container {
	@include clearfix();

	.ym-result-row {
		padding: 1em;
		border: 1px solid $light-color;
		margin-bottom: 1.250em;
		float: right;
		width: 95.81%;
		@include clearfix();
	}
}

.result-row-pin {
	float: left;
	width: 35px;
	min-height: 214px;
	position: relative;
	.pin-icon {
		display: block;
		margin: 85px auto 0;
		height: 39px;
		width: 29px;
	}
}

.ym-result-filter {
	@include clearfix();
	text-align: center;
	margin-bottom: 1.250em;

	&.filter__mums {
		padding: 2em 0 1em;
		text-align: left;
	}

	.ym-filter__title {
		display: inline-block;
		span {
			font-size: 1.5em;
			color: $grey-color;
			text-transform: uppercase;
			padding: 10px 24px 9px 9px;
			position: relative;
			vertical-align: bottom;
			display: inline-block;
		}
	}

	#result-filter {
		display: inline-block;
		.fancy-select {
			display: inline-block;
		}
	}
}


.result-row__adresse {
	float: left;
	width: 56%;

	.add-favorite {
		position: absolute;
		top: 0; right: 0;
	}

	.info-icon {
		margin-top: 2em;
		float: left;
		min-height: 85px;
		padding: 0;
		margin-right: .5em;
	}


	.adresse-pic {
		float: left;
		width: 30%;
		cursor: pointer;
		a {
			display: block;
		}
	}

	.adresse-info {
		padding: 0 1em;
		float: left;
		width: 70%;
		position: relative;
		@include clearfix();

		.info-txt {
			margin-top: 2em;
		}

		.info-txt__name {
			a {
				color: $dark-color;
				text-transform: uppercase;
				font-family: $sans-font-bold;
				font-size: 1.75em;
				cursor: pointer;
				@include hoverLink();
				&:hover {
					color: $highlight-color;
				}
			}
		}

		.info-txt__meta {
			.meta-type {
				font-weight: bold;
				&::after {
					content: "";
					display: inline-block;
					margin: 0 .3em 0 .5em;
					vertical-align: middle;
					height: 15px;
					width: 1px;
					background: $dark-color;
				}
			}
			.meta-author__link {
				text-transform: uppercase;
				font-family: $sans-font;
				text-decoration: underline;
				font-size: 1.2em;
			}
		}
	}
}

.result-row__comments {
	float: left;
	width: 44%;
	display: table;
	@include clearfix();

	&::before {
		content: "";
		display: block;
		float: left;
		width: 12px;
		height: 180px;
		@include sprite(-364px, -52px);
	}

	.comments-note {
		width: 50%;
		padding: 0 1em;
		display: table-cell;
		vertical-align: middle;
	}

	.comments-avis {
		display: table-cell;
		vertical-align: middle;
		width: 47.44%;

		.comment-avis__excerpt {
			display: block;
			margin-bottom: 1em;

			p {
				font-style: italic;
				color: $link-color;

				&::before {
					content: "“";
					display: inline-block;
					margin-right: .2em;
				}

				&::after {
					content: "”" ;
					display: inline-block;
					margin-left: .2em;
				}
			}
		}
	}
}

.result-row__coming-soon {
	padding-top: 1em;
	clear: both;
}

.coming-soon-table {
	width: 100%;
	color: $dark-color;
	tr {
		&:nth-child(odd) {
			background: rgba($light-color, .2);
		}
	}

	td {
		vertical-align: middle;
		text-align: center;
		padding: .5em;
		font-size: 1.375em;

		&.coming-soon__name {
			text-align: left !important;
			color: $dark-color;
		}
		&.coming-soon__icon { @include icons();}

	}
}
