.single-adresse__header,
.single-activity__header {
	background: #FFF;
	padding: 1.875em 1em;
	position: relative;
	width: 100%;
	@include clearfix();
	display: table;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 7px;
		background:transparent url('../images/ywm-filet.png') left top repeat-x;
	}

	&::before { top: 0;}
	&::after { bottom: 0;}

	.ym-btn-back {
		display: table-cell;
	}
}

.ym-single-adresse {
	padding-bottom: 4em;
}


.single-adresse__info,
.single-activity__info {
	display: table-cell;
	vertical-align: middle;
	@include clearfix();

	.adresse-info__icon,
	.activity-info__icon {
		float: left;
		padding: 0;
		margin-right: 1em;

		@include icons();
	}

	.adresse-info__text,
	.activity-info__text {
		.info-text__title {
			color: $dark-color;
			text-transform: uppercase;
			font-family: $sans-font-bold;
			font-size: 2.250em;
		}
	}
}

.single-adresse__action,
.single-activity__action {
	display: table-cell;
	vertical-align: middle;
	text-align: right;

	.share-box {
		position: absolute;
		right: -20px;
		top: 79px;
		z-index: 8;
	}

	.add-favorite,
	.add-avis,
	.add-share {
		display: inline-block;
		font-family: $sans-font-bold;
		color: $dark-color;
		margin-right: 1.563em;
		font-size: 1.250em;
		cursor: pointer;
		user-select: none;
		@include hoverLink();

		&:last-child { margin-right: 0;}

		&:hover {
			text-decoration: underline;
			.ym-icon {
				border-color: $dark-color;
			}
		}
	}

	.ym-icon {
		display: inline-block;
		width: 50px; height: 50px;
		margin-right: .5em;
		vertical-align: middle;
		text-align: center;
		line-height: 50px;
		border: 1px solid $light-color;
		border-radius: 50px;
		@include hoverLink();

		&::after {
			content: '';
			display: inline-block;
			margin-top: 10px;
			z-index: 1;
			position: relative;
			width: 25px;
			height: 30px;
		}

		&.icon-avis::after { @include sprite(-200px, -111px); width: 28px; height: 29px;}
		&.icon-favorite::after { @include sprite(0, -75px);}
		&.icon-share::after { @include sprite(-228px, -111px); width: 29px; height: 29px;}
	}
}

.single-adresse__description {
	margin: 2em 0;
	@include clearfix();
	.adresse-description__left {
		float: left;
		width: 70%;
		padding: 0 1em;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 3px;
			top: 0;
			right: 0;
			bottom: 0;
			background:transparent url('../images/ywm-filet-vertical.png') left top repeat-y;
		}
	}

	.adresse-description__right {
		float: left;
		width: 30%;
		padding: 0 0 0 1em;

		.comments-note {
			.comments-note__count {
				height: 58px;
				width: 58px;
				line-height: 58px;
				font-size: 3.125em;
			}
			.comments-note__title {
				font-size: 1.688em;
				margin: .3em 0;
			}
		}
	}
}

.adresse-location {
	margin: 1.250em 0;
	@include clearfix();
	.location-map {
		float: left;
		width: 50%;
	}
	.location-info {
		float: left;
		width: 50%;
		padding-left: 1.250em;

		.location-info__adresse {
			p { margin-bottom: .5em;}
			span, a {
				font-family: $serif-font;
				color: $dark-color;
				display: block;
				line-height: 1.2;
			}
		}

		.location-info__opening {
			margin-top: 1em;
		}

		.location-info__modify {
			margin-top: 1em;
			color: $grey-color;
			a {
				font-family: $serif-font;
				color: $grey-color;
				text-decoration: underline;
				font-size: 0.750em;
				display: inline-block;
			}
		}
	}
}

.adresse-feature {
	@include clearfix();
	margin-top: 2em;

	.adresse-feature__container {
		width: 50%;
		float: left;

		.adresse-feature__row {
			margin-bottom: .5em;
			@include clearfix();
		}
	}
}


.adresse-feature__icons {
	display: block;
	float: left;
	margin-right: .2em;
	min-width: 32px;
	min-height: 34px;

	span {
		display: inline-block;
		vertical-align: middle;
		width: 22px;
		height: 27px;
		&.icon--poussette {@include sprite(0, -235px);}
		&.icon--clean {@include sprite(0, -262px); width: 25px;}
		&.icon--game {@include sprite(-22px, -240px); height: 18px; width: 20px;}
		&.icon--equipped {@include sprite(-25px, -258px); height: 34px; width: 13px;}
		&.icon--smile {@include sprite(0, -289px); width: 18px; height: 19px;}
		&.icon--wc {@include sprite(-38px, -265px); width: 32px; height: 23px;}
		&.icon--price {@include sprite(-42px, -244px); width: 26px; height: 21px;}
		&.icon--table {@include sprite(-18px, -292px); width: 26px; height: 23px;}
	}
}

.adresse-feature__info {
	float: right;
	text-align: left;
	min-width: 76%;

	.feature-info__title {
		color: $grey-color;
	}
}

.feature-info__range {
	display: block;
	margin-top: .4em;
	border-radius: 2px;
	width: 100px;
	height: 6px;
	background:transparent url('../images/ywm-range-single.png') left top no-repeat;

	&.range--blue { background-position: 0 -6px;}

	&.range--100 { width: 100px;}
	&.range--90 { width: 90px;}
	&.range--80 { width: 80px;}
	&.range--70 { width: 70px;}
	&.range--60 { width: 60px;}
	&.range--50 { width: 50px;}
	&.range--40 { width: 40px;}
	&.range--30 { width: 30px;}
	&.range--20 { width: 20px;}
	&.range--10 { width: 10px;}
}

.adresse-comments {
	margin-top: 1em;
	padding: 3em 1em 0;
	background:transparent url('../images/ywm-filet-arrow-top.png') center top no-repeat;

	.adresse-comments__row {
		@include clearfix();
		margin-bottom: 1em;

		.comment-avis__pic {
			display: block;
			float: left;
			width: 42px;
			height: 42px;
			margin-right: .5em;
			border-radius: 42px;
		}

		.comment-avis__excerpt {
			display: block;
			margin-bottom: 1em;

			p {
				font-style: italic;
				color: $link-color;

				&::before {
					content: "“";
					display: inline-block;
					margin-right: .2em;
				}

				&::after {
					content: "”" ;
					display: inline-block;
					margin-left: .2em;
				}
			}
		}
	}

	.adresse-comments__link {
		text-align: center;
	}
}

.single-adresse__tab {
	margin-top: 4em;
}


// TAB Section Avis

.ym-tab__avis{
	@include clearfix();
}
.avis--left {
	float: left;
	width: 70%;
}

.avis--right {
	float: left;
	width: 30%;
}

.ym-bloc--add {
	padding: 0 1.25em;

	.ym-bloc__pic {
		width: 65px;
		height: 65px;
		border-radius: 100%;
		display: inline-block;
		overflow-y: hidden;
		margin-top: -3em;

		> img {
			width: 100% !important;
			height: 100%;
		}
	}

	.ym-bloc__do {
		font-family: $sans-font-bold;
		font-size: 1.5em;
		margin-bottom: 1.5em;
		letter-spacing: .05em;
	}

	form {
		position: relative;
		&::before {
			content: "";
			width: 0;
			height: 0;
			border-left: 1em solid transparent;
			border-right: 1em solid transparent;
			border-bottom: 1.5em solid #F2F2F2;
			position: absolute;
			top: -1.4em;
			left: 50%;
			margin-left: -1em;
		}

		textarea {
			width: 100%;
			display: block;
			resize: none;
			height: 130px;
			background-color: #F2F2F2;
			border: none;
			padding: 1em;
			font-size: .875em;
			font-style: italic;
			font-family: $serif-font;
		}

		button {
			display: inline-block;
			margin: 1em 0;
			border: none;
			background: #e5c03e;
			padding: .2em 1em;
			text-transform: uppercase;
			font-size: 1.250em;
			font-family: $sans-font-bold;
			cursor: pointer;

			&:hover {
				background-color: $btn-hover;
			}
		}
	}
}


.add-pic__container {
	position: relative;
	width: 100%;
	height: 130px;
}
.add-pic__label {
	display: block;
	height: 130px;
	line-height: 130px;
	background-color: #F2F2F2;
	color: $grey-color;
	font-family: $serif-font;
	font-style: italic;
	text-decoration: underline;
	font-size: .875em;
	transition: all 400ms;
	cursor: pointer;

	&::before {
		content:"";
		display: inline-block;
		@include sprite(-330px, -254px);
		vertical-align: middle;
		opacity: .6;
		margin-right: .5em;
		width: 32px; height: 37px;
		transition: all 400ms;
	}
}
.add-pic__input {
	position: absolute;
	top: 0; left: 0;
	width: 225px;
	padding: 14px 0;
	opacity: 0;
	cursor: pointer;
}


.add-pic__input:hover + .add-pic__label,
.add-pic__input:focus + .add-pic__label,
.add-pic__label:hover,
.add-pic__label:focus {
	color: $dark-color;
	&::before {
		opacity: 1;
	}
}

.add-pic__return {
	font-family: $sans-font;
	letter-spacing: .05em;
	color: $grey-color;
	margin: .3em 0;
	font-size: 1em;
	line-height: 1.1;
	span {
		color: $highlight-color;
	}
}

// Transformation du tableau en div.
.ym-accordion {
	&.is-open {
		background: #a0eadd;

		.coming-soon__name {
			font-size: 1.563em;
			font-family: $sans-font-bold;
			text-transform: uppercase;
			width: auto;
		}

		.coming-soon__note,
		.coming-soon__age,
		.coming-soon__price,
		.coming-soon__note {
			display: none;
		}

		.coming-soon__contact,
		.coming-soon__add-comment,
		.coming-soon__add-pic,
		.coming-soon__like,
		.close-activity {
			display: inline-block;
		}
	}
}
.coming-soon__resume {
	cursor: pointer;
	display: block;
	color: #000;
	@include clearfix();
	padding: 0 1em;
	transition: 400ms;

	&:hover {
		background: darken(#F2F2F2, 5%);
	}

	> div {
		padding: .5em;
		font-size: 1.375em;
		display: inline-block;
		vertical-align: middle;

		&.coming-soon__name {
			text-align: left !important;
			width: 59%;

		}

		&.coming-soon__icon {
			@include icons();
		}

		&.coming-soon__note {
			.comment-note__stars {
				display: inline-block;
			}
		}

		&.coming-soon__contact,
		&.coming-soon__add-comment,
		&.coming-soon__add-pic {
			display: none;
		}
	}
}

.coming-soon__activity {
	display: none;
	@include clearfix();
	background: #FFF;
	padding: 1em;
	> div {
		padding: 1em;
		float: left;
		h3 {
			font-size: 1.438em;
			font-family: $sans-font-bold;
			text-transform: uppercase;
			margin: 1em 0;
		}


		&.activity-image {
			width: 30%;
		}
		&.activity-content {
			width: 35%;
			font-size: .875em;

			p.activity-content__list-title {
				font-weight: bold;
				margin-top: 1em;
				margin-bottom: .5em;
			}

			ul {
				margin: 0 1em;
				li {
					list-style-type: disc;
					margin-bottom: .5em;
					font-family: $serif-font;
				}
			}
		}

		&.activity-info {
			width: 15%;
			text-align: center;
			border-left: 1px solid $light-color;
			border-right: 1px solid $light-color;

			p {
				margin-bottom: 0;
				font-family: $sans-font;
				font-size: 1.375em;
			}
		}

		&.activity-schedule {
			width: 20%;
			text-align: center;
			ul {
				margin-top: .5em;
				list-style: none;
				li {
					font-family: $sans-font;
					font-size: 1.125em;
					margin-bottom: .8em;
					a {
						color: $dark-color;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		&.activity-bottom {
			clear: both;
			margin: 1em 0;
			padding: 1em 0 2em;
			display: block;
			width: 100%;
			border-top: 1px solid $light-color;
			border-bottom: 2px solid $dark-color;
			text-align: right;

			a {
				display: inline-block;
				padding: 20px 27px;
				font-size: 1.5em;
				text-transform: uppercase;
				color: #FFF;
				background: #d99a50;
				letter-spacing: .05em;

				&:hover {
					background-color: $btn-hover;
				}
			}
		}
	}

}


.coming-soon__title {
		padding: .5em 0;
		text-transform: uppercase;
		font-family: $sans-font-bold;
		font-size: 1.375em;
		background: $bg-color;
		&::after {
			content: '';
			float: right;
			display: block;
			margin-top: 11px;
			height: 7px;
			z-index: -1;
			width: 85%;
			background:transparent url('../../images/ywm-filet.png') left top repeat-x;
		}
	}


.icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	border: 1px solid $light-color;
	background: #FFF;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: 400ms;

	&:hover {
		border-color: $dark-color;
	}

	&::after {
		content: '';
		display: inline-block;
		margin-top: 10px;
		z-index: 1;
		position: relative;
		width: 25px;
		height: 30px;
		vertical-align: middle;
	}

	&--contact {
		&::after { @include sprite(-228px, -110px); width: 29px; height: 29px;}
	}

	&--comment {
		&::after { @include sprite(-362px, -254px); width: 30px; height: 22px;}
	}
	&--picture {
		&::after { @include sprite(-362px, -276px); width: 30px; height: 26px;}
	}
}


.close-activity {
	float: right;
	margin-top: 22px;
	display: none;
	width: 34px; height: 34px;
	border: 1px solid $light-color;
	background-color: #fff;
	line-height: 34px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

@keyframes arrowMove {
	0% { transform: translate(0,0);}
	50% { transform: translate(-5px,0);}
	60% { transform: translate(5px,0);}
	80% { transform: translate(-5px,0);}
	100% { transform: translate(0,0);}
}
