<div class="cookie-bar">
	<div class="cookie-bar__content">
		<p>En poursuivant votre navigation sur nos sites, vous acceptez l'installation et l'utilisation de cookies sur votre poste, notamment à des fins promotionnelles et/ou publicitaires, dans le respect de notre <a href="#">politique de protection de votre vie privée.</a> - <span class="cookie-bar__close"><i></i>Fermer</span></p>
	</div>
</div>
