
<!-- 		<div class="notification">
	<span class="notification__icon"></span>
	<p>Ajouté au favoris </p>
	<span class="notification__close">X <i>fermer</i></span>
</div>
 -->

		<span class="ym-scroll-top"><i></i></span>

		<script src="js/vendors/jquery-1.11.3.min.js"></script>
		<script src="js/plugins/fancySelect.js"></script>
		<script src="js/plugins/owl.carousel.min.js"></script>
		<script src="js/plugins/jquery.bez.js"></script>
		<script src="js/plugins/jquery.mixitup.min.js"></script>
		<script src="js/plugins/jquery.tooltipster.min.js"></script>
		<script src="js/plugins/salvatorre.min.js"></script>
		<script src="js/plugins/featherlight.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
