<div class="ym-bloc--add-avis">
	<span class="add-avis__icon"></span>
	<h4 class="add-avis__title">Donner un avis</h4>
	<form action="">
		<div class="field field--avis">
			<input type="text" name="avis-title" id="avis-title" placeholder="Titre(court, clair er précis)" class="add-avis__input">
			<span class="validatedfield"></span>
		</div>
		<div class="field field--avis">
			<textarea name="add-avis" id="add-avis" placeholder="Donc, voilà ce que j'en pense" class="add-avis__input"></textarea>
			<span class="validatedfield"></span>
		</div>
		<div class="add-avis__global-rating">
			<p class="global-rating__title">Note globale</p>
			<span class="rating__input">
				<input type="radio" name="rating-global" id="rating-global-1-5" class="radio-rating">
				<label for="rating-global-1-5" class="rating-star rating-1-5"></label>
				<input type="radio" name="rating-global" id="rating-global-1-4" class="radio-rating">
				<label for="rating-global-1-4" class="rating-star rating-1-4"></label>
				<input type="radio" name="rating-global" id="rating-global-1-3" class="radio-rating">
				<label for="rating-global-1-3" class="rating-star rating-1-3"></label>
				<input type="radio" name="rating-global" id="rating-global-1-2" class="radio-rating">
				<label for="rating-global-1-2" class="rating-star rating-1-2"></label>
				<input type="radio" name="rating-global" id="rating-global-1-1" class="radio-rating radio-rating__reset">
				<label for="rating-global-1-1" class="rating-star rating-1-1"></label>
			</span>
		</div>
		<div class="adresse-feature__row">
			<div class="adresse-feature__icons">
				<span class="icon--poussette"></span>
			</div>
			<div class="adresse-feature__info">
				<h5 class="feature-info__title">Easy pousette</h5>
				<div class="feature-info__rating">
					<span class="rating__input">
						<input type="radio" name="rating-pousette" id="rating-pousette-1-5" class="radio-rating">
						<label for="rating-pousette-1-5" class="rating-star rating-1-5"></label>
						<input type="radio" name="rating-pousette" id="rating-pousette-1-4" class="radio-rating">
						<label for="rating-pousette-1-4" class="rating-star rating-1-4"></label>
						<input type="radio" name="rating-pousette" id="rating-pousette-1-3" class="radio-rating">
						<label for="rating-pousette-1-3" class="rating-star rating-1-3"></label>
						<input type="radio" name="rating-pousette" id="rating-pousette-1-2" class="radio-rating">
						<label for="rating-pousette-1-2" class="rating-star rating-1-2"></label>
						<input type="radio" name="rating-pousette" id="rating-pousette-1-1" class="radio-rating radio-rating__reset">
						<label for="rating-pousette-1-1" class="rating-star rating-1-1"></label>
					</span>
				</div>
			</div>
		</div>
		<div class="adresse-feature__row">
			<div class="adresse-feature__icons">
				<span class="icon--clean"></span>
			</div>
			<div class="adresse-feature__info">
				<h5 class="feature-info__title">C'est propre</h5>
				<div class="feature-info__rating">
					<span class="rating__input">
						<input type="radio" name="rating-propre" id="rating-propre-1-5" class="radio-rating">
						<label for="rating-propre-1-5" class="rating-star rating-1-5"></label>
						<input type="radio" name="rating-propre" id="rating-propre-1-4" class="radio-rating">
						<label for="rating-propre-1-4" class="rating-star rating-1-4"></label>
						<input type="radio" name="rating-propre" id="rating-propre-1-3" class="radio-rating">
						<label for="rating-propre-1-3" class="rating-star rating-1-3"></label>
						<input type="radio" name="rating-propre" id="rating-propre-1-2" class="radio-rating">
						<label for="rating-propre-1-2" class="rating-star rating-1-2"></label>
						<input type="radio" name="rating-propre" id="rating-propre-1-1" class="radio-rating radio-rating__reset">
						<label for="rating-propre-1-1" class="rating-star rating-1-1"></label>
					</span>
				</div>
			</div>
		</div>
		<div class="adresse-feature__row">
			<div class="adresse-feature__icons">
				<span class="icon--game"></span>
			</div>
			<div class="adresse-feature__info">
				<h5 class="feature-info__title">On les occupe</h5>
				<div class="feature-info__rating">
					<span class="rating__input">
						<input type="radio" name="rating-occupation" id="rating-occupation-1-5" class="radio-rating">
						<label for="rating-occupation-1-5" class="rating-star rating-1-5"></label>
						<input type="radio" name="rating-occupation" id="rating-occupation-1-4" class="radio-rating">
						<label for="rating-occupation-1-4" class="rating-star rating-1-4"></label>
						<input type="radio" name="rating-occupation" id="rating-occupation-1-3" class="radio-rating">
						<label for="rating-occupation-1-3" class="rating-star rating-1-3"></label>
						<input type="radio" name="rating-occupation" id="rating-occupation-1-2" class="radio-rating">
						<label for="rating-occupation-1-2" class="rating-star rating-1-2"></label>
						<input type="radio" name="rating-occupation" id="rating-occupation-1-1" class="radio-rating radio-rating__reset">
						<label for="rating-occupation-1-1" class="rating-star rating-1-1"></label>
					</span>
				</div>
			</div>
		</div>
		<div class="adresse-feature__row">
			<div class="adresse-feature__icons">
				<span class="icon--equipped"></span>
			</div>
			<div class="adresse-feature__info">
				<h5 class="feature-info__title">C'est équipé</h5>
				<div class="feature-info__rating">
					<span class="rating__input">
						<input type="radio" name="rating-equipement" id="rating-equipement-1-5" class="radio-rating">
						<label for="rating-equipement-1-5" class="rating-star rating-1-5"></label>
						<input type="radio" name="rating-equipement" id="rating-equipement-1-4" class="radio-rating">
						<label for="rating-equipement-1-4" class="rating-star rating-1-4"></label>
						<input type="radio" name="rating-equipement" id="rating-equipement-1-3" class="radio-rating">
						<label for="rating-equipement-1-3" class="rating-star rating-1-3"></label>
						<input type="radio" name="rating-equipement" id="rating-equipement-1-2" class="radio-rating">
						<label for="rating-equipement-1-2" class="rating-star rating-1-2"></label>
						<input type="radio" name="rating-equipement" id="rating-equipement-1-1" class="radio-rating radio-rating__reset">
						<label for="rating-equipement-1-1" class="rating-star rating-1-1"></label>
					</span>
				</div>
			</div>
		</div>
		<div class="adresse-feature__row">
			<div class="adresse-feature__icons">
				<span class="icon--smile"></span>
			</div>
			<div class="adresse-feature__info">
				<h5 class="feature-info__title">Sourire compris</h5>
				<div class="feature-info__rating">
					<span class="rating__input">
						<input type="radio" name="rating-sourire" id="rating-sourire-1-5" class="radio-rating">
						<label for="rating-sourire-1-5" class="rating-star rating-1-5"></label>
						<input type="radio" name="rating-sourire" id="rating-sourire-1-4" class="radio-rating">
						<label for="rating-sourire-1-4" class="rating-star rating-1-4"></label>
						<input type="radio" name="rating-sourire" id="rating-sourire-1-3" class="radio-rating">
						<label for="rating-sourire-1-3" class="rating-star rating-1-3"></label>
						<input type="radio" name="rating-sourire" id="rating-sourire-1-2" class="radio-rating">
						<label for="rating-sourire-1-2" class="rating-star rating-1-2"></label>
						<input type="radio" name="rating-sourire" id="rating-sourire-1-1" class="radio-rating radio-rating__reset">
						<label for="rating-sourire-1-1" class="rating-star rating-1-1"></label>
					</span>
				</div>
			</div>
		</div>
		<div class="add-avis__points">
			<p class="points__title"><span>bon points</span></p>
			<span class="sentence-input">
				<input type="checkbox" name="salle-attente" id="salle-attente">
				<label for="salle-attente">Salle d'attente avec jeux</label>
			</span>
			<span class="sentence-input">
				<input type="checkbox" name="peu-attente" id="peu-attente">
				<label for="peu-attente">Peu d'attente</label>
			</span>
			<span class="sentence-input">
				<input type="checkbox" name="douceur" id="douceur">
				<label for="douceur">Douceur/gentillesse du practicien</label>
			</span>
			<span class="sentence-input">
				<input type="checkbox" name="carte-vitale" id="carte-vitale">
				<label for="carte-vitale">Borne carte vitale</label>
			</span>
		</div>
		<div class="add-avis__blog">
			<label for="talk-blog">J'en parle sur mon blog, voici le post</label>
			<textarea name="talk-blog" class="add-avis__input"></textarea>
		</div>
		<div class="add-avis__captcha">
			<p>je copie le <strong>machin à droite</strong></p>
			<input type="text" name="captcha" id="captcha">
			<img src="images/temp/captcha.png" alt="captcha">
		</div>
		<button>Cette fois c'est bien !</button>
	</form>
</div>
