<div class="ym-friends__list">
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<div class="request-familly">
				<span class="request-familly__accept">accepter</span>
				<span class="request-familly__reject">refuser</span>
			</div>

		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
		<div class="ym-friend toggle-friend" href="#">
			<a class="ym-friend__pic">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
			</a>
			<p class="ym-friend__name">Josée</p>
			<p class="ym-friend__location">Paris</p>

			<span class="add-friend add-friend--small"></span>
			<div class="ym-friend__info">
				<div class="ym-friend__info__meta">
					<i class="meta--avis"></i><span>5</span>
				</div>
				<div class="ym-friend__info__meta">
					<i class="meta--address"></i><span>1</span>
				</div>
			</div>
			<span class="add-familly">ma famille</span>
		</div>
	</div>
