<div class="ym-container">
	<section>
		<ul class="ym-tabs-page">
			<a name="tabs"></a>
			<li><a href="#" onclick="document.getElementById('display').value='votes'; document.getElementById('friend_form').submit();" class="tab-avis "> Avis</a></li>
			<li><a href="#" onclick="document.getElementById('display').value='images'; document.getElementById('friend_form').submit();" class="tab-pictures is-active"> Photos</a></li>
			<li><a href="#" onclick="document.getElementById('display').value='adresses'; document.getElementById('friend_form').submit();" class="tab-adresses"> Adresses</a></li>
		</ul>
		<div id="" class="ym-tab-content" style="opacity:1">
			<div class="ym-bloc-container">
				<div class="ym-bloc">
					<div class="ym-bloc__content toggle-friend">
						<a href="carnet-de--ref.html">
							<img  class="ym-bloc__pic" src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
									<h4 class="ym-bloc__username">Melle o</h4>
								</a>
								<span class="add-friend add-friend--small"></span>
								<p class="ym-bloc__do">à ajouté une image</p>
								<p class="ym-bloc__time">27 jours</p>
							<a href="adresse-la-geode-26-rue-corentin-cariou-paris" class="ym-bloc__activity ym-bloc__activity--photo">
								<div class="add-favorite">
									<span class="add-favorite__icon is-added" name="281117308"></span>
								</div>
								<div class="ym-bloc__image" style="background-image:url(http://yeswemoms.com/image_uploads/large/image_195660812_881143811360816.png)"></div>
								<h4 class="activity__title">La géode</h4>
								<p>26 rue corentin cariou Paris</p>
							</a>
						</div>
					</div>
			</div>
			<div id="more_articles_div16" class="more-article">
				<img src="images/dist_mark6.png" alt="" style="display:none" onload="cur_item_index=0; cur_tot=16"><span href="#" onclick="loadMoreItems(16);" class="ym-btn">Lire + d'articles</span>
			</div>
		</div>
	</section>
</div>
