<div class="ym-container">
	<div class="search-box__type search-box__type--oneline">
	<div class="checkbox-type">
		<input type="radio" name="activite-adresse" id="airs" data="radio-airs">
		<label for="airs" class="type-airs--small"></label>
		<span>Prendre l'air</span>
	</div>
	<div class="checkbox-type">
		<input type="radio" name="activite-adresse" id="loisirs" data="radio-loisirs">
		<label for="loisirs" class="type-loisirs--small"></label>
		<span>Loisirs</span>
	</div>
	<div class="checkbox-type">
		<input type="radio" name="activite-adresse" id="cultures" data="radio-cultures">
		<label for="cultures" class="type-cultures--small"></label>
		<span>Cultures</span>
	</div>
	<div class="checkbox-type">
		<input type="radio" name="activite-adresse" id="table" data="radio-table">
		<label for="table" class="type-table--small"></label>
		<span>A table</span>
	</div>
	<div class="checkbox-type">
		<input type="radio" name="activite-adresse" id="shopping" data="radio-shopping">
		<label for="shopping" class="type-shopping--small"></label>
		<span>Shopping</span>
	</div>
	<div class="checkbox-type">
		<input type="radio" name="activite-adresse" id="voyages" data="radio-voyages">
		<label for="voyages" class="type-voyages--small"></label>
		<span>Voyages</span>
	</div>
	<div class="checkbox-type">
		<input type="radio" name="activite-adresse" id="pratique" data="radio-pratique">
		<label for="pratique" class="type-pratique--small"></label>
		<span>Pratique</span>
	</div>
</div>
</div>
