<div class="ym-container">
	<div class="ym-result-container">
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<a href="single-adresse.html">
					<img src="images/temp/result-resto-2.png" alt="">
					</a>
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name"><a href="single-adresse.html">Le poussette café</a></h3>
						<p class="info-txt__location">6 rue Pierre Semard 75009 Paris</p>
						<p class="info-txt__meta">
							<a href="#" class="meta-type">Restaurant</a>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
						</p>
					</div>
					<div class="in-favorite">
						<h4 class="in-favorite__title">Dans les favoris de</h4>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/madysondesigns/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/madysondesigns/128.jpg');"></a>
						<a class="in-favorite__pic tooltip" title="Username" href="#" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg');"></a>
						<a class="in-favorite__pic in-favorite__pic__more tooltip" title="tout voir" href="#"> + </a>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">3</span>
					<span class="comments-note__title">Gérable</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>très chouette endroit plein de choses à faire !</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Super accueil, super service à refaire bien...</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ym-container">
	<!-- MODULE AJOUT D'AMIS -->
	<h2 class="ym-todo__title"><span>mes amis</span></h2>
	<!-- IS FAMILLY -->
	@include('_bloc-list-friend.html')
	<section>
		<ul class="ym-tabs-page">
			<li><span class="ym-tabs__links tab-avis is-active">Avis</span></li>
			<li><span class="ym-tabs__links tab-pictures "> Photos</span></li>
			<li><span class="ym-tabs__links tab-activity">Favoris</span></li>
			<li><span class="ym-tabs__links tab-activity "> Adresses</span></li>
		</ul>
		<div class="ym-avis ym-grid-3" data-columns>
			<div class="ym-bloc">
				<div class="ym-bloc__content">
					<div class="ym-bloc__pic">
						<img src="images/temp/profil-pic-avis.png" alt="">
					</div>
					<h4 class="ym-bloc__username">Donna</h4>
					<p class="ym-bloc__do">à écrit un avis</p>
					<p class="ym-bloc__time">5 min</p>
					<div class="ym-bloc__text">
						<h4>très chouette endroit, plein de chose à faire !</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis!</p>
					</div>
					<div class="ym-bloc__note">
						<div class="note-count">
							<div class="comments-note">
								<span class="comments-note__count">3</span>
								<span class="comments-note__title">Gérable</span>
								<span class="comment-note__stars note-stars--4"></span>
							</div>
						</div>
						<div class="note-feature">
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--poussette"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Easy pousette</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--clean"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est propre</h5>
									<div class="feature-info__range range--80"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--game"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">On les occupe</h5>
									<div class="feature-info__range range--50"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--equipped"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est équipé</h5>
									<div class="feature-info__range range--30"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--smile"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Sourire compris</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ym-bloc">
				<div class="ym-bloc__content">
					<div class="ym-bloc__pic">
						<img src="images/temp/profil-pic-avis.png" alt="">
					</div>
					<h4 class="ym-bloc__username">Donna</h4>
					<p class="ym-bloc__do">à écrit un avis</p>
					<p class="ym-bloc__time">5 min</p>
					<div class="ym-bloc__text">
						<h4>très chouette endroit, plein de chose à faire !</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis!</p>
					</div>
					<div class="ym-bloc__note">
						<div class="note-count">
							<div class="comments-note">
								<span class="comments-note__count">3</span>
								<span class="comments-note__title">Gérable</span>
								<span class="comment-note__stars note-stars--4"></span>
							</div>
						</div>
						<div class="note-feature">
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--poussette"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Easy pousette</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--clean"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est propre</h5>
									<div class="feature-info__range range--80"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--game"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">On les occupe</h5>
									<div class="feature-info__range range--50"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--equipped"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est équipé</h5>
									<div class="feature-info__range range--30"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--smile"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Sourire compris</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ym-bloc">
				<div class="ym-bloc__content">
					<div class="ym-bloc__pic">
						<img src="images/temp/profil-pic-avis.png" alt="">
					</div>
					<h4 class="ym-bloc__username">Donna</h4>
					<p class="ym-bloc__do">à écrit un avis</p>
					<p class="ym-bloc__time">5 min</p>
					<div class="ym-bloc__text">
						<h4>très chouette endroit, plein de chose à faire !</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis!</p>
					</div>
					<div class="ym-bloc__note">
						<div class="note-count">
							<div class="comments-note">
								<span class="comments-note__count">3</span>
								<span class="comments-note__title">Gérable</span>
								<span class="comment-note__stars note-stars--4"></span>
							</div>
						</div>
						<div class="note-feature">
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--poussette"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Easy pousette</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--clean"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est propre</h5>
									<div class="feature-info__range range--80"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--game"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">On les occupe</h5>
									<div class="feature-info__range range--50"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--equipped"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est équipé</h5>
									<div class="feature-info__range range--30"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--smile"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Sourire compris</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ym-bloc">
				<div class="ym-bloc__content">
					<div class="ym-bloc__pic">
						<img src="images/temp/profil-pic-avis.png" alt="">
					</div>
					<h4 class="ym-bloc__username">Donna</h4>
					<p class="ym-bloc__do">à écrit un avis</p>
					<p class="ym-bloc__time">5 min</p>
					<div class="ym-bloc__text">
						<h4>très chouette endroit, plein de chose à faire !</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis!</p>
					</div>
					<div class="ym-bloc__note">
						<div class="note-count">
							<div class="comments-note">
								<span class="comments-note__count">3</span>
								<span class="comments-note__title">Gérable</span>
								<span class="comment-note__stars note-stars--4"></span>
							</div>
						</div>
						<div class="note-feature">
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--poussette"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Easy pousette</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--clean"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est propre</h5>
									<div class="feature-info__range range--80"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--game"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">On les occupe</h5>
									<div class="feature-info__range range--50"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--equipped"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est équipé</h5>
									<div class="feature-info__range range--30"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--smile"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Sourire compris</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ym-bloc">
				<div class="ym-bloc__content">
					<div class="ym-bloc__pic">
						<img src="images/temp/profil-pic-avis.png" alt="">
					</div>
					<h4 class="ym-bloc__username">Donna</h4>
					<p class="ym-bloc__do">à écrit un avis</p>
					<p class="ym-bloc__time">5 min</p>
					<div class="ym-bloc__text">
						<h4>très chouette endroit, plein de chose à faire !</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, aspernatur optio beatae eveniet dolor ea, repellat esse excepturi, nesciunt ratione cum veritatis quibusdam voluptatem perferendis accusantium labore. A, molestias, ipsa!</p>
					</div>
					<div class="ym-bloc__note">
						<div class="note-count">
							<div class="comments-note">
								<span class="comments-note__count">3</span>
								<span class="comments-note__title">Gérable</span>
								<span class="comment-note__stars note-stars--4"></span>
							</div>
						</div>
						<div class="note-feature">
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--poussette"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Easy pousette</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--clean"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est propre</h5>
									<div class="feature-info__range range--80"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--game"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">On les occupe</h5>
									<div class="feature-info__range range--50"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--equipped"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est équipé</h5>
									<div class="feature-info__range range--30"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--smile"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Sourire compris</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ym-bloc">
				<div class="ym-bloc__content">
					<div class="ym-bloc__pic">
						<img src="images/temp/profil-pic-avis.png" alt="">
					</div>
					<h4 class="ym-bloc__username">Donna</h4>
					<p class="ym-bloc__do">à écrit un avis</p>
					<p class="ym-bloc__time">5 min</p>
					<div class="ym-bloc__text">
						<h4>très chouette endroit, plein de chose à faire !</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quae natus tempora minus debitis voluptas maiores, perspiciatis repellendus eius, aperiam reprehenderit commodi magnam temporibus, repellat consequatur sed rerum obcaecati quos.</p>
					</div>
					<div class="ym-bloc__note">
						<div class="note-count">
							<div class="comments-note">
								<span class="comments-note__count">3</span>
								<span class="comments-note__title">Gérable</span>
								<span class="comment-note__stars note-stars--4"></span>
							</div>
						</div>
						<div class="note-feature">
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--poussette"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Easy pousette</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--clean"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est propre</h5>
									<div class="feature-info__range range--80"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--game"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">On les occupe</h5>
									<div class="feature-info__range range--50"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--equipped"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">C'est équipé</h5>
									<div class="feature-info__range range--30"></div>
								</div>
							</div>
							<div class="adresse-feature__row">
								<div class="adresse-feature__icons">
									<span class="icon--smile"></span>
								</div>
								<div class="adresse-feature__info">
									<h5 class="feature-info__title">Sourire compris</h5>
									<div class="feature-info__range"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
