<div class="modal" role="dialog">
	<div class="modal__dialog">
		<div class="modal__content">
			<header class="modal__header">
				<button class="modal__header__close" id="closeModal">x</button>
				<h3 class="modal__header__title">Proposer un article</h3>
			</header>
			<div class="modal__body">
				<form action="#" class="ym-form">
					<div class="ym-form__fields">
						<div class="field__row">
							<label for="pseudo" class="field__label field__label--required">Nom</label>
							<input type="text" name="pseudo" class="field__input" id="pseudo" value="Marie">
							<span class="validatedfield"></span>
						</div>
						<div class="field__row">
							<label for="prenom" class="field__label field__label--required">Prénom</label>
							<input type="text" name="prenom" class="field__input" id="prenom" value="Battaile">
							<span class="validatedfield"></span>
						</div>
						<div class="field__row">
							<label for="email" class="field__label field__label--required">Mail</label>
							<input type="email" name="mail" class="field__input" id="mail" value="m.battaile@gmail.com">
							<span class="validatedfield"></span>
						</div>
						<div class="field__row">
							<label for="email" class="field__label field__label--required">Dîtes nous quelques mots sur votre motivation</label>
							<textarea name="motivation" class="field__input field__input--textarea"></textarea>
						</div>
						<div class="field__row">
							<label for="email" class="field__label field__label--required">Ajouter mon article</label>
							<input type="file" name="mail" class="field__input--file" id="mail">
						</div>
						<div class="field__row">
							<button type="submit" class="form-button">Je valide</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
