<div class="ym-container container-search">
	<div class="ym-search">
		<form action="#" class="ym-search__container">
			<div class="ym-search__doing">
				<div class="ym-search__select" id="ym-select">
					<div class="ym-placeholder">
						<span class="ym-placeholder__txt">Que souhaitez-vous faire ?</span>
					</div>
					<span id="ym-doing__focus"></span>
				</div>
				@include('_search-box-type.html')
			</div>
			<div class="ym-search__location">
				<input type="text" name="search-location" class="input-search" placeholder="à quel endroit ?">
				<span class="location-city"></span>
			</div>
			<button type="submit" class="ym-search__submit">Rechercher</button>
		</form>
	</div>
</div>
