<div class="search-box__type" id="static-search">
	<div class="type--activites type-fields" data-type="activités">
		<h4>Activités</h4>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="ateliers" data="checkbox-ateliers">
			<label for="ateliers" class="type-ateliers"></label>
			<span>Ateliers</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="spectacles" data="checkbox-spectacles">
			<label for="spectacles" class="type-spectacles"></label>
			<span>Spectacles</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="expos" data="checkbox-adresse">
			<label for="expos" class="type-expos"></label>
			<span>Expos</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="parents" data="checkbox-parents">
			<label for="parents" class="type-parents"></label>
			<span>Parents</span>
		</div>
	</div>
	<div class="type--adresse type-fields" data-type="adresses">
		<h4>Adresses</h4>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="airs" data="checkbox-airs">
			<label for="airs" class="type-airs"></label>
			<span>Prendre l'air</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="loisirs" data="checkbox-loisirs">
			<label for="loisirs" class="type-loisirs"></label>
			<span>Loisirs</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="cultures" data="checkbox-cultures">
			<label for="cultures" class="type-cultures"></label>
			<span>Cultures</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="table" data="checkbox-table">
			<label for="table" class="type-table"></label>
			<span>A table</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="shopping" data="checkbox-shopping">
			<label for="shopping" class="type-shopping"></label>
			<span>Shopping</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="voyages" data="checkbox-voyages">
			<label for="voyages" class="type-voyages"></label>
			<span>Voyages</span>
		</div>
		<div class="checkbox-type">
			<input type="checkbox" name="activite-adresse" id="pratique" data="checkbox-pratique">
			<label for="pratique" class="type-pratique"></label>
			<span>Pratique</span>
		</div>
	</div>
</div>
