<div class="ym-container">
	<div class="ym-search-result">
		<span class="bar-result__label">Votre recherche :</span>
		<div class="bar-result__container">
			<div class="bar-result__type">
				<span class="tag-type tag-type--pratique"></span>
				<span class="tag-type tag-type--ateliers"></span>
				<span class="tag-type tag-type--spectacles"></span>
			</div>
			<div class="bar-result__age">
				<span class="tag-age tag-age--baby"></span>
				<span class="tag-age tag-age--1"></span>
				<span class="tag-age tag-age--4"></span>
			</div>
			<div class="bar-result__location">
				<span class="tag-location">120 rue d'aboukir 75002 Paris</span>
			</div>
		</div>
		<div class="bar-result__modify">
			<span>Modifier</span>
		</div>
	</div>
</div>
