<div class="share-box">
	<span class="share-box__close">X</span>
	<h5 class="share-box__title">Partager :</h5>
	<div class="share-box__container">
		<div class="share-box__step1">
			<a href="http://www.facebook.com/sharer.php?u=[LIEN DE LA PAGE]" class="share-box__link" target="_blank"><i class="share-box__icon icon--facebook"></i>Facebook</a>
			<a href="https://twitter.com/intent/tweet?text=[DESC]&url=[LIEN DE LA PAGE]" class="share-box__link" target="_blank"><i class="share-box__icon icon--twitter"></i>Twitter</a>
			<a href="https://pinterest.com/pin/create/button/?url=[LIEN VERS L'IMAGE]&description=[DESCRIPTION]" class="share-box__link" target="_blank"><i class="share-box__icon icon--pinterest"></i>Pinterest</a>
			<span href="#" class="share-box__link" id="show-mail"><i class="share-box__icon icon--email"></i>Email</span>
		</div>

		<div class="share-box__step2">
			<form action="#">
				<div class="field">
					<label for="mail" class="field__label field__label--bloc">Mail de votre ami(e)</label>
					<input type="mail" name="mail" class="field__input" id="mail" placeholder="superdad@mum.com">
					<button class="submit-button" type="submit">Envoyer</button>
				</div>
			</form>
			<span class="share__return">< Retour</span>
		</div>
	</div>
</div>

