<div class="ym-socials-box">
    <a href="#" class="ym-social__link">Yes We Mum sur Facebook</a>
    <a href="#" class="ym-social__link">Yes We Mum sur Twitter</a>
    <a href="#" class="ym-social__link">Yes We Mum sur Instagram</a>
    <a href="#" class="ym-social__link">Yes We Mum sur Pinterest</a>
</div>