<div class="ym-tab__activity">
	<p class="coming-soon__title">3 activités à venir</p>
	<div class="ym-accordion coming-soon-table">
		<a class="ym-accordion__toggle coming-soon__resume" href="#activity-1">
			<div class="coming-soon__icon">
				<span class="type-table"></span>
			</div>
			<div class="coming-soon__name">Atelier cuisine : les carottes</div>
			<div class="coming-soon__age">3 à 5 ans</div>
			<div class="coming-soon__price">15 €</div>
			<div class="coming-soon__note"><span class="comment-note__stars note-stars--4"></span></div>
			<div class="coming-soon__like">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
			</div>
			<div class="coming-soon__contact">
				<span class="icon icon--contact"></span>
			</div>
			<div class="coming-soon__add-comment">
				<span class="icon icon--comment"></span>
			</div>
			<div class="coming-soon__add-pic">
				<span class="icon icon--picture"></span>
			</div>
			<span class="close-activity">X</span>
		</a>
		<div class="coming-soon__activity" id="activity-1">
			<div class="activity-image">
				<img src="images/temp/activity-pic.jpg" alt="">
			</div>
			<div class="activity-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatem maxime iusto aperiam a dolore commodi, molestias sapiente reiciendis. Minus magni sapiente quidem nihil, suscipit architecto id velit quis voluptatibus.</p>
				<p class="activity-content__list-title">Déroulement de l'atelier</p>
				<ul>
					<li>Thème numéro 1</li>
					<li>Thème deux</li>
					<li>Thème trois</li>
					<li>Thèm quatre</li>
				</ul>
			</div>
			<div class="activity-info">
				<div class="comments-note">
					<span class="comments-note__count">5</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<h3>Infos</h3>
				<p class="activity-info__duration"><strong>Durée :</strong> 2h30</p>
				<p class="activity-info__prix"><strong>Prix :</strong> 15 €</p>
				<p class="activity-info__public"><strong>Public :</strong> Enfants</p>
				<p class="activity-info__age"><strong>Age :</strong> <span>+3ans</span></p>
			</div>
			<div class="activity-schedule">
				<h3>Dates et horaires</h3>
				<ul>
					<li><a href="agenda.html">Mardi 7 avril - 16h</a></li>
					<li><a href="agenda.html">Samedi 10 avril - 11h</a></li>
					<li><a href="agenda.html">Mardi 14 avril - 16h</a></li>
					<li><a href="agenda.html">Samedi 19 avril - 11h</a></li>
					<li><a href="agenda.html">Samedi 19 avril - 16h</a></li>
					<li><a href="agenda.html">Mardi 24 avril - 11h</a></li>
				</ul>
			</div>
			<div class="activity-bottom">
				<a href="#">Voir les avis et <strong>réserver</strong></a>
			</div>
		</div>
	</div>
	<div class="ym-accordion coming-soon-table">
		<a class="ym-accordion__toggle coming-soon__resume" href="#activity-2">
			<div class="coming-soon__icon">
				<span class="type-table"></span>
			</div>
			<div class="coming-soon__name">Atelier cuisine : les carottes</div>
			<div class="coming-soon__age">3 à 5 ans</div>
			<div class="coming-soon__price">15 €</div>
			<div class="coming-soon__note"><span class="comment-note__stars note-stars--4"></span></div>
			<div class="coming-soon__like">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
			</div>
			<div class="coming-soon__contact">
				<span class="icon icon--contact"></span>
			</div>
			<div class="coming-soon__add-comment">
				<span class="icon icon--comment"></span>
			</div>
			<div class="coming-soon__add-pic">
				<span class="icon icon--picture"></span>
			</div>
			<span class="close-activity">X</span>
		</a>
		<div class="coming-soon__activity" id="activity-2">
			<div class="activity-image">
				<img src="images/temp/activity-pic.jpg" alt="">
			</div>
			<div class="activity-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatem maxime iusto aperiam a dolore commodi, molestias sapiente reiciendis. Minus magni sapiente quidem nihil, suscipit architecto id velit quis voluptatibus.</p>
				<p class="activity-content__list-title">Déroulement de l'atelier</p>
				<ul>
					<li>Thème numéro 1</li>
					<li>Thème deux</li>
					<li>Thème trois</li>
					<li>Thèm quatre</li>
				</ul>
			</div>
			<div class="activity-info">
				<div class="comments-note">
					<span class="comments-note__count">5</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<h3>Infos</h3>
				<p class="activity-info__duration"><strong>Durée :</strong> 2h30</p>
				<p class="activity-info__prix"><strong>Prix :</strong> 15 €</p>
				<p class="activity-info__public"><strong>Public :</strong> Enfants</p>
				<p class="activity-info__age"><strong>Age :</strong> <span>+3ans</span></p>
			</div>
			<div class="activity-schedule">
				<h3>Dates et horaires</h3>
				<ul>
					<li>Mardi 7 avril - 16h</li>
					<li>Samedi 10 avril - 11h</li>
					<li>Mardi 14 avril - 16h</li>
					<li>Samedi 19 avril - 11h</li>
					<li>Samedi 19 avril - 16h</li>
					<li>Mardi 24 avril - 11h</li>
				</ul>
			</div>
			<div class="activity-bottom">
				<a href="#">Voir les avis et <strong>réserver</strong></a>
			</div>
		</div>
	</div>
	<div class="ym-accordion coming-soon-table">
		<a class="ym-accordion__toggle coming-soon__resume" href="#activity-3">
			<div class="coming-soon__icon">
				<span class="type-table"></span>
			</div>
			<div class="coming-soon__name">Atelier cuisine : les carottes</div>
			<div class="coming-soon__age">3 à 5 ans</div>
			<div class="coming-soon__price">15 €</div>
			<div class="coming-soon__note"><span class="comment-note__stars note-stars--4"></span></div>
			<div class="coming-soon__like">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
			</div>
			<div class="coming-soon__contact">
				<span class="icon icon--contact"></span>
			</div>
			<div class="coming-soon__add-comment">
				<span class="icon icon--comment"></span>
			</div>
			<div class="coming-soon__add-pic">
				<span class="icon icon--picture"></span>
			</div>
			<span class="close-activity">X</span>
		</a>
		<div class="coming-soon__activity" id="activity-3">
			<div class="activity-image">
				<img src="images/temp/activity-pic.jpg" alt="">
			</div>
			<div class="activity-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatem maxime iusto aperiam a dolore commodi, molestias sapiente reiciendis. Minus magni sapiente quidem nihil, suscipit architecto id velit quis voluptatibus.</p>
				<p class="activity-content__list-title">Déroulement de l'atelier</p>
				<ul>
					<li>Thème numéro 1</li>
					<li>Thème deux</li>
					<li>Thème trois</li>
					<li>Thèm quatre</li>
				</ul>
			</div>
			<div class="activity-info">
				<div class="comments-note">
					<span class="comments-note__count">5</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<h3>Infos</h3>
				<p class="activity-info__duration"><strong>Durée :</strong> 2h30</p>
				<p class="activity-info__prix"><strong>Prix :</strong> 15 €</p>
				<p class="activity-info__public"><strong>Public :</strong> Enfants</p>
				<p class="activity-info__age"><strong>Age :</strong> <span>+3ans</span></p>
			</div>
			<div class="activity-schedule">
				<h3>Dates et horaires</h3>
				<ul>
					<li>Mardi 7 avril - 16h</li>
					<li>Samedi 10 avril - 11h</li>
					<li>Mardi 14 avril - 16h</li>
					<li>Samedi 19 avril - 11h</li>
					<li>Samedi 19 avril - 16h</li>
					<li>Mardi 24 avril - 11h</li>
				</ul>
			</div>
			<div class="activity-bottom">
				<a href="#">Voir les avis et <strong>réserver</strong></a>
			</div>
		</div>
	</div>
</div>
