@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
<div class="ym-container">
	<div class="ym-404">
		<h2 class="ym-404__title">Doh !</h2>
		<h3 class="ym-404__info">La page que vous rechercez n'existe pas ou plus !</h3>
		<a href="/" class="ym-404__button">Retourner à l'accueil</a>
		<h3 class="ym-404__info">Ou trouvez une activité qui vous convient :</h3>
	</div>
	<section class="ym-todo">
		<!-- <h2 class="ym-todo__title"><span>à faire</span></h2> -->
		<div class="ym-todo__tabs">
			<ul class="ym-todo__filters filter__nav">
				<li class="filter active" data-filter=".todo--week-end">Ce week-end</li>
				<li class="filter" data-filter=".todo--top-rating">Les meilleurs notes</li>
			</ul>
		</div>
		<div class="ym-todo__activities" id="ym-todo">
			<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
		<div class="view-more"> <a href="#" class="ym-btn">Voir + d'activités</a></div>
	</section>
</div>
@include('partials/_footer.html')
