@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<h2 class="ym-toread__title"><span>à lire</span></h2>
	<section class="ym-toread-content">
		<article class="article-highlight" style="background-image: url('images/temp/cover-article.jpg');">
			<div class="article-highlight__content">
				<a href="#" class="ym-categories maman-blogeuse">Maman Blogueuse</a>
				<div class="article-highlight__header">
					<img src="images/temp/profil-pic-avis-2.png" alt="" class="article-highlight__user-pic">
					<div class="article-highlight__name">
						<h3 class="article-highlight__title"><a href="single-article.html">Chiens &amp; chats :  la première expo d'arthur</a></h3>
						<p class="article-highlight__publisher">Publié par <a href="#">Charlotte</a></p>
					</div>
				</div>
				<div class="article-highlight__excerpt">
					<p>Ce mercredi après-midi, mon troizans et moi avons été découvrir "Chiens &amp; Chats, l'Expo" à la Cité des sciences et de l'industrie. Une expo dédiée à la compréhension du fonctionnement du chien et du chat sous toutes ...</p>
				</div>
				<div class="article-highlight__info">
					<span class="button-like">3</span>
					<span class="button-adresse">1</span>
				</div>
			</div>
		</article>
		<div class="article-row">
			<article class="article-summary article-summary--bloc  categorie--miam">
				<div class="article-summary__thumbnail" style="background-image: url('images/temp/article-thumb-1.jpg');"></div>
				<div class="article-summary__content">
					<a href="#" class="ym-categories miam">Miam !</a>
					<h3 class="article-summary__title"><a href="#">La pub décalée du jours mc do dépeint commme...</a></h3>
					<div class="article-summary__publisher">
						<img src="images/temp/profil-pic-small-3.png" alt="">
						<p>Publié par <a href="#">Julien</a></p>
					</div>
				</div>
			</article>
			<article class="article-summary article-summary--bloc  categorie--truc-de-mums">
				<div class="article-summary__thumbnail" style="background-image: url('images/temp/article-thumb-2.jpg');"></div>
				<div class="article-summary__content">
					<a href="#" class="ym-categories truc-de-mums">Truc de mums</a>
					<h3 class="article-summary__title"><a href="#">La pub décalée du jours mc do dépeint commme...</a></h3>
					<div class="article-summary__publisher">
						<img src="images/temp/profil-pic-small-3.png" alt="">
						<p>Publié par <a href="#">Julien</a></p>
					</div>
				</div>
			</article>
		</div>
		<article class="article-highlight" style="background-image: url('images/temp/cover-article.jpg');">
			<div class="article-highlight__content">
				<a href="#" class="ym-categories maman-blogeuse">Maman Blogueuse</a>
				<div class="article-highlight__header">
					<img src="images/temp/profil-pic-avis-2.png" alt="" class="article-highlight__user-pic">
					<div class="article-highlight__name">
						<h3 class="article-highlight__title"><a href="single-article.html">Chiens &amp; chats :  la première expo d'arthur</a></h3>
						<p class="article-highlight__publisher">Publié par <a href="#">Charlotte</a></p>
					</div>
				</div>
				<div class="article-highlight__excerpt">
					<p>Ce mercredi après-midi, mon troizans et moi avons été découvrir "Chiens &amp; Chats, l'Expo" à la Cité des sciences et de l'industrie. Une expo dédiée à la compréhension du fonctionnement du chien et du chat sous toutes ...</p>
				</div>
				<div class="article-highlight__info">
					<span class="button-like">3</span>
					<span class="button-adresse">1</span>
				</div>
			</div>
		</article>
		<div class="article-row">
			<article class="article-summary article-summary--bloc  categorie--miam">
				<div class="article-summary__thumbnail" style="background-image: url('images/temp/article-thumb-1.jpg');"></div>
				<div class="article-summary__content">
					<a href="#" class="ym-categories miam">Miam !</a>
					<h3 class="article-summary__title"><a href="#">La pub décalée du jours mc do dépeint commme...</a></h3>
					<div class="article-summary__publisher">
						<img src="images/temp/profil-pic-small-3.png" alt="">
						<p>Publié par <a href="#">Julien</a></p>
					</div>
				</div>
			</article>
			<a href="https://www.facebook.com/Yeswemum-410773545735990" class="bloc-facebook" target="_blank">
				<img src="images/ywm-bloc-fb.png" alt="Rejoignez Yes We Mum sur Facebook">
			</a>
		</div>
		 <div class="view-more"> <a href="#" class="ym-btn">Lire + d'articles</a></div>
	</section>
	<aside class="ym-sidebar">
		<div class="ym-sidebar__inner">
			<div class="ym-widget widget--social">
				<h4 class="ym-widget__title">Rejoignez-nous !</h4>
				<div class="ym-widget__content">
					<a href="#" class="follow-link"><i class="follow-link__icon icon--facebook"></i>Facebook</a>
					<a href="#" class="follow-link"><i class="follow-link__icon icon--twitter"></i>Twitter</a>
					<a href="#" class="follow-link"><i class="follow-link__icon icon--pinterest"></i>Pinterest</a>
				</div>
			</div>
			<div class="ym-widget widget--readhight">
				<h4 class="ym-widget__title">Article les + lus</h4>
				<div class="ym-widget__content">
				  <ul class="widget-list">
					  <li class="widget-list__item"><a href="#">5 Brunch à tester ce week-end à Paris</a></li>
					  <li class="widget-list__item"><a href="#">Le do it même de l'avent : Le carrousel</a></li>
					  <li class="widget-list__item"><a href="#">ça Womb ???</a></li>
				  </ul>
				</div>
			</div>
			<div class="ym-widget widget--mums-blog">
				<h4 class="ym-widget__title">Les blogs des mums</h4>
				<div class="ym-widget__content">
					<ul class="widget-list">
						<li class="widget-list__item">
							<a href="#" class="mums-blog__link">La vie c'est chouette</a>
							<p>par <a href="#" class="mums-blog__author">MamanParis</a></p>
						</li>
						<li class="widget-list__item">
							<a href="#" class="mums-blog__link">La vie c'est chouette</a>
							<p>par <a href="#" class="mums-blog__author">MamanParis</a></p>
						</li>
						<li class="widget-list__item">
							<a href="#" class="mums-blog__link">La vie c'est chouette</a>
							<p>par <a href="#" class="mums-blog__author">MamanParis</a></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</aside>
</div>
@include('partials/_footer.html')
