@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<div class="page">
		<section class="page__content">
			<header class="page__header">
				<h1 class="page__header__title"><span>yeswemum c'est quoi ?</span></h1>
			</header>
			<div class="page__content--third">
				<p>Un site avec des adresses qui aiment vos enfants, des articles funs et des conseils pratiques, une communauté de parents enthousiastes qui partagent leurs bons plans.</p>
				<p>Une Newsletter hebdo avec des idées, des adresses et des Mums à découvrir autour de chez vous.</p>
				<p>Parce qu'un restaurant, un hôtel ou une station de métro peuvent soudain devenir un véritable cauchemar avec poussette et enfants, YesWeMumvous partage les adresses et les bons planspour être toujours bien accueillis avec vos petits, tout comme celles à éviter !</p>
				<p>Pratiquement tous les articles que nous vous proposons sont accompagnés de recommandations ou de bons plans. Et parce que sur YesWeMum ce sont les parents (grands-parents, nounous, parrains, tontons et tatas ...) qui partagent et commentent leurs adresses, vous pouvez être surs de trouver celles qui sont les plus adaptées pour vos enfants !</p>
				<p>Vous méritez mieux qu'un annuaire insipide et marketing : recevez chaque semaine, en exclusivité, le meilleur de votre ville en termes de commerces, loisirs, santé, restaurants, hébergement baby/kidsfriendly. Et la communauté vous indique aussi les adresses à éviter ;)</p>
				<p>YesWeMum est aujourd'hui présent essentiellement sur Paris. Accompagnez-nous pour devenir la communauté de parents la plus fun et la plus utile à Paris, Lyon, Marseille, Lille, Grenoble... partout en France ou à l'étranger !</p>
				<p>Rejoignez-nous en partageant vos adresses et devenez vous aussi une ambassadrice !</p>
				<a href="#" class="btn-avis">Je donne mon avis</a>
			</div>
			<div class="page__content--one">
				<img src="images/temp/yeswemum_metro.jpg" height="475" width="350" alt="">
			</div>
		</section>
		<section class="page__content">
			<header class="page__header">
				<h1 class="page__header__title"><span>yeswemum c'est qui ?</span></h1>
			</header>
			<div class="page__content--one">
				<img src="images/temp/yeswemum_bbq.jpg" height="421" width="316" alt="">
			</div>
			<div class="page__content--third">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos placeat aliquam vero magnam laborum deleniti a ipsum doloribus unde earum aut, odit asperiores sint reiciendis. Dicta velit ipsum libero laborum.</p>
				<p>Labore consectetur, quasi minima, neque aliquid consequuntur repudiandae dignissimos fuga facilis unde non quaerat deleniti sunt a delectus quod doloribus iure eius ipsam praesentium, magnam, provident accusantium! Veniam, nesciunt, assumenda.</p>
				<p>Nulla necessitatibus, quaerat facere molestias cum qui et non quas nesciunt ab explicabo praesentium odio aliquam laboriosam minus corporis doloribus dolores expedita vitae, architecto earum repellat. Sunt in fuga, laborum?</p>
				<p>Reprehenderit magnam perferendis placeat, error beatae tenetur cum dignissimos! Sunt corrupti iure dolorum, sint voluptates minima minus officiis porro, velit placeat nihil esse quia quasi laudantium saepe, blanditiis! Inventore, expedita.</p>
			</div>
			<div class="page__content--full">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quaerat, sunt expedita deleniti incidunt exercitationem vel, tempore inventore quas consequatur ab modi quidem ea reiciendis sit possimus blanditiis, quam, laudantium.</p>
			</div>
		</section>
	</div>
</div>
@include('partials/_footer.html')
