@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<section class="single-activity">
		<header class="single-activity__header">
			<div class="ym-btn-back">
				<a href="result-adresses.html" class="ym-btn-back__icon"></a>
			</div>
			<div class="single-activity__info">
				<div class="activity-info__icon">
					<span class="type-table"></span>
				</div>
				<div class="activity-info__text">
					<h1 class="info-text__title">Le poussette café</h1>
					<p class="info-text__meta">
						<span class="meta-type">Restaurant</span>
						<span class="meta-author"><i class="profil-pic"></i> Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</p>
				</div>
			</div>
			<div class="single-activity__action">
				<span class="add-avis"><i class="ym-icon icon-avis"></i>Écrire un avis</span>
				<a href="#" class="add-favorite"><i class="ym-icon icon-favorite"></i>Ajouter au favoris</a>
				<a href="#" class="add-share"><i class="ym-icon icon-share"></i>Partager</a>
			</div>
		</header>
		<div class="single-activity__section">
			<div class="single-activity__image">
				<img src="images/temp/activity-pic.jpg" alt="">
			</div>
			<div class="single-activity__content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatem maxime iusto aperiam a dolore commodi, molestias sapiente reiciendis. Minus magni sapiente quidem nihil, suscipit architecto id velit quis voluptatibus.</p>
				<p class="activity-content__list-title">Déroulement de l'atelier</p>
				<ul>
					<li>Thème numéro 1</li>
					<li>Thème deux</li>
					<li>Thème trois</li>
					<li>Thème quatre</li>
				</ul>
			</div>
			<div class="single-activity__meta">
				<div class="comments-note">
					<span class="comments-note__count">5</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<h3>Infos</h3>
				<p class="activity-info__duration"><strong>Durée :</strong> 2h30</p>
				<p class="activity-info__prix"><strong>Prix :</strong> 15 €</p>
				<p class="activity-info__public"><strong>Public :</strong> Enfants</p>
				<p class="activity-info__age"><strong>Age :</strong> <span>+3ans</span></p>
			</div>
		</div>
	</section>
	<header class="page__header">
		<h2 class="page__header__title"><span>Je réserve</span></h2>
	</header>
	<section class="schedule">
		<div class="schedule-booking">
			<h3 class="schedule-booking__title">Je réserve pour</h3>

			<form action="#">
				<div class="form__left">
					<p class="schedule-booking__date">21/10/2015 à 10h30</p>
					<select name="cart_quantity" id="cart_quantity" class="select-input__field">
						<option value="1">1 places pour le 4/11/2015 à 3pm</option>
						<option value="2">2 places pour le 4/11/2015 à 3pm</option>
						<option value="3">3 places pour le 4/11/2015 à 3pm</option>
						<option value="4">4 places pour le 4/11/2015 à 3pm</option>
					</select>
					<p class="schedule-booking__info">Présence exceptionnelle du Dalai Lama toute la journée</p>
				</div>
				<div class="form__right">
					<button type="submit" class="submit-button submit-button--reverse">Réserver</button>
				</div>
			</form>
		</div>
		<div class="schedule-availability">
			<h3 class="schedule-availability__title">Autres dates disponibles</h3>
			<ul class="schedule-availability__others">
				<li><a href="agenda.html">Mardi 7 avril - 16h</a></li>
				<li><a href="agenda.html">Samedi 10 avril - 11h</a></li>
				<li><a href="agenda.html">Mardi 14 avril - 16h</a></li>
				<li><a href="agenda.html">Samedi 19 avril - 11h</a></li>
				<li><a href="agenda.html">Samedi 19 avril - 16h</a></li>
				<li><a href="agenda.html">Mardi 24 avril - 11h</a></li>
			</ul>
		</div>
		<div class="schedule-search">
			<h3 class="schedule-search__title">Trouver d'autres date autour du</h3>
			<form action="#">
				<select name="other_date" id="other_date" class="select-input__field">
					<option value="1">21/10/2015</option>
					<option value="2">22/12/2015</option>
					<option value="3">10/12/2015</option>
					<option value="4">23/12/2015</option>
				</select>
			</form>
			<button type="submit" class="submit-button submit-button--light">Chercher</button>
		</div>
	</section>
</div>
@include('partials/_footer.html')
