@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<header class="page__header">
		<h2 class="page__header__title"><span>le carnet de Mell O</span></h2>
	</header>
	<section class="page__section">
		<div class="user-book">
			<div class="user-book__info">
				<div class="user-book__info__user">
					<span class="user-book__info__user__pic" style="background-image: url(images/ywm-profil-pic.jpg);"></span>
					<a class="user-book__info__user__link" href="profil.html">Modifier mon profil</a>
				</div>
				<h3 class="user-book__info__name">Melle O</h3>
				<ul class="user-book__info__meta">
					<li>1 enfant</li>
					<li>86 adresses ajoutées</li>
					<li>128 adresses notées</li>
					<li>3 blablas postés</li>
				</ul>
				<a href="#" class="user-book__info__report">Signaler cette mum</a>
			</div>
			<div class="user-book__resume">
				<h3 class="user-book__resume__title">En quelques mots</h3>
				<div class="user-book__resume__desc">
					<p>Maman d'un petite garçon né fin 2011. Blogueuse parisienne sur www.humeurdemoutard.com. Passionnée, exaltée... J'adore papoter, lire, écrire et rigoler.</p>
					<p>Retrouvez aussi Humeur de moutard sur #facebook #twitter #hellocoton et #instagram. Allez, hop, hop, hop ! </p>
				</div>
			</div>
			<div class="user-book__contact">
				<div class="user-book__contact__adresse">
					<p>Paris, 75015</p>
					<p>France</p>
					<p class="local-info">578km de chez vous</p>
				</div>
				<div class="user-book__contact__social">
					<h3 class="user-book__contact__social__title">Contactez <span>Melle O</span> :</h3>
					<a href="#" class="social__link social__link--facebook">
						<i class="facebook-icon"></i>humeurdemoutard
					</a>
					<a href="#" class="social__link social__link--twitter">
						<i class="twitter-icon"></i>#humeurdemoutard
					</a>
					<a href="#" class="social__link social__link--tel">
						<i class="tel-icon"></i>0784454778
					</a>
					<a href="#" class="social__link social__link--mail">
						<i class="mail-icon"></i>humeurdemoutard@gmail.com
					</a>
					<a href="#" class="social__link social__link--website">
						<i class="website-icon"></i>humeurdemoutard.com
					</a>
				</div>
			</div>
		</div>
	</section>
	<nav>
		<ul class="ym-tabs-page">
			<li><span onclick="document.location='les-mums.html?type=all'" class=" ym-tabs__links tab-avis is-active">toutes</span></li>
			<li><span onclick="document.location='les-mums.html?type=follows'" class="ym-tabs__links tab-avis ">amies</span></li>
			<li><span onclick="document.location='les-mums.html?type=followers'" class=" ym-tabs__links tab-avis ">me suivent</span></li>
		</ul>
	</nav>
	<section>
		@include('partials/modules/_icon-bar.html')
	</section>
</div>
@include('partials/_footer.html')
