@include('partials/_head.html')
<div class="login-form-content">

		<header class="login-form-header">
			<a href="/" class="ym-logo">
				<img src="images/ywm-logo.png" height="104" width="203" alt="Yes We Mum">
			</a>
		</header>
		<section class="login-form login-form--connexion">
			<div class="login-form__intro">
				<h1 class="login-form__intro__title">Connexion</h1>
				<iframe src="http://yeswemum.com/fblogin.php?type=big&amp;lang=fr" allowtransparency="true" frameborder="0" scrolling="no" class="fb-connect"></iframe>
				<p class="login-form__sep"><span>Ou</span></p>
			</div>
			<form action="#" class="login-form__fields">
				<div class="field field--full">
					<label for="email">Email</label>
					<input type="email" name="email" id="email">
				</div>
				<div class="field field--full">
					<label for="pass">Mot de passe</label>
					<input type="password" name="pass" id="pass">
				</div>
				<div class="field field--full">
					<button class="login-submit" type="submit">Je me connecte</button>
				</div>
				<a href="recover.html" class="lost-password">Mot de passe oublié ?</a>
			</form>
		</section>

</div>
@include('partials/_footer.html')
