@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
@include('partials/modules/_search.html')

<div class="notification notification--info">
	<span class="notification__close">X <i>fermer</i></span>
	<div class="notification__inner">
		<p>Hi ! Re-bonjour <strong>Marie</strong> ! Envie de découvrir de <a href="result-adresses.html">nouvelles adresses</a>, aujourd'hui ?</p>
	</div>
</div>

<div class="ym-container">
	<section class="ym-todo">
		<!-- <h2 class="ym-todo__title"><span>à faire</span></h2> -->
		<div class="ym-todo__tabs">
			<ul class="ym-todo__filters filter__nav">
				<li class="filter active" data-filter=".todo--week-end">Ce week-end</li>
				<li class="filter" data-filter=".todo--top-rating">Les meilleurs notes</li>
			</ul>
		</div>
		<div class="ym-todo__activities" id="ym-todo">
			<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
						<article class="bloc-activity mix todo--week-end">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
			<article class="bloc-activity mix todo--top-rating">
				<div class="add-favorite">
					<span class="add-favorite__icon"></span>
				</div>
				<a href="single-adresse.html#activites" class="todo-activity__cover">
					<img src="images/temp/ywm-activite-1.jpg" alt="">
				</a>
				<div class="todo-activity__info">
					<div class="info-icon"> <span class="type-spectacles"></span> </div>
					<h3 class="todo-activiy__title"><a href="single-adresse.html#avis">Mur de coloriage au Parc Georges Brassens</a></h3>
					<div class="todo-activity__summary">
						<a class="meta-type" href="#">Restaurant</a>
						<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</div>
				</div>
				<div class="todo-activity__rating comments-note">
					<span class="comment-note__stars note-stars--4"></span>
				</div>
			</article>
		</div>
		<div class="view-more"> <a href="#" class="ym-btn">Voir + d'activités</a></div>
	</section>
	<section class="ym-toread">
		<h2 class="ym-toread__title"><span>à lire</span></h2>
		<div class="ym-toread__articles">
			<div class="articles--left">
				<article class="article-highlight" style="background-image: url('images/temp/cover-article.jpg');">
					<div class="article-highlight__content">
						<a href="#" class="ym-categories maman-blogeuse">Maman Blogueuse</a>
						<div class="article-highlight__header">
							<img src="images/temp/profil-pic-avis-2.png" alt="" class="article-highlight__user-pic">
							<div class="article-highlight__name">
								<h3 class="article-highlight__title"><a href="single-article.html">Chiens &amp; chats :  la première expo d'arthur</a></h3>
								<p class="article-highlight__publisher">Publié par <a href="#">Charlotte</a></p>
							</div>
						</div>
						<div class="article-highlight__excerpt">
							<p>Ce mercredi après-midi, mon troizans et moi avons été découvrir "Chiens &amp; Chats, l'Expo" à la Cité des sciences et de l'industrie. Une expo dédiée à la compréhension du fonctionnement du chien et du chat sous toutes ...</p>
						</div>
						<div class="article-highlight__info">
							<span class="button-like">3</span>
							<span class="button-adresse">1</span>
						</div>
					</div>
				</article>
			</div>
			<div class="articles-right">
				<article class="article-summary article-summary--inline categorie--miam">
					<div class="article-summary__content">
						<a href="#" class="ym-categories miam">Miam !</a>
						<h3 class="article-summary__title"><a href="#">5 brunchs à tester ce week-end à paris</a></h3>
						<div class="article-summary__publisher">
							<img src="images/temp/profil-pic-small-1.png" alt="">
							<p>Publié par <a href="#">Deedee</a></p>
						</div>
					</div>
				</article>
				<article class="article-summary article-summary--inline categorie--truc-de-mums">
					<div class="article-summary__content">
						<a href="#" class="ym-categories truc-de-mums">Truc de mums</a>
						<h3 class="article-summary__title"><a href="#">Mercredi nous irons tous au bois</a></h3>
						<div class="article-summary__publisher">
							<img src="images/temp/profil-pic-small-2.png" alt="">
							<p>Publié par <a href="#">Lilas</a></p>
						</div>
					</div>
				</article>
				<article class="article-summary article-summary--inline categorie--miam">
					<div class="article-summary__content">
						<a href="#" class="ym-categories miam">Miam !</a>
						<h3 class="article-summary__title"><a href="#">La pub décalée du jours mc do dépeint commme...</a></h3>
						<div class="article-summary__publisher">
							<img src="images/temp/profil-pic-small-3.png" alt="">
							<p>Publié par <a href="#">Julien</a></p>
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="view-more">
			<a href="#" class="ym-btn">Voir + d'articles</a>
		</div>
	</section>
	@include('partials/modules/_bloc-friend-home.html')
	<section class="ym-facebook">
		<h2 class="ym-facebook__title">Rejoignez-nous sur notre page</h2>
		<a href="https://www.facebook.com/pages/Yeswemum/410773545735990" target="_blanc" title="Suivez-nous sur notre page facebook">
			<img src="images/ywm-ban-facebook.png" alt="Yes We Mum sur Facebook">
		</a>
	</section>

	</div>
	@include('partials/_footer.html')
