@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
<div class="ym-container">
	<!-- <div class="ym-bloc ym-bloc--activity">
		<div class="ym-bloc__content toggle-friend " name="147252311">
			<a href="carnet-de-frand">
				<img class="ym-bloc__pic" src="http://yeswemoms.com/image_uploads/thumbs/147252311_175144043653128.png" alt="">
				<h4 class="ym-bloc__username">frand</h4>
			</a>
			<a href="adresse-poule-mouillette-13-rue-des-recollets-paris.html?act=868566974#868566974">
				<p class="ym-bloc__do"> à écrit un avis sur une activité</p>
				<p class="ym-bloc__time">15 jours</p>
				<div class="ym-bloc__avis-activity">
					<div class="activity__cover" style="background-image: url('http://yeswemoms.com/image_uploads/large/image_158166813_65014478688343.png');"></div>
					<div class="activity__info">
						<h4 class="activity__title">EVEIL MUSICAL</h4>
						<p><strong>Ateliers</strong> par <strong>Poule mouillette</strong></p>
						<p>13 rue des récollets, Paris </p>
					</div>
					<div class="add-favorite">
						<span class="add-favorite__icon is-added" name="868566974"></span>
					</div>
				</div>
				<div class="ym-bloc__text">
					<h4>très bien</h4>
					<p>coute active: appréhender les objets qui nous entourent en écho avec les cadences de la musique (balles, foulards, grelots) -exemple..</p>
				</div>
				<div class="ym-bloc__note">
					<div class="note-count note-count--large">
						<div class="comments-note"> <span class="comments-note__count">4</span>
						<span class="comments-note__title">Pas du tout !</span>
						<span class="comment-note__stars note-stars--4"></span></div>
					</div>
				</div>
			</a>
			<div class="ym-bloc__note">
				<div class="note-button">
					<a href="agenda.html?activite_id=868566974#avis">Je veux modifier mon avis</a>
				</div>
			</div>
		</div>
	</div> -->

	<div class="no-result">
		<p>Aucun résultat</p>
	</div>
</div>
@include('partials/_footer.html')
