@include('partials/_head.html')
<div class="login-form-content login-form--sign-in">

		<header class="login-form-header">
			<a href="/" class="ym-logo">
				<img src="images/ywm-logo.png" height="104" width="203" alt="Yes We Mum">
			</a>
		</header>
		<blockquote class="quotes">
			<p class="quotes__text">"La vie c'est comme une boîte de chocolat, on ne sait jamais sur quoi on va tomber"</p>
			<p class="quotes__small">Promis vous allez adorer !</p>
		</blockquote>
		<section class="login-form--inscription login-form">
			<div class="login-form__intro">
				<h1 class="login-form__intro__title">Inscription</h1>
				<p class="login-form__intro__info">Inscrivez-vous à Yes We Mum en remplissant le formulaire ci-dessous ou grâce à votre compte Facebook.</p>
				<span class="login-form__facebook"><i class="icon-facebook"></i> Se connecter avec facebook</span>
				<p class="login-form__sep"><span>Ou</span></p>
			</div>
			<form action="#" class="login-form__fields">
				<div class="field field--half">
					<label for="name">Prénom</label>
					<input type="text" name="name" id="name">
					<span class="invalidatedfield"></span>
				</div>
				<div class="field field--half">
					<label for="surname">Nom</label>
					<input type="text" name="surname" id="surname">
					<span class="invalidatedfield"></span>
				</div>
				<div class="field field--half field--error">
					<label for="email">Email <span>Addresse mail non valide</span></label>
					<input type="email" name="email" id="email">
					<span class="invalidatedfield"></span>
				</div>
				<div class="field field--half field--error">
					<label for="pass">Mot de passe <span>Les mots de passe ne correspondent pas</span></label>
					<input type="password" name="pass" id="pass">
					<span class="invalidatedfield"></span>
				</div>
				<div class="field field--half">
					<label for="pass-confirmation">Confirmation du mot de passe</label>
					<input type="password" name="pass-confirmation" id="pass-confirmation">
					<span class="validatedfield"></span>
				</div>
				<div class="field field--half field--captcha">
					<label for="user_crypto">Je copie le <strong>machin à droite</strong></label>
					<input name="user_crypto" id="user_crypto" type="text" class="input-field__captcha" value="" onkeyup="verifyform('reg_button')" maxlength="10">
					<span class="invalidatedfield"></span>
					<table class="captcha"><tbody><tr><td><img id="cryptogram" src="http://yeswemoms.com/crypt/cryptographp.php?cfg=0"></td><td><a title="" style="cursor:pointer" onclick="javascript:document.images.cryptogram.src='crypt/cryptographp.php?cfg=0&amp;&amp;'+Math.round(Math.random(0)*1000)+1"><img src="http://yeswemoms.com/crypt/images/reload.png"></a></td></tr></tbody></table>
					<span id="user_crypto_span" class="forcedfield">&nbsp;</span>
				</div>
				<div class="field field--full field--check">
					<input type="checkbox" name="condition" id="condition">
					<label for="condition">J'ai lu et j'accepte les <a href="#">Conditions d'utilisation</a></label>
				</div>
				<div class="field field--full field--check">
					<input type="checkbox" name="promo" id="promo">
					<label for="promo">Je souhaite etre informé(e) des bons plans, cadeaux et promotions par YesWeMum ou ses partenaires choisis.</label>
				</div>
				<div class="field field--full">
					<button class="login-submit">Je m'inscris</button>
				</div>
			</form>
		</section>

</div>
@include('partials/_footer.html')
