@include('partials/_head.html')
<div class="login-form-content login-form--sign-in">

		<div class="notification notification--error">
			<div class="notification__inner">
				<p><span>Oups !</span> Il semblerait qu'il y ai une erreure dans le formulaire ci-dessous ! Vérifiez les champs en surbrillance et validez de nouveau le formualire !</p>
			</div>
			<span class="notification__close">X <i>fermer</i></span>
		</div>

		<blockquote class="quotes">
			<p class="quotes__text">"Le bonheur est la seule chose qui se double... Si on le partage !"</p>
			<p class="quotes__small">Alors on partage !</p>
		</blockquote>

		<header class="login-form-header">
			<a href="/" class="ym-logo">
				<img src="images/ywm-logo.png" height="104" width="203" alt="Yes We Mum">
			</a>
		</header>
		<section class="login-form--inscription login-form">
			<div class="login-form__intro login-form__intro--step">
				<h1 class="login-form__intro__title">Dernière étape</h1>
				<p>Partager le carnet d'adresse des ptits choux avec leurs proches</p>
			</div>
			<form action="#" class="login-form__fields">

				<div class="field field--half">
					<input type="email" name="email-shar-1" id="email-share-1" placeholder="ex : mail de mon conjoint">
				</div>
				<div class="field field--half">
					<input type="email" name="email-shar-1" id="email-share-1" placeholder="ex : mail de ma BFF">
				</div>
				<div class="field field--half">
					<input type="email" name="email-shar-1" id="email-share-1" placeholder="ex : mail de ma mums">
				</div>
				<div class="field field--half">
					<input type="email" name="email-shar-1" id="email-share-1" placeholder="ex : mail de ma nounou">
				</div>
				<div class="clear"></div>
				<div class="friend-instruction">
					<h2 class="friend-instruction__title">Suivez les parents proches de vous les plus actifs pour découvrir leurs avis</h2>
					<p class="friend-instruction__text">Cliquez sur <span>+</span> pour ajouter ces utilisateurs à votre liste d'amis</p>
				</div>

				<div class="ym-friends__list">
					<div class="ym-friend toggle-friend">
						<a class="ym-friend__pic">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
						</a>
						<p class="ym-friend__name">Josée</p>
						<p class="ym-friend__location">Paris</p>

						<span class="add-friend add-friend--small"></span>
						<div class="ym-friend__info">
							<div class="ym-friend__info__meta">
								<i class="meta--avis"></i><span>5</span>
							</div>
							<div class="ym-friend__info__meta">
								<i class="meta--address"></i><span>1</span>
							</div>
						</div>
					</div href="#">
					<div class="ym-friend toggle-friend">
						<a class="ym-friend__pic" href="#">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
						</a>
						<p class="ym-friend__name">Josée</p>
						<p class="ym-friend__location">Paris</p>

						<span class="add-friend add-friend--small"></span>
						<div class="ym-friend__info">
							<div class="ym-friend__info__meta">
								<i class="meta--avis"></i><span>5</span>
							</div>
							<div class="ym-friend__info__meta">
								<i class="meta--address"></i><span>1</span>
							</div>
						</div>
					</div>
					<div class="ym-friend toggle-friend">
						<a class="ym-friend__pic" href="#">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
						</a>
						<p class="ym-friend__name">Josée</p>
						<p class="ym-friend__location">Paris</p>

						<span class="add-friend add-friend--small"></span>
						<div class="ym-friend__info">
							<div class="ym-friend__info__meta">
								<i class="meta--avis"></i><span>5</span>
							</div>
							<div class="ym-friend__info__meta">
								<i class="meta--address"></i><span>1</span>
							</div>
						</div>
					</div>
					<div class="ym-friend toggle-friend">
						<a class="ym-friend__pic" href="#">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
						</a>
						<p class="ym-friend__name">Josée</p>
						<p class="ym-friend__location">Paris</p>

						<span class="add-friend add-friend--small"></span>
						<div class="ym-friend__info">
							<div class="ym-friend__info__meta">
								<i class="meta--avis"></i><span>5</span>
							</div>
							<div class="ym-friend__info__meta">
								<i class="meta--address"></i><span>1</span>
							</div>
						</div>
					</div>
					<div class="ym-friend toggle-friend">
						<a class="ym-friend__pic" href="#">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
						</a>
						<p class="ym-friend__name">Josée</p>
						<p class="ym-friend__location">Paris</p>

						<span class="add-friend add-friend--small"></span>
						<div class="ym-friend__info">
							<div class="ym-friend__info__meta">
								<i class="meta--avis"></i><span>5</span>
							</div>
							<div class="ym-friend__info__meta">
								<i class="meta--address"></i><span>1</span>
							</div>
						</div>
					</div>
					<div class="ym-friend toggle-friend">
						<a class="ym-friend__pic" href="#">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/nckles/128.jpg" alt="">
						</a>
						<p class="ym-friend__name">Josée</p>
						<p class="ym-friend__location">Paris</p>

						<span class="add-friend add-friend--small"></span>
						<div class="ym-friend__info">
							<div class="ym-friend__info__meta">
								<i class="meta--avis"></i><span>5</span>
							</div>
							<div class="ym-friend__info__meta">
								<i class="meta--address"></i><span>1</span>
							</div>
						</div>
					</div>
				</div>

				<div class="field field--full">
					<button class="login-submit open-notif" type="submit">Suivant</button>
				</div>

			</form>

		</section>

</div>
@include('partials/_footer.html')
