@include('partials/_head.html')
<div class="login-form-content login-form--sign-in">

		<header class="login-form-header">
			<a href="/" class="ym-logo">
				<img src="images/ywm-logo.png" height="104" width="203" alt="Yes We Mum">
			</a>
		</header>
		<blockquote class="quotes">
			<p class="quotes__text">Ma maman me le répétait sans cesse ! "Les belles choses prennent du temps".</p>
			<p class="quotes__small">et aussi "Range ta chambre !"</p>
		</blockquote>
		<section class="login-form--inscription login-form">
			<div class="login-form__intro login-form__intro--step">
				<h1 class="login-form__intro__title">Hi! Bienvenue sur yes we mum, <span>prénom</span> !</h1>
				<p class="login-form__intro__info">Pour vous offrir le service le plus complet, nous avons encore quelques questions :</p>
			</div>
			<form action="#" class="login-form__fields">
				<div class="field field--half field--select">
					<label for="name">Vous êtes</label>
					<select name="sex" id="sex">
						<option value="empty" disabled="disabled" autofocus>Je suis...</option>
						<option value="homme">un homme</option>
						<option value="femme">une femme</option>
						<option value="autre">autre ?</option>
					</select>
					<span class="validatedfield"></span>
				</div>
				<div class="field field--half field--select">
					<label for="nbre-child">Combien d'enfant avez-vous ?</label>
					<select name="nbre-child" id="nbre-child">
						<option value="empty" disabled="disabled" autofocus>J'en ai...</option>
						<option value="0">J'ai pas d'enfant</option>
						<option value="1">J'en ai 1</option>
						<option value="2">Entre 2 et 3</option>
						<option value="+3">Plus de 3</option>
						<option value="++">Je compte plus !</option>
					</select>
					<span class="validatedfield"></span>
				</div>
				<div class="field field--half">
					<label for="country">Votre pays</label>
					<select name="country" id="country">
						<option value="empty" disabled="disabled" autofocus>J'habites en...</option>
						<option value="france">France</option>
						<option value="allemagne">Allemagne</option>
						<option value="belgique">Belgique</option>
						<option value="espagne">Espagne</option>
						<option value="italie">Italie</option>
						<option value="angleterre">Angleterre</option>
						<option value="suisse">Suisse</option>
					</select>
				</div>
				<div class="field field--half">
					<label for="zip">Votre code postal</label>
					<input type="text" name="zip" id="zip">
				</div>
				<div class="field field--half">
					<label for="pass-confirmation">Votre anniversaire</label>
					<input type="date" >
				</div>
				<h2 class="form-section__title">Faites vous connaitre par la communauté</h2>
				<div class="field field--half">
					<label for="zblogip">Votre blog (si vous en avez un)</label>
					<input type="text" name="blog" id="blog" placeholder="www.monsuperblog.com">
				</div>
				<div class="field field--half">
					<label for="twitter">Votre nom d'utilisateur twitter</label>
					<input type="text" name="twitter" id="twitter" value="@" placeholder="@superdad">
				</div>
				<div class="field field--full field--check">
					<label for="condition">
						<input type="checkbox" name="condition"> J'ai lu et j'accepte les <a href="#">conditions d'utlisation</a>
					</label>
				</div>
				<div class="field field--full">
					<button class="login-submit">Suivant</button>
				</div>

			</form>

		</section>

</div>
@include('partials/_footer.html')
