@include('partials/_head.html')
<section class="ym-intro">
	<div class="ym-container">
		<div class="scene">
			<span class="bg-cloud"></span>
			<span class="cloud cloud--top cloud--top--left"></span>
			<span class="cloud cloud--top cloud--top--right"></span>
			<span class="cloud cloud--bottom cloud--bottom--left"></span>
			<span class="cloud cloud--bottom cloud--bottom--right"></span>
			<span class="cloud cloud--bottom cloud--bottom--left cloud--bottom--left--2"></span>
			<span class="cloud cloud--bottom cloud--bottom--right cloud--bottom--right--2"></span>
			<div class="bush bush--left"></div>
			<div class="bush bush--right"></div>
			<div class="familly"></div>
			<a href="/" class="logo"></a>
			<span class="familly"></span>
			<div class="ym-subscribe">
				<h1 class="ym-subscribe__title">L'appli préférée des parents <strong>qui bougent avec leurs enfants</strong></h1>
				<a class="ym-subscribe__button" href="inscription.html">S'inscrire</a>
				<a  class="ym-subscribe__button ym-subscribe__button--reverse" href="connexion.html">Je suis inscrit</a>
				<h2 class="ym-subscribe__info"><span>(c'est gratuit, et aprés aussi)</span></h2>
			</div>
		</div>
	</div>
</section>
<section class="ym-features">
	<div class="ym-container">
		<div class="feature-card">
			<img class="feature-card__thumb" src="images/temp/feature-pic-1.jpg" height="279" width="283" alt="">
			<h3 class="feature-card__title">Trouvez les endroits recommandés par les parents</h3>
			<p class="feature-card__info">Les meilleures adresses baby-friendly de votre ville classées selon des critères simples, notées et commentées par la communauté.</p>
		</div>
		<div class="feature-card">
			<img class="feature-card__thumb" src="images/temp/feature-pic-2.jpg" height="279" width="283" alt="">
			<h3 class="feature-card__title">Dénichez les meilleures activités selon l’âge de vos enfants.</h3>
			<p class="feature-card__info">Ateliers, spectacles, expos, restos, événements... L’avis des parents en un clin d’œil, la réservation facile… YWM a tout prévu !</p>
		</div>
		<div class="feature-card">
			<img class="feature-card__thumb" src="images/temp/feature-pic-3.jpg" height="279" width="283" alt="">
			<h3 class="feature-card__title">Partagez vos favoris avec vos proches et profitez !</h3>
			<p class="feature-card__info">Pleins de services malins qui vont vous faciliter la vie et vous libérer l’esprit pour l’essentiel : passer du temps avec vos enfants !</p>
		</div>
	</div>
</section>
<section class="ym-testimonials">
	<div class="ym-container">
		<h2 class="ym-section__title"><span>Les médias en parlent</span></h2>
		<div class="ym-testimonials__slider" id="testimonial-slider">
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/france-2.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/le-parisien.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/elle.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/a-nous-apris.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/france-2.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/le-parisien.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/elle.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/a-nous-apris.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/france-2.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/le-parisien.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/elle.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
			<div class="ym-testimonials__item">
				<div class="ym-testimonials__item__thumb">
					<img src="images/logos-temoignage/a-nous-apris.png" alt="">
				</div>
				<blockquote cite="http://www.france2.fr/emissions/telematin">
					<p>Un blog de maman collaboratif et intelligent</p>
				</blockquote>
			</div>
		</div>
	</div>
</section>
<section class="ym-community">
	<div class="ym-container">
		<h2 class="ym-section__title"><span>La communauté</span></h2>
		<ul class="community-list">
			<li class="community-list__item">
				<img src="images/landing/illu-ambassadeurs.png">
				<h5>Devenez ambassadeur / ambassadrice de votre ville</h5>
			</li>
			<li class="community-list__item">
				<img src="images/landing/illu-partenaires.png">
				<h5>Vous etes commerçant</h5>
			</li>
			<li class="community-list__item">
				<img src="images/landing/illu-pub.png">
				<h5>Partenariat, Marques et enseignes</h5>
			</li>
		</ul>
	</div>
</section>
<footer class="ym-footer">
	<div class="ym-container">
		<h4> Les adresses baby friendly toutes commentées et ajoutées par de vrais parent. Sortir avec un bébé à paris, Lyon, Marseille, Grenoble etc n’a jamais été aussi simple. <a href="#">Blablablas avec lien hypertexte</a></h4>
	</div>
</footer>
@include('partials/_footer.html')
