@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<header class="page__header">
		<h2 class="page__header__title"><span>Les mums</span></h2>
	</header>

	<nav>
		<ul class="ym-tabs-page">
			<li><span onclick="document.location='les-mums.html?type=all'" class=" ym-tabs__links tab-avis is-active">toutes</span></li>
			<li><span onclick="document.location='les-mums.html?type=follows'" class="ym-tabs__links tab-avis ">amies</span></li>
			<li><span onclick="document.location='les-mums.html?type=followers'" class=" ym-tabs__links tab-avis ">me suivent</span></li>
		</ul>
	</nav>

	<section class="grid-friend">
		<div class="ym-result-filter filter__mums">
			<div class="ym-filter__title"> <span>Trier par</span> </div>
			<form action="" id="result-filter">
				<select class="ym-filter ym-filter--price" id="filter-price">
					<option value="">Avis postés</option>
					<option>Proximité</option>
					<option>Adresses ajoutées</option>
					<option>Mums de A à Z</option>
					<option>Les derniers blogueuses</option>
				</select>
				<div class="search-bar">
					<input type="text" name="search" id="search" class="search-bar__field" placeholder="Rechercher...">
					<button type="submit" class="search-bar__button">Yes</button>
				</div>
			</form>
		</div>
		<div class="ym-friends__list">
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-melle-o">
					<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
				</a>
				<p class="ym-friend__name">Melle o</p>
				<p class="ym-friend__location">Paris</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>128</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>86</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-nathparis">
					<img src="http://yeswemoms.com/image_uploads/thumbs/149962461_249139409973121.png" alt="">
				</a>
				<p class="ym-friend__name">Nathparis</p>
				<p class="ym-friend__location">Palaiseau</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>110</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>80</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-melle-o">
					<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
				</a>
				<p class="ym-friend__name">Melle o</p>
				<p class="ym-friend__location">Paris</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>128</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>86</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-nathparis">
					<img src="http://yeswemoms.com/image_uploads/thumbs/149962461_249139409973121.png" alt="">
				</a>
				<p class="ym-friend__name">Nathparis</p>
				<p class="ym-friend__location">Palaiseau</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>110</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>80</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-melle-o">
					<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
				</a>
				<p class="ym-friend__name">Melle o</p>
				<p class="ym-friend__location">Paris</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>128</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>86</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-nathparis">
					<img src="http://yeswemoms.com/image_uploads/thumbs/149962461_249139409973121.png" alt="">
				</a>
				<p class="ym-friend__name">Nathparis</p>
				<p class="ym-friend__location">Palaiseau</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>110</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>80</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-melle-o">
					<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
				</a>
				<p class="ym-friend__name">Melle o</p>
				<p class="ym-friend__location">Paris</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>128</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>86</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-nathparis">
					<img src="http://yeswemoms.com/image_uploads/thumbs/149962461_249139409973121.png" alt="">
				</a>
				<p class="ym-friend__name">Nathparis</p>
				<p class="ym-friend__location">Palaiseau</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>110</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>80</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-melle-o">
					<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
				</a>
				<p class="ym-friend__name">Melle o</p>
				<p class="ym-friend__location">Paris</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>128</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>86</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-nathparis">
					<img src="http://yeswemoms.com/image_uploads/thumbs/149962461_249139409973121.png" alt="">
				</a>
				<p class="ym-friend__name">Nathparis</p>
				<p class="ym-friend__location">Palaiseau</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>110</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>80</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-melle-o">
					<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
				</a>
				<p class="ym-friend__name">Melle o</p>
				<p class="ym-friend__location">Paris</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>128</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>86</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-nathparis">
					<img src="http://yeswemoms.com/image_uploads/thumbs/149962461_249139409973121.png" alt="">
				</a>
				<p class="ym-friend__name">Nathparis</p>
				<p class="ym-friend__location">Palaiseau</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>110</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>80</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-melle-o">
					<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
				</a>
				<p class="ym-friend__name">Melle o</p>
				<p class="ym-friend__location">Paris</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>128</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>86</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-nathparis">
					<img src="http://yeswemoms.com/image_uploads/thumbs/149962461_249139409973121.png" alt="">
				</a>
				<p class="ym-friend__name">Nathparis</p>
				<p class="ym-friend__location">Palaiseau</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>110</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>80</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-melle-o">
					<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
				</a>
				<p class="ym-friend__name">Melle o</p>
				<p class="ym-friend__location">Paris</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>128</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>86</span>
					</div>
				</div>
			</div>
			<div class="ym-friend toggle-friend">
				<a class="ym-friend__pic" href="carnet-de-nathparis">
					<img src="http://yeswemoms.com/image_uploads/thumbs/149962461_249139409973121.png" alt="">
				</a>
				<p class="ym-friend__name">Nathparis</p>
				<p class="ym-friend__location">Palaiseau</p>
				<span class="add-friend add-friend--small tooltipstered"></span>
				<div class="ym-friend__info">
					<div class="ym-friend__info__meta">
						<i class="meta--avis"></i><span>110</span>
					</div>
					<div class="ym-friend__info__meta">
						<i class="meta--address"></i><span>80</span>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="pagination">
			<span class="pagination__first-page"></span>
			<span class="pagination__prev"></span>
			<div class="pagination__count"> Page 1/65</div>
			<span class="pagination__next"></span>
			<span class="pagination__last-page"></span>
		</div>
	</section>
	<aside class="bloc-actu">
		<h3 class="bloc-actu__title">Leurs actus</h3>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemum.com/image_uploads/large/image_140305822_849139495994511.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Frand</a>
				a ajouté une photo sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">Musée carnavalet</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<i class="icon-avis"></i>
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Frand</a>
				a posté un avis sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">chez federico</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemum.com/image_uploads/large/image_140305822_849139495994511.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Jean-louise</a>
				a ajouté un avis sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">Café grenadine</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemum.com/image_uploads/large/image_140305822_849139495994511.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Laurène</a>
				a ajouté une photo sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">à la folie des théatres</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemum.com/image_uploads/large/image_140305822_849139495994511.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Frand</a>
				a ajouté une photo sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">Musée carnavalet</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<i class="icon-avis"></i>
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Frand</a>
				a posté un avis sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">chez federico</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemum.com/image_uploads/large/image_140305822_849139495994511.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Jean-louise</a>
				a ajouté un avis sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">Café grenadine</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemum.com/image_uploads/large/image_140305822_849139495994511.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Laurène</a>
				a ajouté une photo sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">à la folie des théatres</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemoms.com/image_uploads/thumbs/195660812_647142926847599.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Frand</a>
				a ajouté une photo sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">Musée carnavalet</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<i class="icon-add-pic"></i>
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Frand</a>
				a posté un avis sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">chez federico</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemum.com/image_uploads/large/image_140305822_849139495994511.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Jean-louise</a>
				a ajouté un avis sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">Café grenadine</a>
			</div>
		</div>
		<div class="bloc-actu__item">
			<div class="bloc-actu__preview">
				<img src="http://yeswemum.com/image_uploads/large/image_140305822_849139495994511.png" alt="">
			</div>
			<div class="bloc-actu__info">
				<a class="bloc-actu__item__link" href="http://yeswemoms.com/carnet-de-frand">Laurène</a>
				a ajouté une photo sur <a class="bloc-actu__item__link" href="http://yeswemum.com/adresse-musee-carnavalet-16-rue-des-francs-bourgeois-paris">à la folie des théatres</a>
			</div>
		</div>
	</aside>
</div>
@include('partials/_footer.html')
