@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<header class="page__header">
		<h2 class="page__header__title"><span>Ma famille ! </span></h2>
	</header>
	<section class="page__section">
		<div class="page__section__intro">
			<p>Dans <strong>"Ma famille"</strong> vous retrouvez toute l'actualité des gens qui vous sont proches. Vos amis, parents, grands parents ou voisins. Vous pouvez simplement partager vos Favoris, Avis ou photos...</p>
			<p>Pour ajouter des gens dans votre famille il faut les suivre comme 'amis' puis leur envoyer une requete (dans votre espace 'Amis suivis')</p>
		</div>
		@include('partials/modules/_bloc-list-friend.html')
	</section>
	<nav>
		<ul class="ym-tabs-page">
			<li><span onclick="document.location='les-mums.html?type=all'" class=" ym-tabs__links tab-avis is-active">toutes</span></li>
			<li><span onclick="document.location='les-mums.html?type=follows'" class="ym-tabs__links tab-avis ">amies</span></li>
			<li><span onclick="document.location='les-mums.html?type=followers'" class=" ym-tabs__links tab-avis ">me suivent</span></li>
		</ul>
	</nav>
	<section>
		@include('partials/modules/_icon-bar.html')
	</section>
</div>
@include('partials/_footer.html')
