@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<!-- Formulaire -->
	<form action="#" class="ym-form">
		<h3 class="ym-form__heading">Moi, moi, moi et moi</h3>
		<div class="ym-form__fields">
			<div class="field__row">
				<label for="pseudo" class="field__label field__label--required">Pseudo</label>
				<input type="text" name="pseudo" class="field__input" id="pseudo" placeholder="ex : superdad...">
				<span class="field__notification"></span>
			</div>
			<div class="field__row field--error">
				<label for="prenom" class="field__label field__label--required">Prénom</label>
				<input type="text" name="prenom" class="field__input" id="prenom" placeholder="ex : superdad...">
				<span class="validatedfield"></span>
			</div>
			<div class="field__row field--success">
				<label for="nom" class="field__label field__label--required">Nom</label>
				<input type="text" name="nom" class="field__input" id="nom" placeholder="ex : superdad...">
				<span class="invalidatedfield"></span>
			</div>
			<div class="field__row">
				<label for="pseudo" class="field__label field__label--required">Tu veux ma photo ?</label>
				<div class="field__row__pic">
					<div class="pic-user">
						<iframe src="https://s3.amazonaws.com/uifaces/faces/twitter/jeanniehuang/128.jpg" allowtransparency="true"></iframe>
						<div class="pic-user__change"><i class="icon icon--picture"></i></div>
						<input name="item_image_0" type="hidden" class="fieldok" id="item_image_0" size="20" value="147252311_175144043653128">
					</div>
				</div>
			</div>
			<div class="field__row">
				<label for="role" class="field__label">Je suis</label>
				<select name="role" id="role" class="field__input field__input--select">
					<option value="none" selected disabled>je suis..</option>
					<option value="maman">Maman</option>
					<option value="papa">Papa</option>
					<option value="tante">Tante</option>
					<option value="oncle">Oncle</option>
					<option value="grand-maman">Grand maman</option>
					<option value="grand-papa">Grand papa</option>
					<option value="nounou">Nounou</option>
					<option value="autre">Autre...</option>
				</select>
			</div>
			<div class="field__row">
				<label for="mail" class="field__label">Mail</label>
				<input type="mail" name="mail" class="field__input" id="mail" placeholder="superdad@mum.com">
				<span class="field__notification"></span>
			</div>
			<div class="field__row">
				<label for="url" class="field__label">Mon blog</label>
				<input type="url" name="url" class="field__input" id="url" placeholder="superdad.blog.com">
				<span class="field__notification"></span>
			</div>
			<div class="field__row">
				<label for="facebook" class="field__label">Ma page Facebook</label>
				<input type="text" class="field__input" name="facebook" id="facebook" placeholder="Indentifiant ou lien de ma page">
				<span class="field__notification"></span>
			</div>
			<div class="field__row">
				<label for="twitter" class="field__label">Mon identifiant Twitter</label>
				<input type="text" class="field__input" name="twitter" id="twitter" value="@" placeholder="@superdad">
				<span class="field__notification"></span>
			</div>
			<div class="field__row">
				<label for="tel" class="field__label">Mon téléphone</label>
				<input type="tel" name="tel" id="tel" class="field__input" placeholder="06060606">
				<span class="field__notification"></span>
			</div>
			<div class="field__row">
				<label for="bebe-nb" class="field__label">Combien d'enfants déjà ?</label>
				<select name="bebe-nb" id="bebe-nb" class="field__input field__input--select">
					<option value="" selected disabled>...</option>
					<option value="0.1">Aucun, je suis la par hazard...</option>
					<option value="0.5">Je suis enceinte du premier !</option>
					<option value="1.1">Un seul, mais il est super !</option>
					<option value="2.1">Deux, qui se chamaillent...</option>
					<option value="3.1">Trois fiers mousquetaires.</option>
					<option value="4.1">Quatre, qui courrent partout...</option>
					<option value="5.1">Plus que quatre, je ne compte plus !</option>
				</select>
			</div>
			<h3 class="ym-form__subheading">Mon adresse</h3>
			<div class="field__row">
				<label for="rue" class="field__label">No. et rue</label>
				<input type="text" name="rue" id="rue" class="field__input" placeholder="75, rue des dads">
				<span class="field__notification"></span>
			</div>
			<div class="field__row">
				<label for="ville" class="field__label">Ville</label>
				<input type="text" name="ville" id="ville" class="field__input" placeholder="Paris..">
				<span class="field__notification"></span>
			</div>
			<div class="field__row">
				<label for="cp" class="field__label">Code postal</label>
				<input type="text" name="cp" id="cp" class="field__input" placeholder="75008">
				<span class="field__notification"></span>
			</div>
			<div class="field__row">
				<label for="user_country" class="field__label">Pays</label>
				<select name="user_country" id="user_country" class="field__input field__input--select">
					<option value="" selected disabled>...</option>
					<option value="France">France</option>
					<option value="Belgique">Belgique</option>
					<option value="Suisse">Suisse</option>
					<option value="Italie">Italie</option>
					<option value="Angleterre">Angleterre</option>
					<option value="Espagne">Espagne</option>
				</select>
			</div>
			<div class="field__row field__row--conditions">
				<input type="checkbox" class="field__checkbox" name="condition" id="condition" value="ok">
				<label for="condition" class="label__checkbox">J'ai lu et j'accepte les <a href="#">Conditions d'utilisation</a></label>
			</div>
			<div class="field__row field__row--conditions">
				<input type="checkbox" class="field__checkbox" name="test" id="test" value="ok">
				<label for="test" class="label__checkbox">J'ai lu et j'accepte les <a href="#">Conditions d'utilisation</a></label>
			</div>
			<div class="field__row">
				<button type="submit" class="form-button">Je valide</button>
			</div>
		</div>
	</form>
</div>
@include('partials/_footer.html')
