@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
@include('partials/modules/_search-bar-result.html')

<div class="ym-container ym-container--full ym-map">
	<div class="ym-map__filter">
		<span class="map-filter__title">Filtrer par :</span>
		<div class="checkbox-filter">
			<input type="checkbox" name="filter-map" id="restaurant">
			<label for="restaurant">Restaurant</label>
		</div>,
		<div class="checkbox-filter">
			<input type="checkbox" name="filter-map" id="brunch">
			<label for="brunch">Brunch</label>
		</div>,
		<div class="checkbox-filter">
			<input type="checkbox" name="filter-map" id="coffeee">
			<label for="coffeee">Café</label>
		</div>
	</div>
	<div class="ym-map__container">
		<script src="https://maps.googleapis.com/maps/api/js"></script>
			<script>
				google.maps.event.addDomListener(window, 'load', init);
				function init() {
				// Basic options for a simple Google Map
				// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
				var mapOptions = {
					// How zoomed in you want the map to start at (always required)
					zoom: 11,

					// The latitude and longitude to center the map (always required)
					center: new google.maps.LatLng(48.87146,	2.35500), // New York

					// How you would like to style the map.
					// This is where you would paste any style found on Snazzy Maps.
					styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
				};

				// Get the HTML DOM element that will contain your map
				// We are using a div with id="map" seen below in the <body>
				var mapElement = document.getElementById('map');

				// Create the Google Map using our element and options defined above
				var map = new google.maps.Map(mapElement, mapOptions);

				// Let's also add a marker while we're at it
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(40.6700, -73.9400),
					map: map,
					title: 'YesWeMum'
				});
			}
		</script>
		<div id="map"></div>
	</div>
</div>

<div class="ym-container">

	<div class="ym-result-filter">
		<form action="" id="result-filter">
			<select class="ym-filter ym-filter--price" id="filter-price">
				<option value="">Les plus proches</option>
				<option>Les mieux notés</option>
				<option>Les plus proches</option>
				<option>Les derniers avis</option>
				<option>Les derniers ajouts</option>
				<option>Les plus discutés</option>
			</select>
		</form>
	</div>
	<div class="ym-result-container">
		<div class="result-row-pin">
			<img class="pin-icon" src="images/map/map_marker_ateliers.png" height="43" width="34" alt="">
		</div>
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<a href="single-adresse.html">
						<img src="images/temp/result-resto.png" alt="">
					</a>
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name"><a href="single-adresse.html">Le poussette café</a></h3>
						<p class="info-txt__location">6 rue Pierre Semard 75009 Paris</p>
						<p class="info-txt__meta">
							<a href="#" class="meta-type">Restaurant</a>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">3</span>
					<span class="comments-note__title">Gérable</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>très chouette endroit plein de choses à faire !</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Super accueil, super service à refaire bien...</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
		</div>
	</div>
	<div class="ym-result-container">
		<div class="result-row-pin">
			<img class="pin-icon" src="images/map/map_marker_ateliers.png" height="43" width="34" alt="">
		</div>
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<a href="single-adresse.html">
						<img src="images/temp/result-resto-2.png" alt="">
					</a>
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name"><a href="single-adresse.html">Les ptits chefs</a></h3>
						<p class="info-txt__location">14 rue d'Evian 75009 Paris</p>
						<p class="info-txt__meta">
							<a href="#" class="meta-type">Restaurant</a>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Marc</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">4</span>
					<span class="comments-note__title">Baby Friendly</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>Pas mal</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Sympa</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
			<div class="result-row__coming-soon">
				<p class="coming-soon__title">3 activités à venir</p>
				<table class="coming-soon-table">
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--4"></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--4"></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="ym-result-container">
		<div class="result-row-pin">
			<img class="pin-icon" src="images/map/map_marker_ateliers.png" height="43" width="34" alt="">
		</div>
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<a href="single-adresse.html">
						<img src="images/temp/result-resto-3.png" alt="">
					</a>
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name"><a href="single-adresse.html">Ma kitchen</a></h3>
						<p class="info-txt__location">3 rue Rochechouart 75009 Paris</p>
						<p class="info-txt__meta">
							<a href="#" class="meta-type">Restaurant</a>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Christophe</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">5</span>
					<span class="comments-note__title">Très agréable</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>Pas mal</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Sympa</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
		</div>
	</div>
</div>
@include('partials/_footer.html')
