@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
@include('partials/modules/_search-bar-result.html')

<div class="ym-container ym-container--full ym-map">
	<div class="ym-map__container"></div>
</div>

<div class="ym-container">
	<!-- Filtre résultats -->
	<div class="ym-result-filter">
		<div class="ym-filter__title">
			<span>Filtrer par :</span>
		</div>
		<form action="" id="result-filter">
			<select class="ym-filter ym-filter--price" id="filter-price">
				<option value="">Prix</option>
				<option>Gratuit</option>
				<option>Moins de 10 €</option>
				<option>20 à 30 €</option>
				<option>Plus de 30 €</option>
			</select>
			<select class="ym-filter ym-filter--when" id="filter-when">
				<option value="">Quand</option>
				<option>Ce week-end</option>
				<option>En semaine</option>
			</select>
			<select class="ym-filter ym-filter--type" id="filter-type">
				<option value="">Type d'activité</option>
				<option>Enfant</option>
				<option>Parents et enfants</option>
				<option>Enfants</option>
			</select>
		</form>
	</div>
	<div class="ym-result-container">
		<div class="result-row-pin">
			<div class="pin-count on-map">1</div>
		</div>
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<a href="single-adresse.html">
						<img src="images/temp/result-resto-2.png" alt="">
					</a>
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name"><a href="single-adresse.html">Les ptits chefs</a></h3>
						<p class="info-txt__location">14 rue d'Evian 75009 Paris</p>
						<p class="info-txt__meta">
							<span class="meta-type">Restaurant</span>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">Marc</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">4</span>
					<span class="comments-note__title">Baby Friendly</span>
					<span class="comment-note__stars note-stars--2"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>Pas mal</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Sympa</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
			<div class="result-row__coming-soon">
				<p class="coming-soon__title">3 activités à venir</p>
				<table class="coming-soon-table">
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="ym-result-container">
		<div class="result-row-pin">
			<div class="pin-count">2</div>
		</div>
		<div class="ym-result-row">
			<div class="result-row__adresse">
				<div class="adresse-pic">
					<a href="single-adresse.html">
						<img src="images/temp/result-resto.png" alt="">
					</a>
				</div>
				<div class="adresse-info">
					<div class="add-favorite">
						<span class="add-favorite__icon"></span>
					</div>
					<div class="info-icon">
						<span class="type-table"></span>
					</div>
					<div class="info-txt">
						<h3 class="info-txt__name"><a href="single-adresse.html">Le poussette café</a></h3>
						<p class="info-txt__location">6 rue Pierre Semard 75009 Paris</p>
						<p class="info-txt__meta">
							<span class="meta-type">Restaurant</span>
							<span class="meta-author">Ajouté par <a href="#" class="meta-author__link">DEEDEE</a></span>
						</p>
					</div>
				</div>
			</div>
			<div class="result-row__comments">
				<div class="comments-note">
					<span class="comments-note__count">3</span>
					<span class="comments-note__title">Amazing</span>
					<span class="comment-note__stars note-stars--2"></span>
				</div>
				<div class="comments-avis">
					<bloquote class="comment-avis__excerpt"><p>très chouette endroit plein de choses à faire !</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Super accueil, super service à refaire bien ...</p></bloquote>
					<bloquote class="comment-avis__excerpt"><p>Bof...</p></bloquote>
				</div>
			</div>
			<div class="result-row__coming-soon">
				<p class="coming-soon__title">7 activités à venir</p>
				<table class="coming-soon-table">
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">3 à 5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-expos"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-expos"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-expos"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-table"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--4"></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="coming-soon__icon">
							<span class="type-airs"></span>
						</td>
						<td class="coming-soon__name">Atelier cuisine : les carottes</td>
						<td class="coming-soon__age">5 ans</td>
						<td class="coming-soon__price">15 €</td>
						<td class="coming-soon__note"><span class="comment-note__stars note-stars--2"></span></span></td>
						<td class="coming-soon__like">
							<div class="add-favorite">
								<span class="add-favorite__icon"></span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
@include('partials/_footer.html')
