@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<div class="ym-single-adresse">
		<header class="single-adresse__header">
			<div class="ym-btn-back">
				<a href="result-adresses.html" class="ym-btn-back__icon"></a>
			</div>
			<div class="single-adresse__info">
				<div class="adresse-info__icon">
					<span class="type-table"></span>
				</div>
				<div class="adresse-info__text">
					<h1 class="info-text__title">Le poussette café</h1>
					<p class="info-text__meta">
						<span class="meta-type">Restaurant</span>
						<span class="meta-author"><i class="profil-pic"></i> Ajouté par <a href="#" class="meta-author__link">Deedee</a></span>
					</p>
				</div>
			</div>
			<div class="single-adresse__action">
				<span class="add-avis"><i class="ym-icon icon-avis"></i>Écrire un avis</span>
				<a href="#" class="add-favorite"><i class="ym-icon icon-favorite"></i>Ajouter au favoris</a>
				<span class="add-share"><i class="ym-icon icon-share"></i>Partager</span>
				@include('partials/modules/_share-box.html')
			</div>
		</header>
		<section class="single-adresse__description">
			<div class="adresse-description__left">
				<div class="adresse-pictures">
					<img src="images/temp/ywm-slide-1.jpg" alt="" class="pictures-slider__item">
					<img src="images/temp/ywm-slide-2.jpg" alt="" class="pictures-slider__item">
					<img src="images/temp/ywm-slide-3.jpg" alt="" class="pictures-slider__item">
				</div>
				<div class="adresse-location">
					<div class="location-map">
						<img src="images/temp/ywm-map-small.jpg" alt="">
					</div>
					<div class="location-info">
						<adress class="location-info__adresse">
							<p><strong>6 rue Pierre Semard 75009 Paris</strong></p>
							<span>01.43.56.70.80</span>
							<a href="mailto:poussette@cafe.fr">poussette@cafe.fr</a>
							<a href="http://www.pousette.cafe">www.pousette.cafe</a>
						</adress>
						<div class="location-info__opening">
							<p><strong>Ouverture : </strong>du lundi au samedi 8h-12h et 14h-19h - le dimanche 8h-12h</p>
						</div>
						<div class="location-info__modify">
							<a href="#">Modifier les informations</a> |
							<a href="#">Vous êtes le propriétaire ?</a>
						</div>
					</div>
				</div>
				<div class="adresse-summary">
					<p>
						<strong>Le Poussette café</strong>, c’est un nouvel état d’esprit : nouveau lieu de vie plus qu’une simple boutique, e-shop et blog-magazine... Le café propose des produits, et une gamme unique de services ( cours, ateliers, conciergerie, liste de naissance, conseils...) répondant àtous les besoins et les questions des jeunes et futurs parents modernes et attentifs à eux-mêmes.
					</p>
				</div>
			</div>
			<div class="adresse-description__right">
				<div class="comments-note">
					<span class="comments-note__count">3</span>
					<span class="comments-note__title">Gérable</span>
					<span class="comment-note__stars note-stars--4"></span>
				</div>
				<div class="adresse-feature">
					<div class="adresse-feature__container">
						<div class="adresse-feature__row">
							<div class="adresse-feature__icons">
								<span class="icon--poussette"></span>
							</div>
							<div class="adresse-feature__info">
								<h5 class="feature-info__title">Easy pousette</h5>
								<div class="feature-info__range"></div>
							</div>
						</div>
						<div class="adresse-feature__row">
							<div class="adresse-feature__icons">
								<span class="icon--clean"></span>
							</div>
							<div class="adresse-feature__info">
								<h5 class="feature-info__title">C'est propre</h5>
								<div class="feature-info__range range--80"></div>
							</div>
						</div>
						<div class="adresse-feature__row">
							<div class="adresse-feature__icons">
								<span class="icon--game"></span>
							</div>
							<div class="adresse-feature__info">
								<h5 class="feature-info__title">On les occupe</h5>
								<div class="feature-info__range range--50"></div>
							</div>
						</div>
						<div class="adresse-feature__row">
							<div class="adresse-feature__icons">
								<span class="icon--equipped"></span>
							</div>
							<div class="adresse-feature__info">
								<h5 class="feature-info__title">C'est équipé</h5>
								<div class="feature-info__range range--30"></div>
							</div>
						</div>
						<div class="adresse-feature__row">
							<div class="adresse-feature__icons">
								<span class="icon--smile"></span>
							</div>
							<div class="adresse-feature__info">
								<h5 class="feature-info__title">Sourire compris</h5>
								<div class="feature-info__range"></div>
							</div>
						</div>
					</div>
					<div class="adresse-feature__container">
						<div class="adresse-feature__row">
							<div class="adresse-feature__icons">
								<span class="icon--wc"></span>
							</div>
							<div class="adresse-feature__info">
								<h5 class="feature-info__title">Toilettes correctes</h5>
								<div class="feature-info__range range--blue range--100"></div>
							</div>
						</div>
						<div class="adresse-feature__row">
							<div class="adresse-feature__icons">
								<span class="icon--price"></span>
							</div>
							<div class="adresse-feature__info">
								<h5 class="feature-info__title">Rapport qualité prix</h5>
								<div class="feature-info__range range--blue range--60"></div>
							</div>
						</div>
						<div class="adresse-feature__row">
							<div class="adresse-feature__icons">
								<span class="icon--table"></span>
							</div>
							<div class="adresse-feature__info">
								<h5 class="feature-info__title">Table à langer</h5>
								<div class="feature-info__range range--blue range--30"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="adresse-comments">
					<div class="adresse-comments__row">
						<img src="images/temp/profil-pic-small-1.png" class="comment-avis__pic" alt="">
						<bloquote class="comment-avis__excerpt"><p>très chouette endroit plein de choses à faire !</p></bloquote>
					</div>
					<div class="adresse-comments__row">
						<img src="images/temp/profil-pic-small-2.png" class="comment-avis__pic" alt="">
						<bloquote class="comment-avis__excerpt"><p>très chouette endroit plein de choses à faire !</p></bloquote>
					</div>
					<div class="adresse-comments__row">
						<img src="images/temp/profil-pic-small-3.png" class="comment-avis__pic" alt="">
						<bloquote class="comment-avis__excerpt"><p>très chouette endroit plein de choses à faire !</p></bloquote>
					</div>
					<div class="adresse-comments__link">
						<a href="#avis" class="ym-btn">
							<i class="ym-btn--icon icon--avis"></i>Voir tous les avis
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="single-adresse__tab">
			<ul class="ym-tabs" id="ym-tabs">
				<li><a href="#activites" class="ym-tabs__links tab-activity">Activités</a></li>
				<li><a href="#avis" class="ym-tabs__links tab-avis">5 Avis</a></li>
				<li><a href="#photos" class="ym-tabs__links tab-pictures">4 Photos</a></li>
			</ul>
			<div id="activites" class="ym-tab-content">
				@include('partials/modules/_tab-activity.html')
			</div>
			<div id="avis" class="ym-tab-content">
				<div class="ym-tab__avis">
					<div class="avis--left" data-columns>
						<div class="ym-bloc">
							<div class="ym-bloc__content">
								<div class="ym-bloc__pic">
									<img src="images/temp/profil-pic-avis.png" alt="">
								</div>
								<h4 class="ym-bloc__username">Donna</h4>
								<p class="ym-bloc__do">à écrit un avis</p>
								<p class="ym-bloc__time">5 min</p>
								<div class="ym-bloc__text">
									<h4>très chouette endroit, plein de chose à faire !</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem...</p>
								</div>
								<div class="ym-bloc__note">
									<div class="note-count">
										<div class="comments-note">
											<span class="comments-note__count">3</span>
											<span class="comments-note__title">Gérable</span>
											<span class="comment-note__stars note-stars--4"></span>
										</div>
									</div>
									<div class="note-feature">
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--poussette"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">Easy pousette</h5>
												<div class="feature-info__range"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--clean"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">C'est propre</h5>
												<div class="feature-info__range range--80"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--game"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">On les occupe</h5>
												<div class="feature-info__range range--50"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--equipped"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">C'est équipé</h5>
												<div class="feature-info__range range--30"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--smile"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">Sourire compris</h5>
												<div class="feature-info__range"></div>
											</div>
										</div>
									</div>
									<div class="note-button">
										<a href="#">Publier</a>
									</div>
								</div>
							</div>
						</div>
						<div class="ym-bloc">
							<div class="ym-bloc__content">
								<div class="ym-bloc__pic">
									<img src="images/temp/profil-pic-avis.png" alt="">
								</div>
								<h4 class="ym-bloc__username">Donna</h4>
								<p class="ym-bloc__do">à écrit un avis</p>
								<p class="ym-bloc__time">5 min</p>
								<div class="ym-bloc__text">
									<h4>très chouette endroit, plein de chose à faire !</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis!</p>
								</div>
								<div class="ym-bloc__note">
									<div class="note-count">
										<div class="comments-note">
											<span class="comments-note__count">3</span>
											<span class="comments-note__title">Gérable</span>
											<span class="comment-note__stars note-stars--4"></span>
										</div>
									</div>
									<div class="note-feature">
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--poussette"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">Easy pousette</h5>
												<div class="feature-info__range"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--clean"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">C'est propre</h5>
												<div class="feature-info__range range--80"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--game"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">On les occupe</h5>
												<div class="feature-info__range range--50"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--equipped"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">C'est équipé</h5>
												<div class="feature-info__range range--30"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--smile"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">Sourire compris</h5>
												<div class="feature-info__range"></div>
											</div>
										</div>
									</div>
									<div class="note-button">
										<a href="#">Publier</a>
									</div>
								</div>
							</div>
						</div>
						<div class="ym-bloc">
							<div class="ym-bloc__content">
								<div class="ym-bloc__pic">
									<img src="images/temp/profil-pic-avis.png" alt="">
								</div>
								<h4 class="ym-bloc__username">Donna</h4>
								<p class="ym-bloc__do">à écrit un avis</p>
								<p class="ym-bloc__time">5 min</p>
								<div class="ym-bloc__text">
									<h4>très chouette endroit, plein de chose à faire !</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis!</p>
								</div>
								<div class="ym-bloc__note">
									<div class="note-count">
										<div class="comments-note">
											<span class="comments-note__count">3</span>
											<span class="comments-note__title">Gérable</span>
											<span class="comment-note__stars note-stars--4"></span>
										</div>
									</div>
									<div class="note-feature">
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--poussette"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">Easy pousette</h5>
												<div class="feature-info__range"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--clean"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">C'est propre</h5>
												<div class="feature-info__range range--80"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--game"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">On les occupe</h5>
												<div class="feature-info__range range--50"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--equipped"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">C'est équipé</h5>
												<div class="feature-info__range range--30"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--smile"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">Sourire compris</h5>
												<div class="feature-info__range"></div>
											</div>
										</div>
									</div>
									<div class="note-button">
										<a href="#">Publier</a>
									</div>
								</div>
							</div>
						</div>
						<div class="ym-bloc">
							<div class="ym-bloc__content">
								<div class="ym-bloc__pic">
									<img src="images/temp/profil-pic-avis.png" alt="">
								</div>
								<h4 class="ym-bloc__username">Donna</h4>
								<p class="ym-bloc__do">à écrit un avis</p>
								<p class="ym-bloc__time">5 min</p>
								<div class="ym-bloc__text">
									<h4>très chouette endroit, plein de chose à faire !</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium iure quis quia totam hic dolorem, eligendi atque nisi. Fuga vitae et illum harum animi rem dolorem minus dolore unde reiciendis!</p>
								</div>
								<div class="ym-bloc__note">
									<div class="note-count">
										<div class="comments-note">
											<span class="comments-note__count">3</span>
											<span class="comments-note__title">Gérable</span>
											<span class="comment-note__stars note-stars--4"></span>
										</div>
									</div>
									<div class="note-feature">
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--poussette"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">Easy pousette</h5>
												<div class="feature-info__range"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--clean"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">C'est propre</h5>
												<div class="feature-info__range range--80"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--game"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">On les occupe</h5>
												<div class="feature-info__range range--50"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--equipped"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">C'est équipé</h5>
												<div class="feature-info__range range--30"></div>
											</div>
										</div>
										<div class="adresse-feature__row">
											<div class="adresse-feature__icons">
												<span class="icon--smile"></span>
											</div>
											<div class="adresse-feature__info">
												<h5 class="feature-info__title">Sourire compris</h5>
												<div class="feature-info__range"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="avis--right">
						@include('partials/modules/_add-avis.html')
					</div>
				</div>
			</div>
			<div id="photos" class="ym-tab-content">
				<div class="ym-tab__pictures ym-grid-3" data-columns>
					<div class="ym-bloc">
						<div class="ym-bloc__content">
							<div class="ym-bloc__pic">
								<img src="images/temp/profil-pic-avis.png" alt="">
							</div>
							<h4 class="ym-bloc__username">Donna</h4>
							<p class="ym-bloc__do">à posté une photo</p>
							<p class="ym-bloc__time">5 min</p>
							<div class="ym-bloc__image">
								<a href="#" data-featherlight="images/temp/pic-tab-image.jpg" class="lightbox">
									<img src="images/temp/pic-tab-image.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
					<div class="ym-bloc">
						<div class="ym-bloc__content">
							<div class="ym-bloc__pic">
								<img src="images/temp/profil-pic-avis-3.png" alt="">
							</div>
							<h4 class="ym-bloc__username">Marc</h4>
							<p class="ym-bloc__do">à écrit un avis</p>
							<p class="ym-bloc__time">15 heures</p>
							<div class="ym-bloc__image">
								<img src="images/temp/pic-tab-image-3.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="ym-bloc">
						<div class="ym-bloc__content">
							<div class="ym-bloc__pic">
								<img src="images/temp/profil-pic-avis.png" alt="">
							</div>
							<h4 class="ym-bloc__username">Donna</h4>
							<p class="ym-bloc__do">à écrit un avis</p>
							<p class="ym-bloc__time">5 min</p>
							<div class="ym-bloc__image">
								<img src="images/temp/pic-tab-image.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="ym-bloc">
						<div class="ym-bloc__content">
							<div class="ym-bloc__pic">
								<img src="images/temp/profil-pic-avis-2.png" alt="">
							</div>
							<h4 class="ym-bloc__username">Coline</h4>
							<p class="ym-bloc__do">à écrit un avis</p>
							<p class="ym-bloc__time">7 heures</p>
							<div class="ym-bloc__image">
								<img src="images/temp/pic-tab-image-2.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="ym-bloc">
						<div class="ym-bloc--add-image">
							<span class="add-avis__icon"></span>
							<h4 class="add-avis__title">Ajoutez une photo</h4>
							<form action="">
								<div class="add-pic__container">
									<input type="file" name="add-pic" id="add-pic" class="add-pic__input">
									<label for="add-pic" class="add-pic__label">Charger une photo</label>
								</div>
								<p class="add-pic__return">Fichier séléctionné : <span class="add-pic__file"></span></p>
								<button>Publier</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
@include('partials/_footer.html')
