@include('partials/_head.html')
@include('partials/layouts/_side-nav.html')
@include('partials/layouts/_header.html')
@include('partials/modules/_social-box.html')
<div class="ym-container">
	<div class="ym-toread">
		<h2 class="ym-toread__title"><span>à lire</span></h2>
	</div>
</div>
<div class="ym-single-article__cover ym-container--full" id="article-cover">
	<div style="background-image: url('images/temp/cover-single-article.jpg')"></div>
</div>
<div class="ym-container">
	<section class="ym-single-article" id="single-article">
		<header class="ym-single-article__header categorie--truc-de-mums">
			<div class="ym-btn-back">
				<a href="a-lire.html" class="ym-btn-back__icon"></a>
			</div>
			<a href="#" class="ym-categories truc-de-mums">Maman Blogueuse</a>
			<h1 class="ym-single-article__title">Chiens &amp; chats : la première expo d’arthur </h1>
			<div class="ym-bloc-pic">
				<img src="images/temp/profil-pic-avis-2.png" alt="">
			</div>
			<p class="ym-single-article__publisher">Publié par <a href="#" class="meta-author">Charlotte</a> le <span class="meta-date">7 juillet 2015</span></p>
		</header>
		<div class="ym-single-article__share">
			<h5 class="share-title">Partager :</h5>
			<a href="#" class="share-link"><i class="share-link__icon icon--facebook"></i>Facebook</a>
			<a href="#" class="share-link"><i class="share-link__icon icon--twitter"></i>Twitter</a>
			<a href="#" class="share-link"><i class="share-link__icon icon--pinterest"></i>Pinterest</a>
			<a href="#" class="share-link"><i class="share-link__icon icon--email"></i>Email</a>
		</div>
		<article class="ym-article-content">
			<div class="article-content">
				<p>Ce mercredi après-midi, mon troizans et moi avons été découvrir <strong>"Chiens &amp; Chats, l'Expo"</strong> à la Cité des sciences et de l'industrie. Une expo dédiée à la compréhension du fonctionnement du chien et du chat sous toutes ... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#">exercitation ullamco laboris</a> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p>Excepteur sint occaecat cupidatat non proident, <em>sunt in culpa qui officia deserunt mollit anim id est laborum</em>. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet...</p>
				<img src="images/temp/img-article.jpg" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<div class="ym-article-info">
				<div class="ym-article-info__activity">
					<h2>Exposition CHIENS &amp; CHAT</h2>
					<p>du 15 juin au 14 novembre 2015</p>
					<p>Horaires : 10h-18h mardi-dimanche, 10h-19h dimanche</p>
					<p>Tarifs : 12€, 10€ -26 ans, étudiant et + 60 ans, gratuit -6ans, handicapés, chômeurs</p>
				</div>
				<address class="ym-article-info__address">
					<h3>Cité des Sciences et de l'Industrie</h3>
					<p>30, avenue Corentin Cariou</p>
					<p>75019 Paris</p>
					<a href="http://www.citedessciences.com">www.citedessciences.com</a>
				</address>
			</div>
			<div class="ym-single-article__share">
				<h5 class="share-title">Partager :</h5>
				<a href="#" class="share-link"><i class="share-link__icon icon--facebook"></i>Facebook</a>
				<a href="#" class="share-link"><i class="share-link__icon icon--twitter"></i>Twitter</a>
				<a href="#" class="share-link"><i class="share-link__icon icon--pinterest"></i>Pinterest</a>
				<a href="#" class="share-link"><i class="share-link__icon icon--email"></i>Email</a>
			</div>
			<div class="ym-tag-container">
				<a class="ym-tag tag--animaux" href="#">#Animaux</a>
				<a class="ym-tag tag--sciences" href="#">#Sciences</a>
				<a class="ym-tag tag--exposition" href="#">#Exposition</a>
			</div>
		</article>
		<aside class="ym-sidebar">
			<div class="ym-sidebar__inner">
				<div class="ym-widget widget--address">
					<h4 class="ym-widget__title">1 Adresse associée</h4>
					<div class="ym-widget__content">
						<div id="widget-carousel">
							<a href="#" class="bloc-activity">
								<div class="bloc-activity__thumb" style="background-image: url('images/temp/ywm-activite-1.jpg');"></div>
								<div class="todo-activity__info">
									<div class="info-icon"> <span class="type-table"></span> </div>
									<h3 class="todo-activiy__title">Mur de coloriage au Parc Georges Brassens</h3>
									<p class="todo-activity__summary">Un coloriage géant. Les enfants sont en joie, c'est magique</p>
								</div>
								<div class="todo-activity__rating comments-note">
										<span class="comment-note__stars note-stars--4"></span>
									</div>
							</a>
							<a href="#" class="bloc-activity">
								<div class="bloc-activity__thumb" style="background-image: url('images/temp/ywm-activite-1.jpg');"></div>
								<div class="todo-activity__info">
									<div class="info-icon"> <span class="type-table"></span> </div>
									<h3 class="todo-activiy__title">Mur de coloriage au Parc Georges Brassens</h3>
									<p class="todo-activity__summary">Un coloriage géant. Les enfants sont en joie, c'est magique</p>
								</div>
								<div class="todo-activity__rating comments-note">
										<span class="comment-note__stars note-stars--4"></span>
									</div>
							</a>
							<a href="#" class="bloc-activity">
								<div class="bloc-activity__thumb" style="background-image: url('images/temp/ywm-activite-1.jpg');"></div>
								<div class="todo-activity__info">
									<div class="info-icon"> <span class="type-table"></span> </div>
									<h3 class="todo-activiy__title">Mur de coloriage au Parc Georges Brassens</h3>
									<p class="todo-activity__summary">Un coloriage géant. Les enfants sont en joie, c'est magique</p>
								</div>
								<div class="todo-activity__rating comments-note">
										<span class="comment-note__stars note-stars--4"></span>
									</div>
							</a>
							<a href="#" class="bloc-activity">
								<div class="bloc-activity__thumb" style="background-image: url('images/temp/ywm-activite-1.jpg');"></div>
								<div class="todo-activity__info">
									<div class="info-icon"> <span class="type-table"></span> </div>
									<h3 class="todo-activiy__title">Mur de coloriage au Parc Georges Brassens</h3>
									<p class="todo-activity__summary">Un coloriage géant. Les enfants sont en joie, c'est magique</p>
								</div>
								<div class="todo-activity__rating comments-note">
										<span class="comment-note__stars note-stars--4"></span>
									</div>
							</a>
							<a href="#" class="bloc-activity">
								<div class="bloc-activity__thumb" style="background-image: url('images/temp/ywm-activite-1.jpg');"></div>
								<div class="todo-activity__info">
									<div class="info-icon"> <span class="type-table"></span> </div>
									<h3 class="todo-activiy__title">Mur de coloriage au Parc Georges Brassens</h3>
									<p class="todo-activity__summary">Un coloriage géant. Les enfants sont en joie, c'est magique</p>
								</div>
								<div class="todo-activity__rating comments-note">
										<span class="comment-note__stars note-stars--4"></span>
									</div>
							</a>
							<a href="#" class="bloc-activity">
								<div class="bloc-activity__thumb" style="background-image: url('images/temp/ywm-activite-1.jpg');"></div>
								<div class="todo-activity__info">
									<div class="info-icon"> <span class="type-table"></span> </div>
									<h3 class="todo-activiy__title">Mur de coloriage au Parc Georges Brassens</h3>
									<p class="todo-activity__summary">Un coloriage géant. Les enfants sont en joie, c'est magique</p>
								</div>
								<div class="todo-activity__rating comments-note">
										<span class="comment-note__stars note-stars--4"></span>
									</div>
							</a>
						</div>
					</div>
				</div>
				<div class="ym-widget widget--readmore">
					<h4 class="ym-widget__title">à lire aussi</h4>
					<div class="ym-widget__content">
						<article class="article-summary categorie--miam">
							<div class="article-summary__content">
								<a href="#" class="ym-categories miam">Miam !</a>
								<h3 class="article-summary__title"><a href="#">5 brunchs à tester ce week-end à paris</a></h3>
								<div class="article-summary__publisher">
									<img src="images/temp/profil-pic-small-1.png" alt="">
									<p>Publié par <a href="#">Deedee</a></p>
								</div>
							</div>
						</article>
						<article class="article-summary categorie--truc-de-mums">
							<div class="article-summary__content">
								<a href="#" class="ym-categories truc-de-mums">Truc de mums</a>
								<h3 class="article-summary__title"><a href="#">Mercredi nous irons tous au bois</a></h3>
								<div class="article-summary__publisher">
									<img src="images/temp/profil-pic-small-2.png" alt="">
									<p>Publié par <a href="#">Lilas</a></p>
								</div>
							</div>
						</article>
						<article class="article-summary categorie--miam">
							<div class="article-summary__content">
								<a href="#" class="ym-categories miam">Miam !</a>
								<h3 class="article-summary__title"><a href="#">La pub décalée du jours mc do dépeint commme...</a></h3>
								<div class="article-summary__publisher">
									<img src="images/temp/profil-pic-small-3.png" alt="">
									<p>Publié par <a href="#">Julien</a></p>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="ym-widget widget--contact-author">
					<div class="ym-widget__content">
						<div class="contact-author" id="publish">
							<span class="contact-author__icon"><i></i></span>
							<h5 class="contact-author__title">Moi aussi je veux écrire dans YESWEMUM</h5>
							<a href="#" class="contact-author__link">Je contacte la rédactrice</a>
						</div>
					</div>
				</div>
			</div>
		</aside>
	</section>
</div>
@include('partials/modules/_modal-publisher.html')
@include('partials/_footer.html')
