.adresse-pic{
	height:180px;
	background-size:cover;
	background-position:center;
}
.pictures-slider__item{
	height:390px;
	background-size:cover;
	background-position:center;
}
.ym-bloc__image, .todo-activity__cover{
	background-size:cover;
	background-position:center;
}
.stats--adresses, .stats--avis , .stats--amis{
	cursor:pointer;
}
.coming-soon__resume > div.coming-soon__name {
      width: 55%;
}
.location-map{
	height:210px;
}
.ym-map .ym-map__container{
	background-image:none;
	background-color:#eeeeee;
}
.ym-result-container, .ym-result-row{
	width:100%;
}
.article-summary__thumbnail{
	background-position:center;
}
.ym-illustration-top{
	height:140px;
	//background-image:url(../images/illustrations/illustr_les_mums1.png);
	background-position:center;
	background-repeat:no-repeat;
	clear:both;
	background-size:cover;
}
.ym-illustration-top-amis{
	background-image:url(../images/illustrations/illustr_les_mums1.png);
}
.ym-illustration-top-les-mums{
	background-image:url(../images/illustrations/illustr_les_mums1.png);
}
.ym-illustration-top-adresses{
	background-image:url(../images/illustrations/illustr_layer_shops.png);
}
.form-button:disabled{

}
.login-submit:disabled, .form-button:disabled{
	background-color:#666;
}
.bloc-activity, .ym-tabs__links, .ym-search-result{
	cursor:pointer;
}
.bloc-activity{
	//margin-bottom:10px;
}
.invalidatedfield, .validatedfield, .forcedfield, .help {
//	background-image:url(/images_old/icon_invalid_field.png);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-right:13px;
	margin-left:8px;
	font-size:25px;
	line-height:25px;
}
.validatedfield {
	//background-image:url(/images_old/icon_valid_field.png);
}
.forcedfield {
	background-image:none;
}
.help {
	background-image:url(/images_old/icon_question_field.png);
}
#post_first_vote_pane{
	z-index:2000;
	background-color:rgba(255,255,255,0.7);
	width:100%;
	height:300vh;
	position:absolute;
	top:0px;
	padding-top:10px;
}
.request-familly__cancel{
	background-color:#CCC;
}
.ym-todo__activities{
	max-height:none;
}
.ym-nav-top .nav-top__link {
	margin: 0px 1.5em;
}
