@keyframes zoomIn {
    0% { transform: scale(0); opacity: 0;}
    80% { transform: scale(1); opacity: .8;}
    100% { transform: scale(5); opacity: .7;}
}

@keyframes leftToRight {
    0% { transform: translateX(-200px); visibility: hidden;}
    100% { transform: translateX(0); visibility: visible;}
}
