// Heroic Condensed Font
@font-face {
    font-family: 'heroic_condensedbold';
    src: url('../fonts/heroic-condensed/heroic_condensed_bold-webfont.eot');
    src: url('../fonts/heroic-condensed/heroic_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heroic-condensed/heroic_condensed_bold-webfont.woff2') format('woff2'),
         url('../fonts/heroic-condensed/heroic_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/heroic-condensed/heroic_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/heroic-condensed/heroic_condensed_bold-webfont.svg#heroic_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heroic_condensedregular';
    src: url('../fonts/heroic-condensed/heroic_condensed-webfont.eot');
    src: url('../fonts/heroic-condensed/heroic_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heroic-condensed/heroic_condensed-webfont.woff2') format('woff2'),
         url('../fonts/heroic-condensed/heroic_condensed-webfont.woff') format('woff'),
         url('../fonts/heroic-condensed/heroic_condensed-webfont.ttf') format('truetype'),
         url('../fonts/heroic-condensed/heroic_condensed-webfont.svg#heroic_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}