// Grid variables
$site-width: 1180px;
$grid-columns: 10;
$grid-max-width: 65em;

// Breakpoints
$breakpoint: "only screen and (min-width: 45em)";

.ym-ym-wrapper {
    width: 100%;
    max-width: $grid-max-width;
    margin: 0 auto;
}

.ym-wrapper:after,
.ym-row:after {
    @include clearfix();
}

[class*='ym-col-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
}

@for $i from 1 through $grid-columns {
    .ym-col-#{$i} {
        width: 100% / $grid-columns * $i;
    }
}


