// Icons
.ico {
    display: inline-block;

    &--todo {
        width: 28px; height: 36px;
        @include sprite(-302px, -255px);
    }

    &--todo-large {
        width: 82px; height: 61px;
        @include sprite(0, -106px);
    }

}
