@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin sprite($x, $y) {
	background-image: url('../images/ywm-sprite.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: $x $y;
}

// breakpoints
$S:		480px;
$SM:	768px;
$M:		1024px;
$L:		1280px;
// media queries
@mixin MQ($canvas) {
	@if $canvas == S {
		@media only screen and (max-width: $S) { @content; }
	}
	@else if $canvas == SM {
		@media only screen and (max-width: $SM) { @content; }
	}
	@else if $canvas == M {
		@media only screen and (max-width: $M) { @content; }
	}
	@else if $canvas == L {
		@media only screen and (min-width: $L) { @content; }
	}
}

// Affiche les icones
@mixin icons() {
	span {
		display: block;
		height: 44px;
		width: 44px;

		&.type-ateliers { @include sprite(-183px, 0); width: 52px; height: 58px;}
		&.type-spectacles { @include sprite(-234px, 0); width: 52px; height: 51px;}
		&.type-expos { @include sprite(-193px, -58px); width: 34px; height: 53px;}
		&.type-parents { @include sprite(-228px, -58px); width: 36px; height: 46px;}
		&.type-airs { @include sprite(-285px, 0); width: 50px; height: 57px;}
		&.type-loisirs { @include sprite(-314px, -61px); width: 50px; height: 59px;}
		&.type-cultures { @include sprite(-264px, -58px); width: 49px; height: 55px;}
		&.type-table { @include sprite(-335px, 0); width: 31px; height: 57px;}
		&.type-shopping { @include sprite(-366px, 0); width: 32px; height: 46px;}
		&.type-voyages { @include sprite(-151px, -45px); width: 34px; height: 50px;}
		&.type-pratique { @include sprite(-100px, -45px); width: 37px; height: 50px;}
	}
}

// Ajoute un contour au texte
@mixin textStroke($color, $width) {
	text-shadow: $color $width $width $width, $color (-$width) $width $width, $color (-$width) (-$width) $width, $color $width (-$width) $width;
}

// Animation au survol d'un lien
@mixin hoverLink() {
	transition: all 200ms ease-in-out;
}

// Titre avec icon et filet
@mixin titleSection($bgPositionX: 0, $bgPositionY: -108px) {
	background: transparent url('../../images/ywm-filet.png') center center repeat-x;
	text-align: center;

	span {
		display: inline-block;
		background: #FFF;
		padding: 1em;
		vertical-align: top;
		font-size: 1.875em;
		font-family: $hand-font;
		text-transform: lowercase;

		&::before {
			content: '';
			display: block;
			width: 82px;
			margin: 0 auto;
			height: 60px;
			@include sprite($bgPositionX, $bgPositionY)
		}
	}
}
