// PRIMARY COLORS
$primary-color: #C6E4D7;
$primary-color-text: #7fb2a3;
$primary-color-dark: #879C93;
$primary-color-light: #A2BBB0;

$highlight-color: #e5bb56;

$dark-color: #000;
$grey-color: #7e7e7e;
$light-color: #D1D1D1;

$p-color: #1b1b1b;
$link-color: #4e43a2 !default;
$bg-color: #FFF;

$btn-hover: #70DBAB;

// SECONDARY COLORS
$blue-color: #3e68c6;
$dark-blue-color: #2a4198;
$orange-color: #E87759;
$yellow-color: #E8C660;
$purple-color: #382C5B;
$green-color: #70DBAB;
$red-color: #ff5555;


// FONTS
$hand-font: 'Homemade Apple', cusrsive;
$sans-font: 'heroic_condensedregular';
$sans-font-bold: 'heroic_condensedbold';
$serif-font: Georgia, Times, 'Times New Roman', serif;
$serif-font-2: "Times New Roman", Times, Baskerville, Georgia, serif;

// RESPONSIVE
$small-screen: 640px;
$medium-screen: 1100px;
$large-screen: 1180px;

// Transition
$transition-elastic: cubic-bezier(0.6, -0.28, 0.735, 0.045); // Effet d'animation elastique
